= title
.row
  .col
    %h4
      Time Deposits
    .card
      .card-body
        - if @time_deposit_collections.any?
          = render partial: "index_list", locals: { time_deposit_collections: @time_deposit_collections }
          = paginate @time_deposit_collections
        - else
          %p
            No time_deposit_collections found

= render partial: "time_deposit_collections/modals/new_transaction"
= render partial: "templates/error_list"
= render partial: "templates/loader"
