#filter
  = form_tag member_account_validations_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
    .row
      .col-md-2
        .form-group
          %label
            Start Date
          = text_field_tag :start_date, params[:start_date], class: 'form-control', type: :date
      .col-md-2
        .form-group
          %label
            End Date
          = text_field_tag :end_date, params[:end_date], class: 'form-control', type: :date


      .col-md-2
        .form-group
          %label Member Name
          = text_field_tag :q, @q, placeholder: "Member Name", class: "form-control"
      .col-md-2
        .form-group
          %label Status
          = select_tag :status, options_for_select(MemberAccountValidation::STATUSES, @status), class: "form-control select-select2", prompt: "-- SELECT --"
      .col-md-2
        .form-group
          %label Branch 
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"



      .col-md-2
        .form-group
          %label Actions
          %br
          .ui.small.buttons
            = button_tag :submit, class: 'btn btn-primary' do
              .fa.fa-search
              Search
