%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th Date Prepared
      %th Branch
      %th Status
      %th Prepared By
      %th.text-end
        Total
  %tbody
    - member_account_validations.each do |member_account_validation|
      %tr{class: "#{member_account_validation.status == 'pending' || member_account_validation.status == 'reversed' || member_account_validation.status == 'for-approval' || member_account_validation.status == 'for-validation' ? 'negative' : 'positive'} clickable", data: { transaction_id: "#{member_account_validation.id}" } }
        %td.date-prepared
          = link_to member_account_validation_path(member_account_validation) do
            %strong
              %small
                #{member_account_validation.date_prepared}
        %td.branch
          = link_to member_account_validation_path(member_account_validation) do
            %strong
              #{member_account_validation.branch}
        %td.status.text-muted
          = member_account_validation.status
        %td.prepared-by.text-muted
          = member_account_validation.prepared_by
        %td.text-end
          %b
            = number_to_currency(member_account_validation.total, unit: '')
