%table.ui.small.table
  %thead
    %tr
      %th{width: "1%"}
      %th{width: "15%"} Member
      %th{width: "7%"} Member Type
      %th{width:"5%"} Classification
      %th{width:"12%"} Recognition Date (MII)
      %th{width:"12%"} Center
      - if member_account_validation.approved?
        %th Trans #
      %th{width:"5%"} Resignation Date
      %th.curr RF
      %th.curr 50% LIFE
      %th.curr Equity Interest
      %th.curr Advance LIFE
      %th.curr Advance RF
      %th.curr Interest
      - if !member_account_validation.total_policy_loan.nil? && member_account_validation.total_policy_loan > 0
        %th.curr Policy Loan
      %th.curr Total
      - if Settings.activate_microinsurance  
        %th View Files
      %th Actions
  %tbody
    - member_account_validation.member_account_validation_records.includes(:center, :member).order("members.last_name ASC").each_with_index do |member_account_validation_record, i|
      %tr
        %td #{i + 1}
        %td
          = link_to "#{member_account_validation_record.member.full_name}", member_path(member_account_validation_record.member), target: "_blank"
        %td
          #{member_account_validation_record.data.with_indifferent_access[:member_type]}
        %td
          #{member_account_validation_record.member_classification}  
        %td
          #{member_account_validation_record.member.data.with_indifferent_access[:recognition_date]}
        %td
          #{member_account_validation_record.center}
        - if member_account_validation_record.approved?
          %td
            #{member_account_validation_record.transaction_number}
        %td
          #{member_account_validation_record.resignation_date}  
        %td.curr
          #{number_to_currency(member_account_validation_record.rf, unit: "")}
        %td.curr
          #{number_to_currency(member_account_validation_record.lif_50_percent, unit: "")}
        %td.curr
          #{number_to_currency(member_account_validation_record.equity_interest, unit: "")}
        %td.curr
          #{number_to_currency(member_account_validation_record.advance_lif, unit: "")}
        %td.curr
          #{number_to_currency(member_account_validation_record.advance_rf, unit: "")}
        %td.curr
          #{number_to_currency(member_account_validation_record.interest, unit: "")}
        - if member_account_validation_record.policy_loan > 0
          %td.curr
            - if member_account_validation_record.policy_loan > 0
              (#{number_to_currency(member_account_validation_record.policy_loan, unit: "")})  
            - else
              #{number_to_currency(member_account_validation_record.policy_loan, unit: "")}  
        %td.curr
          #{number_to_currency(member_account_validation_record.total, unit: "")}
        - if Settings.activate_microinsurance  
          %td
            = link_to member_account_validation_files_path(member_account_validation,member_account_validation_record), target: "_blank", class: "btn btn", id: "btn-files" do
              .bi.bi-file-text
        %td
          = link_to member_account_validation_withdrawal_pdf_path(member_account_validation,member_account_validation_record), target: "_blank", class: "btn", id: "btn-print-pdf" do
            .bi.bi-printer-fill
  %thead
    %tr
      %th
      %th{width: "15%"} Total
      %th
      %th
      %th
      %th
      - if member_account_validation.approved?
        %th
      %th
      %th.curr #{number_to_currency(member_account_validation.total_rf, unit: "P")}
      %th.curr #{number_to_currency(member_account_validation.total_50_percent_lif, unit: "P")}
      %th.curr #{number_to_currency(member_account_validation.total_equity_interest, unit: "P")}
      %th.curr #{number_to_currency(member_account_validation.total_advance_lif, unit: "P")}
      %th.curr #{number_to_currency(member_account_validation.total_advance_rf, unit: "P")}
      %th.curr #{number_to_currency(member_account_validation.total_interest, unit: "P")}
      - if !member_account_validation.total_policy_loan.nil? && member_account_validation.total_policy_loan > 0
        %th.curr
          - if member_account_validation.total_policy_loan > 0
            (#{number_to_currency(member_account_validation.total_policy_loan, unit: "P")})
          - else
            #{number_to_currency(member_account_validation.total_policy_loan, unit: "P")}
      %th.curr #{number_to_currency(member_account_validation.total, unit: "P")}
      - if Settings.activate_microinsurance
        %th
      %th

