%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-file
    Member Account Validation Form
    %small
      #{@member_account_validation.date_prepared}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      .btn
        %strong
          #{link_to "Member Account Validations", member_account_validations_path}
    .btn-group
      .btn
        %strong
          #{link_to "Show", member_account_validation_path(@member_account_validation)}
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "form", locals: { member_account_validation: @member_account_validation }
          .message

#parameters{data: {member_account_validation_id: @member_account_validation.id, member_account_validation_status: @member_account_validation.status}}
= render partial: "templates/error_list"
= render partial: "member_account_validations/modals/member_cancel"
= render partial: "member_account_validations/modals/loading"

= javascript_include_tag "member_account_validation/MemberAccountValidationForm"

:javascript
  $(document).ready(function() {
    var $parameters                       = $("#parameters");
    var memberAccountValidationId         = $parameters.data('member-account-validation-id');
    var memberAccountValidationStatus     = $parameters.data('member-account-validation-status');
    var authenticityToken                 = $("meta[name='csrf-token']").attr('content');

    MemberAccountValidationForm.init({
      memberAccountValidationId: memberAccountValidationId,
      memberAccountValidationStatus: memberAccountValidationStatus,
      authenticityToken: authenticityToken
    });
  });
