.row
  .col
    .card
      .card-body
        %h4
          PSR for #{@record.branch.name}
          %small.text-muted
            #{@record.closing_date.strftime("%b %d, %Y")}
        %table.table.table-bordered.table-sm
          %tbody
            %tr
              %th
                Total Number of Active Members
              %td
                #{@record.data["active_total"]}
            %tr
              %th
                Female
              %td
                #{@record.data["active_female"]}
            %tr
              %th
                Male
              %td
                #{@record.data["active_male"]}
            %tr
              %th
                Pure Savers
              %td
                #{@record.data["pure_savers"]}
            %tr
              %th
                Active Borrowers
              %td
                #{@record.data["active_borrowers"]}
            %tr
              %th
                Admitted Members
              %td
                #{@record.data["admitted"]}
            %tr
              %th
                Resigned
              %td
                #{@record.data["resigned"]}
            %tr
              %th
                Percentage of Savers
              %td
                #{((@record.data["pure_savers"].to_f / @record.data["active_total"].to_f) * 100).round(2)}
            %tr
              %th
                Percentage of Borrowers
              %td
                #{((@record.data["active_borrowers"].to_f / @record.data["active_total"].to_f) * 100).round(2)}
            %tr
              %th
                Total number of active loans
              %td
                #{@record.data["total_active_loans"]}

            - @record.data["loans"].each do |loan_data|
              %tr
                %th
                  #{loan_data["loan_product"]["name"]}
                %td
                  #{loan_data["count"]}
