= title
.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        - if @adjustment_records.any?
          = render partial: "index_list"
          = paginate @adjustment_records
        - else
          %p
            No adjustment records found

= render partial: "adjustments/batch_moratorium_adjustments/modals/new"
= render partial: "templates/error_list"
