= form_tag "", method: 'GET' do
  .row
    .col-md-2
      .form-group
        %label
          Date Received Start
        = text_field_tag :start_date, params[:start_date], class: 'form-control', type: :date
    .col-md-2
      .form-group
        %label
          Date Receive End
        = text_field_tag :end_date, params[:end_date], class: 'form-control', type: :date
    .col-md-2
      .form-group
        %label
          Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
    .col-md-2
      .form-group
        %label
          Status
        = select_tag :status, options_for_select(ApiReceiveMember::STATUSES, @status), class: "form-control select-select2", id: "status-select", prompt: "-- SELECT --"
    .col-md-2
      .form-group
        %label
        .form-group
          .btn-group
            = button_tag type: 'submit', class: 'btn btn-primary btn-block d-flex align-items-center justify-content-center' do
              %span{ style: 'margin-right: 5px;' }
                SEARCH
              %i.bi.bi-search