= title
.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        %hr
        - if @trial_balances.any?
          = render partial: "list", locals: { trial_balances: @trial_balances }
          = paginate @trial_balances
        - else
          %p
            No records found

= render partial: "accounting/trial_balances/modals/new"
= render partial: "templates/error_list"
