= title
.row
  .col
    .card
      .card-body
        .table-responsive
          %table.table.table-bordered.table-sm
            %thead
              %tr
                %th
                  Accounting Code
                %th
                  Accounting Name
                %th.text-end
                  Beginning DR
                %th.text-end
                  Beginning CR
                %th.text-end
                  Current DR
                %th.text-end
                  Current CR
                %th.text-end
                  Ending DR
                %th.text-end
                  Ending CR
            %tbody
              - @data["entries"].each do |o|
                %tr
                  %td
                    %strong
                      #{o["code"]}
                  %td
                    %strong
                      #{o["name"]}
                  %td.text-end
                    = number_to_currency(o["beginning_debit"], unit: "")
                  %td.text-end
                    = number_to_currency(o["beginning_credit"], unit: "")
                  %td.text-end
                    = number_to_currency(o["current_debit"], unit: "")
                  %td.text-end
                    = number_to_currency(o["current_credit"], unit: "")
                  %td.text-end
                    = number_to_currency(o["ending_debit"], unit: "")
                  %td.text-end
                    = number_to_currency(o["ending_credit"], unit: "")

= render partial: "accounting/trial_balances/modals/delete"
= render partial: "templates/error_list"
