%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th
        Date
      %th
        Branch
      %th.text-center
        Status
      %th.text-center
        Started
      %th.text-center
        Last Updated
  %thead
    - @records.each do |o|
      %tr
        %td.text-center
          %strong
            = link_to "/data_stores/claims_counts/#{o.id}" do
              .fa.fa-search
        %td
          %strong
            #{o.as_of.to_date.strftime("%b %d, %Y")}
        %td
          #{o.meta["branch_name"]}
        %td.text-center
          - if o.processing?
            .badge.badge-info
              Processing
          - elsif o.done?
            .badge.badge-success
              Done
          - elsif o.error?
            .badge.badge-danger
              Error
        %td.text-center
          %small
            #{o.created_at.localtime}
        %td.text-center
          %small
            #{o.updated_at.localtime}
