%table.table.table-sm.table-bordered
  %tr
    %th
      Member
      = select_tag :member, options_for_select(@member_list_item), class: "form-control select-select2", id: "select-member", prompt: "-- SELECT --"
    
    %th 
      Action
      %button#btn-add.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}" } }
        Add

  %tr
  %tr
    %th 
      Particular
      = text_field_tag :particular, "#{@data_store.data['accounting_entry']['particular']}", class: "form-control", id: "particular"
    %th
      Action
      %button#btn-add-particular.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}"  } }
        Save
  %tr     
    %th
      Service Invoice
      = text_field_tag :si_number, "#{@data_store.data['accounting_entry']['si_number']}", class: "form-control", id: "si_number"
    %th
      Action
      %button#btn-add-si.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}"  } }
        Save

  %tr
    %th
      Book
      = select_tag :book_type, options_for_select(["CRB" , "JVB"]), class: "form-control select-select2", id: "book_type" , prompt: "#{@data_store.data['accounting_entry']['book']}"
    %th
      Action
      %button#btn-add-book.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}"  } }
        Save 