%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th{ width: "30%" }
        Member
      - @data[:header].each do |o , i|
        %th
          #{o[:name]}
      %th
        Cash Payment
      %th
        Total Payment
  %tbody
    - @data_view.each_with_index do |o, i|
      %tr
        %td
          = link_to member_path(o[:member_id]), target: "_blank" do
            %strong
              #{o[:name]}
          - o[:loan_data].each do |loan_data|
            %td.text-right
              %a.undo{ data: {
                  member_name:  o[:name],
                  loan_id: loan_data[:loan_id],
                  loan_type: loan_data[:name],
                  payment_amount: loan_data[:amount],
                  member_id: o[:member_id]
                }, 
              :href => "#"
              }
                #{number_to_currency(loan_data[:amount] , unit: '')}
        %td.text-right
          #{number_to_currency(0.0, unit: '')}
        %td.text-right
          #{number_to_currency(0.0, unit: '')}
