= title
.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        - if @records.any?
          = render partial: "index_list"
          = paginate @records
        - else
          %p
            No records found


= render partial: "billing_for_writeoff_collections/modals/new"
