%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      - if microinsurance?
        %th
          Partners Reference Number
        %th
          Date Created
        %th
          Date Approved
      %th
        Collection Date
      %th
        Branch
      %th
        From
      %th.text-end
        Amount Collected
      %th
        %center
          Status
      - if microinsurance?
        %th
          %center
            Finalize Stat
  %tbody
    - @insurance_fund_transfer_collections.each do |o|
      %tr
        - if microinsurance?
          %td
            = link_to insurance_fund_transfer_collection_path(o) do
              %strong
                #{o.data.with_indifferent_access["reference_number"]}
          %td
            = link_to insurance_fund_transfer_collection_path(o) do
              %strong
                #{o.created_at.strftime("%b %d, %Y")}
          - if !o.date_approved.nil?
            %td
              = link_to insurance_fund_transfer_collection_path(o) do
                %strong
                  #{o.date_approved.strftime("%b %d, %Y")}
          - else
            %td
              =nil
        %td
          = link_to insurance_fund_transfer_collection_path(o) do
            %strong
              #{o.collection_date.strftime("%b %d, %Y")}
        %td
          #{o.branch}
        %td
          #{o.data.with_indifferent_access["api_from"]}
        %td.text-end
          %strong
            #{number_to_currency(o.total_collected, unit: "")}
        %td
          %center
            - if o.pending?
              .badge.bg-secondary
                Pending
            - elsif o.approved?
              .badge.bg-success
                Approved
        - if microinsurance?
          %td
            %center
              - if o.pending? && o.finalized?
                .badge.bg-primary
                  For Approval
              - elsif o.pending? && !o.finalized?
                .badge.bg-warning
                  For Finalize
              - elsif o.approved?
                .badge.bg-success
                  Approved
