= title
.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        - if @insurance_fund_transfer_collections.any?
          = render partial: "index_list", locals: { insurance_fund_transfer_collections: @insurance_fund_transfer_collections }
          = paginate @insurance_fund_transfer_collections
        - else
          %p
            No insurance_fund_transfer_collections found

= render partial: "insurance_fund_transfer_collections/modals/new_transaction"
= render partial: "templates/error_list"
= render partial: "templates/loader"

#parameters{ data: { controller: "#{params[:controller]}", action: "#{params[:action]}" } }
