= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          - if @insurance_fund_transfer_collection.pending?
            .callout.callout-info
              %p
                Pindutin ang amount upang baguhin ito.
          %h5
            Insurance Fund Transfer Collection for #{@insurance_fund_transfer_collection.branch} / #{@insurance_fund_transfer_collection.center} - #{@insurance_fund_transfer_collection.collection_date.strftime("%b %d, %Y")}
          #insurance-fund-transfer-collection-content

          - if debug?
            %pre
              %code
                #{JSON.pretty_generate(JSON.parse(@insurance_fund_transfer_collection.to_json))}

= render partial: "shared/modals/print"
= render partial: "insurance_fund_transfer_collections/modals/approve"
= render partial: "templates/error_list"

#parameters{ data: { id: @insurance_fund_transfer_collection.id } }

= javascript_include_tag "InsuranceFundTransferCollectionUI.min.react"
= javascript_include_tag "insurance_fund_transfer_collections/Show"

:javascript
  $(document).ready(function() {
    var $parameters                       = $("#parameters");
    var insuranceFundTransferCollectionId = $parameters.data('id');
    var authenticityToken                 = $("meta[name='csrf-token']").attr('content');

    Show.init({
      insuranceFundTransferCollectionId: insuranceFundTransferCollectionId, 
      authenticityToken: authenticityToken
    });
  });
