- if !is_bk?
  .row
    .col-md-12
      .form-group
        .h2
          %label CLIP INFORMATION 
          %label
          %label  
            %button.btn.btn-sm.btn-primary.btn-block
              Pending
  - if @kpf_loan_clip.records_count == 0
    .card
      .card-body
        .row
          .col-md-12
            .form-group
              .h3 
                %label Loan Information
            %hr
            .row
              .col-md-12
                .row
                  .col-md-3
                    .form-group
                      %label Member
                      = select_tag :member, options_from_collection_for_select(@members, :id, :full_name), id: 'select-member', class: 'form-control'
                  .col-md-3  
                    .form-group
                      %label Loan Product        
                      = select_tag :loan_product_id, options_for_select(["Calamity loan","Educational loan","Emergency loan","Housing Loan","Multi Purpose Loan","Project loan","Regular Loan","Utility loan"], @loan_product_id), id: 'input-loan-product-id', class: 'form-control'
                  .col-md-3
                    .form-group
                      %label Principal      
                      = text_field_tag :principal, @principal, id: 'input-principal', class: 'form-control'
                  .col-md-3
                    .form-group
                      %label Term        
                      = select_tag :term, options_for_select(["weekly", "monthly", "semi-monthly"], @term), id: 'input-term', class: 'form-control'
                  .col-md-3
                    .form-group
                      %label  Term (in Months)
                      = select_tag :num_installments, options_for_select([ 3, 6, 9, 12], @num_installments), id: 'input-num-installments', class: 'form-control'
                  / .col-md-3
                  /   .form-group
                  /     %label Num Installments      
                  /     = text_field_tag :num_installments, @num_installments, id: 'input-num-installments', class: 'form-control'
                  .col-md-3
                    .form-group
                      %label Effective Date
                      = date_field_tag :effective_date, @effective_date, id: 'input-effective-date', class: 'form-control' 
                  .col-md-3
                    .form-group
                      %label Maturity Date
                      = date_field_tag :maturity_date, @maturity_date, id: 'input-maturity-date', class: 'form-control'  
                  .col-md-3
                    .form-group
                      %label CLIP Number
                      = text_field_tag :clip_number, @clip_number, id: 'input-clip-number', class: 'form-control'
                  .col-md-3
                    .form-group
                      %label CLIP Beneficiary
                      = text_field_tag :beneficiary, @beneficiary, id: 'input-beneficiary', class: 'form-control'
                .row
                  .col-md-3
                    .form-group
                      %label
                        Or Number
                      = text_area_tag :or_number, @or_number, id: 'input-or-number', class: 'form-control'
                  .col-md-3
                    .form-group
                      %label
                        Ar Number
                      = text_area_tag :ar_number, @ar_number, id: 'input-ar-number', class: 'form-control'
                  .col-md-2
                    .form-group
                      %br
                        %label
                          Actions
                        %button#btn-update-or-ar-number.btn.btn-info.btn-block
                          .fa.fa-plus
                          Save Or/Ar Number
                       
            %br
            .row
              .col-md-6
                .form-group
                  %button#btn-add.btn.btn-primary.btn-block
                    .fa.fa-plus
                    Add Clip                      
        
- if @kpf_loan_clip.approved?
  .row
    .col-md-2
      .form-group
        %label
          Actions
        %button#btn-add.btn.btn-info.btn-block
          .fa.fa-plus
          RENEW