%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
        Certificate Number
      %th
        Member
      %th
        Branch
  %tbody
    - @member_shares.each do |o|
      %tr
        %td
          = link_to member_member_share_path(o.member, o.id) do
            #{o.certificate_number}
        %td
          = link_to member_path(o.member.id) do
            #{o.member.full_name}
        %td
          #{o.member.branch}
