= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          .row
            .col
              %h5
                Non-printed Certificates (#{@member_shares.count})
              - if @member_shares.size > 0
                = render partial: "list"
                = paginate @member_shares
              - else
                %p
                  No certificates found
            .col
              %h5
                Members Without Certificates (#{@members.count})
              %table.table.table-sm.table-bordered
                %thead
                  %tr
                    %th
                      Member
                    %th
                      Branch
                %tbody
                  - @members.each do |m|
                    %tr
                      %td
                        = link_to member_path(m.id), target: '_blank' do
                          #{m.full_name}
                      %td
                        #{m.branch.to_s}
