= render partial: "no_certificates_header"
.container-fluid
  .row
    .col
      .card
        .card-body 
          = form_tag "", method: 'GET' do
            .row
              .col-md-2
                .form-group
                  %label
                    Equity Payment Start Date
                  = text_field_tag :start_date, params[:start_date], class: 'form-control', type: :date
              .col-md-2
                .form-group
                  %label
                    Equity Payment End Date
                  = text_field_tag :end_date, params[:end_date], class: 'form-control', type: :date
              .col-md-2
                .form-group
                  %label
                    SATO
                  = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --" 
              .col-md-2
                .form-group
                  %label
                    Center
                  = select_tag :center_id, options_from_collection_for_select(Center.where(branch_id: @branches.pluck(:id)).order(:name), :id, :name, @center), class: "form-control select-select2", id: "center-select", prompt: "-- SELECT --"
              .col-md-2
                .form-group
                  %label
                    Actions
                  = button_tag type: 'submit', class: 'btn btn-info btn-block' do
                    .fa.fa-search
              
.container-fluid
  .row
    .col
      .card
        .card-body 
          .row
            %h5
              Pending Certificate
  
            -if @data != nil
              %table.table.table-sm.table-bordered
                %thead
                  %tr
                    %th
                      Number
                    %th
                      Member
                    %th
                      SATO
                    %th
                      Center
                    %th
                      Shares Printed
                    %th
                      SATO
                    %th
                      Last Payment - Equity
                %tbody
                  - @data[:sfp].each_with_index do |sfp, i|
                    %tr
                      %td 
                        #{i + 1} 
                      %td
                        = link_to member_path(sfp[:id]), target: '_blank' do
                          #{sfp[:full_name]}
                      %td
                        #{sfp[:branch]}
                      %td
                        #{sfp[:center]}
                      %td
                        #{sfp[:shares_printed]}
                      %td
                        #{sfp[:shares_for_printing]}
                      %td
                        #{sfp[:eq_date]}
