%h5
  Generated As Of: #{@record.meta.with_indifferent_access[:as_of].to_date.strftime("%B %d, %Y")}
  %br
  From: #{@record.meta.with_indifferent_access[:start_date].to_date.strftime("%B %d, %Y")}
  To: #{@record.meta.with_indifferent_access[:end_date].to_date.strftime("%B %d, %Y")}
%table.table.table-bordered.table-hover.table-sm
  %tr
    %th.text-center
      Branch
    %th.text-center
      All Inforce
    %th.text-center
      All Female Inforce
    %th.text-center
      All Male Inforce
    %th.text-center
      All Lapsed
    %th.text-center
      All Female Lapsed
    %th.text-center
      All Male Lapsed
    %th.text-center
      Total Female inforce/lapsed
    %th.text-center
      Total Male inforce/lapsed
    %th.text-center
      All Dormant
    %th.text-center
      All Female Dormant
    %th.text-center
      All Male Dormant
    %th.text-center
      All Resigned
    %th.text-center
      All GK
    %th.text-center
      GK YTD
    %th.text-center
      GK Male TYD
    %th.text-center
      GK Female YTD
    %th.text-center
      Active MFI - Resigned MII Members
    %th.text-center
      Pending
    %th.text-center
      New Members
    %th.text-center
      New Male Members
    %th.text-center
      New Female Members
    %th.text-center
      Resigned YTD
    %th.text-center
      New Resigned YTD
    %th.text-center
      Female New Resigned YTD
    %th.text-center
      Male New Resigned YTD
    %th.text-center
      Old Resigned YTD 
    %th.text-center
      Old Female Resigned YTD 
    %th.text-center
      Old Male Resigned YTD 
    %th.text-center
      Resigned MFI - Inforce
    %th.text-center
      Resigned MFI - Lapsed
    %th.text-center
      Resigned MFI - Dormant
    %th.text-center
      Spouse
    %th.text-center
      Valid Dependent
    %th.text-center
      Spouse YTD
    %th.text-center
      Valid Dependent YTD
    %th.text-center
      Single
    %th.text-center
      Single Male
    %th.text-center
      Single Female
    %th.text-center
      Married
    %th.text-center
      Married Male
    %th.text-center
      Married Female
    %th.text-center
      May Kinakasama
    %th.text-center
      May Kinakasama Male
    %th.text-center
      May Kinakasama Female
    %th.text-center
      Hiwalay
    %th.text-center
      Hiwalay Male
    %th.text-center
      Hiwalay Female
    %th.text-center
      Biyuda/o
    %th.text-center
      Biyuda/o Male
    %th.text-center
      Biyuda/o Female
    %th.text-center
      0-3 Mos
    %th.text-center
      3 Mos - 1 Yr
    %th.text-center
      1 Yr - 2 Yrs
    %th.text-center
      2 Yrs - 3 Yrs
    %th.text-center
      3 Yrs Above
    %th.text-center
      Member Benefit 0-3 Mos
    %th.text-center
      Member Benefit 3 Mos - 1 Yr
    %th.text-center
      Member Benefit 1 Yr - 2 Yrs
    %th.text-center
      Member Benefit 2 Yrs - 3 Yrs
    %th.text-center
      Member Benefit 3 Yrs Above
    / %th.text-center
    /   Dependent Benefit 0-3 Mos
    / %th.text-center
    /   Dependent Benefit 3 Mos - 1 Yr
    / %th.text-center
    /   Dependent Benefit 1 Yr - 2 Yrs
    / %th.text-center
    /   Dependent Benefit 2 Yrs - 3 Yrs
    / %th.text-center
    /   Dependent Benefit 3 Yrs Above
  
  %tr
    - @data[:members].each_with_index do |o|
      %tr
        %td.text-center
          #{o["branch"]}
        %td.text-center
          #{o["active_inforce_count"]}
        %td.text-center
          #{o["female_inforce_count"]}
        %td.text-center
          #{o["male_inforce_count"]}
        %td.text-center
          #{o["active_lapsed_count"]}
        %td.text-center
          #{o["female_lapsed_count"]}
        %td.text-center
          #{o["male_lapsed_count"]}
        %td.text-center
          #{o["female_count"]}
        %td.text-center
          #{o["male_count"]}
        %td.text-center
          #{o["active_dormant_count"]}
        %td.text-center
          #{o["female_dormant_count"]} 
        %td.text-center
          #{o["male_dormant_count"]} 
        %td.text-center
          #{o["all_resigned_count"]}
        %td.text-center
          #{o["gk_count"]}
        %td.text-center
          #{o["gk_count_ytd"]}
        %td.text-center
          #{o["gk_count_male"]}
        %td.text-center
          #{o["gk_count_female"]}
        %td.text-center
          #{o["active_resigned_insurance"]}
        %td.text-center
          #{o["pending"]}
        %td.text-center
          #{o["new_count"]}
        %td.text-center
          #{o["new_count_male"]}
        %td.text-center
          #{o["new_count_female"]}
        %td.text-center
          #{o["resigned_ytd_count"]}
        %td.text-center
          #{o["resigned_count"]}
        %td.text-center
          #{o["female_resigned_count"]}
        %td.text-center
          #{o["male_resigned_count"]}
        %td.text-center
          #{o["resigned_old_count"]}
        %td.text-center
          #{o["resigned_old_female_count"]}
        %td.text-center
          #{o["resigned_old_male_count"]}
        %td.text-center
          #{o["resigned_inforce_count"]}
        %td.text-center
          #{o["resigned_lapsed_count"]}
        %td.text-center
          #{o["resigned_dormant_count"]}  
        %td.text-center
          #{o["member_with_spouse_count"]}
        %td.text-center
          #{o["valid_dependent_count"]}
        %td.text-center
          #{o["member_with_spouse_ytd_count"]}
        %td.text-center
          #{o["valid_dependent_ytd_count"]}
        %td.text-center
          #{o["single"]}
        %td.text-center
          #{o["single_male_members"]}
        %td.text-center
          #{o["single_female_members"]}
        %td.text-center
          #{o["married"]}
        %td.text-center
          #{o["married_male_members"]}
        %td.text-center
          #{o["married_female_members"]}
        %td.text-center
          #{o["maykinakasama"]}
        %td.text-center
          #{o["maykinakasama_male_members"]}
        %td.text-center
          #{o["maykinakasama_female_members"]}
        %td.text-center
          #{o["hiwalay"]}
        %td.text-center
          #{o["hiwalay_male_members"]}
        %td.text-center
          #{o["hiwalay_female_members"]}
        %td.text-center
          #{o["biyuda"]}
        %td.text-center
          #{o["biyuda_male_members"]}
        %td.text-center
          #{o["biyuda_female_members"]}
        %td.text-center
          #{o["length_of_stay_member_3m_count"]}
        %td.text-center
          #{o["length_of_stay_member_3m_1yr_count"]}
        %td.text-center
          #{o["length_of_stay_member_1yr_2yr_count"]}
        %td.text-center
          #{o["length_of_stay_member_2yrs_3yr_count"]}
        %td.text-center
          #{o["length_of_stay_member_3yr_above_count"]}
        %td.text-center
          #{o["length_of_stay_member_benefit_3m_count"]}
        %td.text-center
          #{o["length_of_stay_member_benefit_3m_1yr_count"]}
        %td.text-center
          #{o["length_of_stay_member_benefit_1yr_2yr_count"]}
        %td.text-center
          #{o["length_of_stay_member_benefit_2yrs_3yr_count"]}
        %td.text-center
          #{o["length_of_stay_member_benefit_3yr_above_count"]}
   
  %tr
    %td.text-center
      Total Counts
    %td.text-center
      #{@data[:total_members][0]["total_active_inforce"]}
    %td.text-center
      #{@data[:total_members][0]["total_inforce_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_inforce_male"]}
    %td.text-center  
      #{@data[:total_members][0]["total_active_lapsed"]}
    %td.text-center
      #{@data[:total_members][0]["total_lapsed_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_lapsed_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_male"]}
    %td.text-center  
      #{@data[:total_members][0]["total_active_dormant"]}
    %td.text-center
      #{@data[:total_members][0]["total_dormant_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_dormant_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_all_resigned"]}
    %td.text-center  
      #{@data[:total_members][0]["total_gk"]}
    %td.text-center  
      #{@data[:total_members][0]["total_gk_ytd"]}
    %td.text-center  
      #{@data[:total_members][0]["total_gk_male"]}
    %td.text-center  
      #{@data[:total_members][0]["total_gk_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_active_resigned_insurance"]}
    %td.text-center
      #{@data[:total_members][0]["total_pending"]}
    %td.text-center
      #{@data[:total_members][0]["total_new"]}
    %td.text-center
      #{@data[:total_members][0]["total_new_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_new_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned_ytd"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned_old"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned_old_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned_old_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned_inforce"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned_lapsed"]}
    %td.text-center
      #{@data[:total_members][0]["total_resigned_dormant"]}
    %td.text-center
      #{@data[:total_members][0]["total_with_spouse"]}
    %td.text-center
      #{@data[:total_members][0]["total_valid_dependent"]}
    %td.text-center
      #{@data[:total_members][0]["total_with_spouse_ytd"]}
    %td.text-center
      #{@data[:total_members][0]["total_valid_dependent_ytd"]}
    %td.text-center
      #{@data[:total_members][0]["total_single"]}
    %td.text-center
      #{@data[:total_members][0]["total_single_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_single_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_married"]}
    %td.text-center
      #{@data[:total_members][0]["total_married_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_married_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_maykinakasama"]}
    %td.text-center
      #{@data[:total_members][0]["total_maykinakasama_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_maykinakasama_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_hiwalay"]}
    %td.text-center
      #{@data[:total_members][0]["total_hiwalay_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_hiwalay_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_biyuda"]}
    %td.text-center
      #{@data[:total_members][0]["total_biyuda_male"]}
    %td.text-center
      #{@data[:total_members][0]["total_biyuda_female"]}
    %td.text-center
      #{@data[:total_members][0]["total_length_of_stay_member_3m"]}
    %td.text-center
      #{@data[:total_members][0]["total_length_of_stay_member_3m_1yr"]}
    %td.text-center
      #{@data[:total_members][0]["total_length_of_stay_member_1yr_2yr"]}
    %td.text-center
      #{@data[:total_members][0]["total_length_of_stay_member_2yrs_3yr"]}
    %td.text-center
      #{@data[:total_members][0]["total_length_of_stay_member_3yr_above"]}
    %td.text-center
      #{@data[:total_members][0]["total_member_3m_benefit"]}
    %td.text-center
      #{@data[:total_members][0]["total_member_3m_1yr_benefit"]}
    %td.text-center
      #{@data[:total_members][0]["total_member_1yr_2yr_benefit"]}
    %td.text-center
      #{@data[:total_members][0]["total_member_2yr_3yr_benefit"]}
    %td.text-center
      #{@data[:total_members][0]["total_member_3yr_above_benefit"]}

/ %hr
/ %ul.nav.nav-tabs{:role => "tablist"}
/   %li.nav-item
/     %a.nav-link.active.show{"aria-selected" => "true", "data-bs-toggle" => "tab", :href => "#active-members", :role => "tab"}
/       Uploaded Documents Counts (#{@data[:percentage]})  

