%table#data-table.display.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th
        Name
      %th
        Short Name
      %th
        Center Count
      %th
        Actions
  %tbody
    - @branches.each do |branch|
      %tr
        %td
          #{branch.name.upcase}
        %td
          #{branch.short_name.upcase}
        %td
          #{branch.centers.count}

        %td
          .btn-group
            = link_to administration_branch_path(branch), class: 'btn btn-sm btn-primary' do
              .fa.fa-search
              Show
            = link_to edit_administration_branch_path(branch), class: 'btn btn-sm btn-info' do
              .fa.fa-pencil-alt
              Edit
