- @data = @record.data.with_indifferent_access
= title @record.id

#parameters{ data: { id: "#{@record.id}" } }
= render partial: "show_header"
.container-fluid
  .row
    .col
      .card
        .card-body
          - if @record.error?
            = render partial: "data_stores/error_page"
          - else
            #display
            = render partial: "accounting_entry_display", locals: { accounting_entry: @record.data["accounting_entry"].with_indifferent_access }
            = javascript_include_tag "IcprShow.min.react.js"
= render partial: "/data_stores/icpr/modals/set_rate"
= render partial: "/data_stores/icpr/modals/approve"
= javascript_include_tag "data_stores/icpr/Show.js"


:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');
    var id                = $("#parameters").data('id');

    Show.init({
      id: id,
      authenticityToken: authenticityToken
    });
  });
