- if @claim.pending?
  = link_to new_claim_claim_attachment_file_path(@claim), class: "btn btn-primary btn-sm" do
    .fa.fa-plus
    New Claim Attachment File
%hr
- if @claim.claim_attachment_files.size == 0
  %p
    No attachment files for this claim
- else
  - @claim.claim_attachment_files.each do |claim_attachment_file|
    - if claim_attachment_file.files.attached?        
      / = image_tag rails_blob_path(claim_attachment_file.file, disposition: "attachment", only_path: true), width: "1100", height: "1000"
      / %br
      / = link_to claim_attachment_file.file.record_id, rails_blob_path(claim_attachment_file.file, disposition: "attachment")
      - claim_attachment_file.files.each do |file|
        %div{:style => "width: 1000px; height: 1000px;"}
          %b
            .h3
              #{file.blob.filename.base}
          = image_tag rails_blob_path(file, disposition: "attachment", only_path: true), width: "1100px", height: "1000px"
        %br
        %br
        %hr
    - else
      %p
        No image found
    - if @claim.pending? || @claim.for_posting? || @claim.approved?
      = link_to edit_claim_claim_attachment_file_path(@claim, claim_attachment_file), class: 'btn btn-warning btn-sm' do
        .fa.fa-pencil-alt
        Edit
      = link_to claim_claim_attachment_file_path(@claim, claim_attachment_file), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Are you sure?" } do
        .fa.fa-times
        Delete