- if @claim.claim_type == "BLIP"
  = render partial: "claims/header/blip_header"
- elsif @claim.claim_type == "CLIP"
  = render partial: "claims/header/clip_header"
- elsif @claim.claim_type == "HIIP"
  = render partial: "claims/header/hiip_header"
- elsif @claim.claim_type == "K-KALINGA"
  = render partial: "claims/header/kalinga_header"
- elsif @claim.claim_type == "CALAMITY ASSISTANCE"
  = render partial: "claims/header/calamity_header"
- elsif @claim.claim_type == "K-BENTE"
  = render partial: "claims/header/kbente_header"
- elsif @claim.claim_type == "KUYA JUN SCHOLARSHIP PROGRAM"
  = render partial: "claims/header/scholarship_header"