%table#data-table.display.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th
        Date Prepared
      %th
        Type of Claim
      %th
        Branch
      %th
        Member Name 
      %th
        Status
  %tbody
    - @claims.each do |claim|
      %tr
        %td
          #{claim.date_prepared.try(:strftime, "%B %d, %Y")}
        %td
          #{claim.claim_type}
        %td
          = link_to claim_path(claim) do
            %strong
              #{claim.branch.name}
        - if claim.checker == 0
          %td
            = link_to claim_path(claim) do
              %strong
                /#{claim.member.full_name}
                =nil
        - else
          %td
            = link_to edit_claim_path(claim) do
              %strong
                /#{claim.member.full_name}
                =nil
        - if claim.status == "pending"
          %td
            for checking
        - elsif claim.status == "for-approval"
          %td
            for approval
        - elsif claim.status == "for-posting"
          %td
            for posting
        - elsif claim.status == "approved"
          %td
            posted