%table#data-table.display.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th
        Member
      %th
        Branch
      %th
        Name Insured
      %th
        Insurance Policy
      %th
        Classification 
      %th
        Face Amount
      %th
        Date Prepared
  %tbody
    - @claims.each do |claim|
      %tr
        %td
          = link_to claim_path(claim) do
            %strong
              #{claim.member.full_name}
        %td
          #{claim.branch.name}
        %td
          #{claim.name_of_insured}
        %td
          #{claim.type_of_insurance_policy}
        %td 
          #{claim.classification_of_insured}
        %td 
          #{claim.face_amount}
        %td
          #{claim.date_prepared.strftime("%B %d, %Y")}