%table#data-table.display.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th
        Date Prepared
      %th
        Type of Claim
      %th
        Branch
      %th
        Member Name 
      %th
        Status
  %tbody
    - @claims.each do |claim|
      %tr
        %td
          #{claim.date_prepared.try(:strftime, "%B %d, %Y")}
        %td
          - if claim.clip?
            #{claim.claim_type} (#{claim.data.with_indifferent_access[:type_of_loan].try(:titleize)})
          - else  
            #{claim.claim_type}
        %td
          %strong
            #{claim.branch.name}
        - if claim.checker == 0
          %td
            = link_to claim_path(claim) do
              %strong
                - if claim.kalinga?
                  - if claim.member.check_name == claim.data.with_indifferent_access[:name_of_insured]
                    #{claim.member.try(:full_name)}
                  - else
                    #{claim.member.try(:full_name)} (#{claim.data.with_indifferent_access[:name_of_insured].try(:titleize)})
                - else
                  #{claim.member.try(:full_name)}
        - else
          %td
            = link_to edit_claim_path(claim) do
              %strong
                - if claim.kalinga?
                  - if claim.member.check_name == claim.data.with_indifferent_access[:name_of_insured]
                    #{claim.member.try(:full_name)}
                  - else
                    #{claim.member.try(:full_name)} (#{claim.data.with_indifferent_access[:name_of_insured].try(:titleize)})
                - else
                  #{claim.member.try(:full_name)}
        - if claim.status == "pending"
          %td
            for checking
        - elsif claim.status == "for-approval"
          %td
            for approval
        - elsif claim.status == "for-posting"
          %td
            for posting
        - elsif claim.status == "approved"
          %td
            posted
        - elsif claim.status == "processing"
          %td
            processing