:css
  .print-text {
    font-size: 1.7em;
    font-family: arial;
  }

  .print-text-book {
    font-size: 1.4em;
    font-family: arial;
  }

  .print-text-sub {
    font-size: .8em;
    font-family: arial;
  }

  .signatories{
    width: 100%;
  }

  #kmba{
    padding: -5px 5px 5px 5px;
    width: 20%;
  }

  .body1{
    width: 100%;
    padding: 0px 0px 0px 45px;
  }
 
  .body2{
    width: 100%;
  }


%span.print-text
  %left
    = image_tag("kmba.ico", :alt => "kmba img", id: "kmba")
  %br
    - if !@claim.date_reported.nil?
      #{@claim.date_reported.strftime("%b %d, %Y")}
    - else
      #{@claim.date_prepared.strftime("%b %d, %Y")}
  %left
    - if @cluster.id == "4350b839-9774-4b0a-a79b-f71409ad6d2b" 
      %p
        %b
          CEBU ARCHDIOCESAN PROGRAM FOR SELF RELIANCE INC.-CAPS-R
        %br
          %b
            Cebu Caritas Building, P. Gomez St., Cebu City, Philippines
    - elsif @cluster.id == "168eb8bf-59b4-4401-9498-79c87b3c01d4"
      %p
        %b
          JAIME V. ONGPIN MICROFINANCE FOUNDATION INC. (JVOMFI)
        %br
          %b
            Baguio City, Philippines
    - else
      %p
        %b
          KASAGANA-KA CREDIT AND SAVING COOPERATIVE
        %br
          %b
            5 Don Francisco St. Don Enrique Hiehgts , Quezon City
    %p
      Attention:
      %br
      .body1
        Re:    
        %table{:border => "0"}
          %tr
            %td{:width => "21%"}
              Name of Member:
            %td{:width => "25%"}
              %u
                #{@claim.member.check_name}
          %tr
            %td{:width => "21%"}
              Name of Loss Assured:
            %td{:width => "25%"}
              %u  
                #{@claim.name_of_insured}  
          %tr
            %td{:width => "21%"}
              Classification:
            %td{:width => "25%"}
              %u  
                #{@claim.classification_of_insured}
          %tr
            %td{:width => "21%"}
              Recognition Date:
            %td{:width => "25%"}
              %u  
                #{@claim.date_of_policy_issue.try(:strftime, "%B %d, %Y")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Life:
            %td{:width => "25%"}
              %u  
                // #{@claim.equity_value}
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@claim.equity_value, precision: 2), delimiter: ",", separator: ".")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          %tr
            %td{:width => "21%"}
              RF:
            %td{:width => "25%"}
              %u  
                //#{@claim.retirement_fund}
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@claim.retirement_fund, precision: 2), delimiter: ",", separator: ".", unit: "")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          %tr
            %td{:width => "21%"}
              Cause of Death:
            %td{:width => "25%"}
              %u  
                #{@claim.cause_of_death_tpd_accident}
          %tr
            %td{:width => "21%"}
              Date of Death/TPD/MVAH:
            %td{:width => "25%"}
              %u  
                #{@claim.date_of_death_tpd_accident.try(:strftime,"%B %d, %Y")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Length of Membership:
            %td{:width => "25%"}
              %u  
                #{@claim.length_of_stay}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Face Amount:
            %td{:width => "25%"}
              %u  
                //#{@claim.face_amount}
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@claim.face_amount, precision: 2), delimiter: ",", separator: ".", unit: "")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Lapse:
            %td{:width => "25%"}
              %u  
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@claim.arrears, precision: 2), delimiter: ",", separator: ".", unit: "")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Benefit Payable for BLIP:
            %td{:width => "25%"}
              %u  
                //#{@claim.face_amount}
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@claim.face_amount, precision: 2), delimiter: ",", separator: ".", unit: "")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Returned Contribution:
            %td{:width => "25%"}
              %u  
                //#{@claim.face_amount}
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@claim.returned_contribution, precision: 2), delimiter: ",", separator: ".", unit: "")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          / %tr
          /   %td{:width => "21%"}
          /     Advance Payment:
          /   %td{:width => "25%"}
          /     %u  
          /       &#8369;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Amount Payable:
            %td{:width => "25%"}
              %u  
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@claim.total_amount_payable, precision: 2), delimiter: ",", separator: ".", unit: "")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Beneficiary:
            %td{:width => "25%"}
              %u  
                #{@claim.beneficiary}    
    %br
    .body2  
      - if @cluster.id == "4350b839-9774-4b0a-a79b-f71409ad6d2b"
        %p
          Dear Sir/Madam:
          %br
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This will serve as your authority to proceed the realease of the above claims in favor of
            %b
              %u
                #{@claim.beneficiary}
            &nbsp;member/beneficiary for the death/MVAH of
            %u
              %b
                #{@claim.name_of_insured}
            &nbsp;loss assured from CAPS-R
            %u
              %b
                #{@member.branch}
            &nbsp;branch with the amount of
            %u
              %b
                ***#{@claim.total_amount_payable.to_f.to_words.titleize} Only***&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8369;(#{number_with_delimiter(number_with_precision(@claim.total_amount_payable, precision: 2), delimiter: ",", separator: ".", unit: "")})
          %br
            Thank you for your cooperation in this regard.
      - elsif @cluster.id == "168eb8bf-59b4-4401-9498-79c87b3c01d4"
        %p
          Dear Sir/Madam:
          %br
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This will serve as your authority to proceed the realease of the above claims in favor of
            %b
              %u
                #{@claim.beneficiary}
            &nbsp;member/beneficiary for the death/MVAH of
            %u
              %b
                #{@claim.name_of_insured}
            &nbsp;loss assured from JVOMFI
            %u
              %b
                #{@member.branch}
            &nbsp;branch with the amount of
            %u
              %b
                ***#{@claim.total_amount_payable.to_f.to_words.titleize} Only***&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8369;(#{number_with_delimiter(number_with_precision(@claim.total_amount_payable, precision: 2), delimiter: ",", separator: ".", unit: "")})
          %br
            Thank you for your cooperation in this regard.
  %br
  .signatories
    %table{:border => "0"}
      %tr
        %td{style: "width:42%; height: 25px;"}
          %b
            Prepared by: 
          %br
          %i DATE: #{@claim.date_prepared.strftime("%b %d, %Y")}
          %br
          %br
          %u
            #{@claim.prepared_by}
          %br
          Claims Officer
        %td{style: "width:42%; height: 25px;"}
          %b
            Checked by: 
          %br
          %i DATE: #{@claim.date_checked.try(:strftime, "%b %d, %Y") || ""}
          %br
          %br
          - if @claim.checked_by.nil? 
            - if @claim.prepared_by == "Richard Monteron"
              %u
                Adrian San Andres
            - elsif @claim.prepared_by == "Jake Villanueva"
              %u
                Adrian San Andres
            - else
              %u
                Adrian San Andres
          - else
            %u
              #{@claim.checked_by}
          %br
          Underwriting Officer
        %td{style: "width:40%; height: 25px;"}
          %b
            Approved by:
          %br
          %i DATE: #{@claim.date_approved.try(:strftime, "%b %d, %Y") || ""}
          %br
          %br
          %u
            Silvida R. Antiquera
          %br
          General Manager