:css
  .print-text {
    font-size: 1.2em;
    font-family: calibri;
  }

  .print-text-book {
    font-size: 1.4em;
    font-family: calibri;
  }

  .print-text-sub {
    font-size: .9em;
    font-family: calibri;
  }

  .signatories{
    width: 100%;
  }

  .body1{
    width: 100%;
  }
 
  .body2{
    width: 100%;
  }

  i {
    font-size: small;
  }

%span.print-text
  %center
    %p
      %b
        Kasagana-Ka Mutual Benefit Association
      %br
        #{Settings.company_address}
  %left
    %p
      CLAIMS VALIDATION:
      %u
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{@claim.claim_type}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %br
      %br
      %b
        FOR:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      KASAGANA-KA Mutual Benefit Association, Inc.
      %br
      %b
        FROM:&nbsp;&nbsp;&nbsp;
      #{@claim.prepared_by.upcase}
      %br
      %b
        DATE:&nbsp;&nbsp;&nbsp;&nbsp;
      #{Time.now.strftime("%b %d, %Y %H:%M:%S")}
      %hr
    .body1
      %p
        %b
          For the following details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submitted Documents
      %br
      %table{:border => "0"}
        %tr
          %td{:width => "21%"}
            Creditor:
          %td{:width => "25%"}
            %b
              %u
                #{@data["creditors_name"]}
          %td{:width => "28%"}
            [] CLIP Claims Form
        %tr
          %td{:width => "21%"}
            Field Office:
          %td{:width => "25%"}
            %b
              %u  
                #{@claim.member.branch.name}
          %td{:width => "28%"}
            [] CLIP Application Form  
        %tr
          %td{:width => "21%"}
            Debtor's Name:
          %td{:width => "25%"}
            %b
              %u  
                #{@claim.member.full_name}
          %td{:width => "28%"}
            [] Loan Ledger
        %tr
          %td{:width => "21%"}
            Certificate Number:
          %td{:width => "25%"}
            %b
              %u  
                #{@data["policy_number"]}
          %td{:width => "28%"}
            [] ID of Beneficiary
        %tr
          %td{:width => "21%"}
            Effective Date of Coverage:
          %td{:width => "25%"}
            %b
              %u  
                #{@data["effective_date_of_coverage"].to_date.strftime("%b %d, %Y")}
          %td{:width => "28%"}
            [] Others ___________________
        %tr
          %td{:width => "21%"}
            Expiration Date of Coverage
          %td{:width => "25%"}
            %b
              %u  
                #{@data["expiration_date_of_coverage"].to_date.strftime("%b %d, %Y")}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Type of Loan
          %td{:width => "25%"}
            %b
              %u  
                #{@data["type_of_loan"]}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Amount of Loan
          %td{:width => "25%"}
            %b
              %u  
                PhP #{number_with_delimiter(number_with_precision(@data["amount_of_loan"], precision: 2), delimiter: ",", separator: ".")} 
        %tr
          %td{:width => "21%"}
            Terms of Loan
          %td{:width => "25%"}
            %b
              %u  
                #{@data["terms"]} Weeks
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Date of Birth
          %td{:width => "25%"}
            %b
              %u  
                #{@data["date_of_birth"].to_date.strftime("%b %d, %Y")}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Date of Death
          %td{:width => "25%"}
            %b
              %u  
                #{@data["date_of_death"].to_date.strftime("%b %d, %Y")}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Cause of Death
          %td{:width => "25%"}
            %b
              %u  
                #{@data["cause_of_death"]}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
          %td{:width => "25%"}
          %td{:width => "28%"}
            %br
        %tr
          %td{:width => "21%"}
            Name of Beneficiary
          %td{:width => "25%"}
            %b
              %u  
                #{@data["beneficiary"]}
          %td{:width => "28%"}
        - if @claim.online_transaction?  
          %tr
            %td{:width => "21%"}
              Claims Payment Through:
            %td{:width => "25%"}
              %b
                %u  
                  #{@data["claims_payment"]}
          %tr
            %td{:width => "21%"}
              Account Name:
            %td{:width => "25%"}
              %b
                %u
                  #{@data["account_name"]}
          %tr
            %td{:width => "21%"}
              Account Number:
            %td{:width => "25%"}
              %b
                %u
                  #{@data["account_number"]} 
        %tr
          %td{:width => "22%"}
            Amount of balance payable to beneficiary:
          %td{:width => "21%"}
            %b
              %u  
                #{number_with_delimiter(number_with_precision(@data["amount"], precision: 2), delimiter: ",", separator: ".")} PhP
    .body2  
      %p
        %b
          %br
      %table{:border => "0"}  
        %tr
          %td{:width => "21%"}
            Amount of balance payable to:
          %td{:width => "25%"}
            %b
              %u  
                #{@data["creditors_name"]}
          - if !@claim.online_transaction?
            %td{:width => "21%", :align => "right"}
              %b
                %u  
                  #{number_with_delimiter(number_with_precision(@data["amount_payable_to_creditor"], precision: 2), delimiter: ",", separator: ".")} PhP
        - if @claim.check_transaction?
          %tr
            %td{:width => "22%"}
              Check payee to:
            - if @data["creditors_name"] == "KCOOP"  
              %td{:colspan => "2", :width => "58%"}
                %font{:size => "2"}  
                  %b
                    %u 
                      KABUHAYAN SA GANAP NA KASARINLAN CREDIT AND SAVINGS COOPERATIVE        
            - elsif @data["creditors_name"] == "JVOMFI"  
              %td{:colspan => "2", :width => "58%"}
                %b
                  %u  
                    JVOMFI
            - elsif @data["creditors_name"] == "KEEPF"  
              %td{:colspan => "2", :width => "58%"}
                %b
                  %u  
                    KEEPF
            - elsif @data["creditors_name"] == "CAPS-R"  
              %td{:colspan => "2", :width => "58%"}
                %b
                  %u  
                    CAPS-R
          %tr
            %td{:width => "22%"}
              Payment to be returned to:
            %td{:width => "27%"}
              %b
                %u  
                  #{@data["beneficiary"]}
            %td{:width => "21%", :align => "right"}
              %b
                %u  
                  #{number_with_delimiter(number_with_precision(@data["amount"], precision: 2), delimiter: ",", separator: ".")} PhP
          %tr
            %td{:width => "22%"}
              Total amount of loan:
            %td{:width => "27%"}
            %td{:width => "21%", :align => "right"}
              %b
                %u  
                  #{number_with_delimiter(number_with_precision(@data["amount_of_loan"], precision: 2), delimiter: ",", separator: ".")} PhP 
        - elsif @claim.online_transaction?
          %tr
            %td{:width => "21%"}
              Loan balance payment through:
            %td{:width => "25%"}
              %b
                %u  
                  #{@data["claims_payment_creditor"]}
          %tr
            %td{:width => "21%"}
              Creditor Account Name:
            %td{:width => "25%"}
              %b
                %u  
                  #{@data["account_name_creditor"]}
          %tr
            %td{:width => "21%"}
              Creditor Account Number:
            %td{:width => "25%"}
              %b
                %u  
                  #{@data["account_number_creditor"]}
          %tr
            %td{:width => "21%"}
              Amount of balance payable to creditor:
            %td{:width => "25%"}
              %b
                %u  
                  #{number_with_delimiter(number_with_precision(@data["amount_payable_to_creditor"], precision: 2), delimiter: ",", separator: ".")} PhP


  %br
  %br
  %br
  .signatories
    %table{:border => "0"}
      %tr
        %td{style: "width:42%; height: 25px;"}
          %b
            Prepared by: 
          %br
          %i DATE: #{@claim.date_prepared.strftime("%b %d, %Y")}
          %br
          %br
          %u
            #{@claim.prepared_by}
          %br
          Claims Officer
        %td{style: "width:42%; height: 25px;"}
          %b
            Checked by: 
          %br
          %i DATE: #{@claim.date_checked.try(:strftime, "%b %d, %Y") || ""}
          %br
          %br
          - if @claim.checked_by.nil? 
            - if @claim.prepared_by == "Richard Monteron"
              %u
                Adrian San Andres
            - elsif @claim.prepared_by == "Jake Villanueva"
              %u
                Adrian San Andres
            - else
              %u
                Adrian San Andres
          - else
            %u
              #{@claim.checked_by}
          %br
          Underwriting Officer
        %td{style: "width:40%; height: 25px;"}
          %b
            Approved by:
          %br
          %i DATE: #{@claim.date_approved.try(:strftime, "%b %d, %Y") || ""}
          %br
          %br
          - if @claim.approved_by == "Nelly Vengano"
            %u 
              #{@claim.approved_by}
            %br
              KMBA President
          - else            
            %u Silvida R. Antiquera
            %br
              General Manager