= title
.row
  .col
    .card
      .card-body
        = render partial: "claims/new_transaction"
        = render partial: "claims/filter"

        - if @claims.any?
          = render partial: "claims/list", locals: { claims: @claims }
          = paginate @claims
        - else
          No claims found.
