:css
  .print-text {
    font-size: 1.4em;
    font-family: arial;
  }

  .print-text-book {
    font-size: 1.4em;
    font-family: arial;
  }

  .print-text-sub {
    font-size: .8em;
    font-family: arial;
  }

  .signatories{
    width: 100%;
  }

  #kmba{
    padding: -5px 5px 5px 5px;
    width: 20%;
  }

  .body1{
    width: 100%;
    padding: 0px 0px 0px 45px;
  }
 
  .body2{
    width: 100%;
  }
  i {
    font-size: small;
  }

  .acknowledgement-body{
    margin: auto;                                                                                                                                                             
  }

  .acknowledgement{
    text-align: center;
    margin: auto;
  }

%span.print-text
  %left
    = image_tag("kmba.ico", :alt => "kmba img", id: "kmba")
  %br
    #{Time.now.strftime("%B %d, %Y")}
  %left
    - if @claim.member.branch.cluster.id == "4350b839-9774-4b0a-a79b-f71409ad6d2b" 
      %p
        %b
          CEBU ARCHDIOCESAN PROGRAM FOR SELF RELIANCE INC.-CAPS-R
        %br
          %b
            Cebu Caritas Building, P. Gomez St., Cebu City, Philippines
    - elsif @claim.member.branch.cluster.id == "168eb8bf-59b4-4401-9498-79c87b3c01d4"
      %p
        %b
          JAIME V. ONGPIN MICROFINANCE FOUNDATION INC. (JVOMFI)
        %br
          %b
            Baguio City, Philippines
    - else
      %p
        %b
          KASAGANA-KA CREDIT AND SAVING COOPERATIVE
        %br
          %b
            5 Don Francisco St. Don Enrique Heights , Quezon City
    %p
      Attention:
      %br
      .body1   
        %table{:border => "0"}
          %tr
            %td{:width => "21%"}
              Purpose:
            %td{:width => "25%"}
              %u
                #{@data["purpose"]}
          %tr
            %td{:width => "21%"}
              Branch:
            %td{:width => "25%"}
              %u  
                #{@claim.member.branch.name}
          %tr
            %td{:width => "21%"}
              Classification:
            %td{:width => "25%"}
              %u  
                #{@data["relationship_to_member"]}
          %tr
            %td{:width => "21%"}
              Name of Member:
            %td{:width => "25%"}
              %u  
                #{@claim.member.full_name}
          %tr
            %td{:width => "21%"}
              Payable:
            %td{:width => "25%"}
              %u  
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@data["amount"], precision: 2), delimiter: ",", separator: ".")} 
          %tr
            %td{:width => "21%"}
              Payee:
            %td{:width => "25%"}
              %u  
                #{@data["name_of_beneficiary"]}
          %tr
            %td{:width => "21%"}
              Date of Letter of Approval(LOA):
            %td{:width => "25%"}
              %u  
                #{@data["date_of_loa"].to_date.strftime("%b %d, %Y")}
    %br
    .body2  
      - if @claim.member.branch.cluster.id == "4350b839-9774-4b0a-a79b-f71409ad6d2b"
        %p
          Dear Sir/Madam:
          %br
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This will serve as your authority to proceed the realease of the above claims in favor of
          %b
            %u
              #{@data["name_of_beneficiary"]}
          &nbsp;member/beneficiary for Calamity Assistance of
          %u
            %b
              #{@claim.member.full_name}
          &nbsp;loss assured from #{@claim.member.branch.cluster.name}
          %u
            %b
              #{@claim.member.branch.name}
          &nbsp;branch with the amount of
          %u
            %b
              ***#{@data["amount"].to_f.to_words.titleize} Only***&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8369;(#{number_with_delimiter(number_with_precision(@data["amount"], precision: 2), delimiter: ",", separator: ".", unit: "")})
        %br
          Thank you for your cooperation in this regard.
      - elsif @claim.member.branch.cluster.id == "168eb8bf-59b4-4401-9498-79c87b3c01d4"
        %p
          Dear Sir/Madam:
          %br
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This will serve as your authority to proceed the realease of the above claims in favor of
          %b
            %u
              #{@data["name_of_beneficiary"]}
          &nbsp;member/beneficiary for Calamity Assistance of
          %u
            %b
              #{@claim.member.full_name}
          &nbsp;loss assured from #{@claim.member.branch.cluster.name}
          %u
            %b
              #{@claim.member.branch.name}
          &nbsp;branch with the amount of
          %u
            %b
              ***#{@data["amount"].to_f.to_words.titleize} Only***&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8369;(#{number_with_delimiter(number_with_precision(@data["amount"], precision: 2), delimiter: ",", separator: ".", unit: "")})
        %br
          Thank you for your cooperation in this regard.
  %br
  .signatories
    %table{:border => "0"}
      %tr
        %td{style: "width:42%; height: 25px;"}
          %b
            Prepared by: 
          %br
          %i DATE: #{@claim.date_prepared.strftime("%b %d, %Y")}
          %br
          %br
          %u
            #{@claim.prepared_by}
          %br
          Claims Officer
        %td{style: "width:42%; height: 25px;"}
          %b
            Checked by: 
          %br
          %i DATE: #{@claim.date_checked.try(:strftime, "%b %d, %Y") || ""}
          %br
          %br
          - if @claim.checked_by.nil? 
            - if @claim.prepared_by == "Richard Monteron"
              %u
                Adrian San Andres
            - elsif @claim.prepared_by == "Jake Villanueva"
              %u
                Adrian San Andres
            - else
              %u
                Adrian San Andres
          - else
            %u
              #{@claim.checked_by}
          %br
          Underwriting Officer
        %td{style: "width:40%; height: 25px;"}
          %b
            Approved by:
          %br
          %i DATE: #{@claim.date_approved.try(:strftime, "%b %d, %Y") || ""}
          %br
          %br
          %u
            Silvida R. Antiquera
          %br
          General Manager
  / - if @claim.member.branch.cluster.id == "4350b839-9774-4b0a-a79b-f71409ad6d2b"
  /   %hr{:style => "border-top: dashed 1px;"}
  /   .acknowledgement
  /     %h5
  /       %b
  /         Acknowledgement Receipt
  /   .acknowledgement-body
  /     %p
  /       I
  /       %u
  /         %b
  /           #{@data["beneficiary"].try(:titleize)}
  /       , of legal age with residence and postal address at ______________________________________________________________ 
  /       %br
  /       hereby declare:
  /       %br
  /       &nbsp;&nbsp;1. That, I am the beneficiary of the late &nbsp;
  /       %u
  /         %b
  /           #{@claim.member.full_name.try(:titleize)}
  /       %br
  /       &nbsp;&nbsp;2. That, I acknowledge the amount of 
  /       %u
  /         &nbsp;&#8369;#{number_with_delimiter(number_with_precision(@data["amount"], precision: 2), delimiter: ",", separator: ".", unit: "")}
  /       in cash representing #{@claim.claim_type} claim benefit for the paid insured loan
  /       %br
  /       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; of the late, &nbsp;
  /       %u
  /         %b
  /           #{@claim.member.full_name.try(:titleize)}
  /       &nbsp;from
  /       %b
  /         CAPS R #{@claim.member.branch.name}
  /       %br
  /       &nbsp;&nbsp;3. That, as a result or our voluntary acceptance of the said amount, we are relinquishing our right over the #{@claim.claim_type}
  /       %br
  /       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;claim benefit proceeds of the above-policy in favor of CAPS-R Inc to be collected from and to wire transffered by
  /       %br
  /       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kasagana-Ka Mutual Benefit Association Inc to the following bank Account Details
  /       %br
  /       %br
  /       %b
  /         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CAPS-R Account Name
  /       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___________________________________________
  /       %br
  /       %b
  /         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CAPS-R Account Number
  /       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___________________________________________
  /       %br
  /       %b
  /         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amount
  /       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___________________________________________
  /       %br
  /       %br
  /       %br
  /       &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;___________________________/___________________
  /       %br
  /       %b
  /         &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;#{@data["beneficiary"].try(:titleize)}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Date
  /       %br
  /       &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;Beneficiary