= title @claim.id
%section.content
  = render partial: "content"
  
= render partial: "claims/modals/check"
= render partial: "claims/modals/approve"
= render partial: "claims/modals/post"
= render partial: "claims/modals/modal_print"

/ #parameters{ data: { id: params[:id]}}
/ = javascript_include_tag "claims/approved_claim"
