.row
  .col
    .card
      .card-body
            
        - @accrued_interests.each do |ai|
          %table.table.table-sm.table-bordered
            %thead
              %tr
                %th
                  Branch
                %th
                  Cut off date
                %th
                  Start date
                %th
                  End date
                %th
                  Number of days moratorium
                %th
                  Status
                %th
                  Actions
            %tr
              %td
                #{ai.branch}
              %td
                #{ai.cut_off_date}
              %td
                #{ai.start_date}
              %td
                #{ai.end_date}
              %td
                #{ai.number_of_moratoium_day}
              %td
                - if ai.status == "pending"
                  .badge.badge-danger
                    #{ai.status}
                - else
                  .bande.badge-success
                    #{ai.status}
              %td
                - if ai.status == "pending"
                  %button.btn.btn-sm.btn-danger.btn-delete{ data: { id: ai.id } }
                    .fa.fa-times
                    Delete
                  %button.btn.btn-sm.btn-info.btn-process{ data: { id: ai.id } }
                    .fa.fa-check
                    Process
              %td
                = link_to adjustments_accrued_interest_path(ai.id), class: 'btn btn-primary' do
                  .fa.fa-search

                



= render partial: "adjustments/accrued_interests/modals/new"
= render partial: "adjustments/accrued_interests/modals/process"
= render partial: "adjustments/accrued_interests/modals/delete"
