= hidden_field_tag :accrued_id, @adjustment_record.id, id: "accrued_id"
.row
  .col
    .card
      .card-body
        = render partial: "index_filter" 
        %table.table.table-sm.table-bordered.table-hover
          %thead
            %tr
              %th
                Branch
              %th
                Cut off date
              %th
                Start date
              %th
                End date
              %th
                Number of days moratorium
              %th
                Accrued Type
              %th
                Status
              %th
                Action
          %tbody
            %tr
              %td
                #{@adjustment_record.branch}
              %td
                #{@adjustment_record.cut_off_date}
              %td
                #{@adjustment_record.start_date}
              %td
                #{@adjustment_record.end_date}
              %td
                #{@adjustment_record.number_of_moratoium_day}
              %td
                #{@adjustment_record.accrued_type}
              %td
                #{@adjustment_record.status}
              %td
                - if @adjustment_record.status == "pending"
                  %button.btn.btn-sm.btn-danger.btn-delete{ data: { id: @adjustment_record.id } }
                    .fa.fa-times
                    Delete
                  %button.btn.btn-sm.btn-info.btn-process{ data: { id: @adjustment_record.id } }
                    .fa.fa-check
                    Process
                


        - if @ctr_name.present?
          #{@ctr_name}
        %table.table.table-sm.table-bordered.table-hover

          %thead
            %tr
              %th
                no.
              %th
                Member
              %th
                Center
              %th
                Loan
              %th
                PN number
              %th
                Maturity Date
              %th
                Principal Balance
              %th
                Accrued Interest
              %th
                Status
          %tbody
            - iter = 1
            -if @ctr_name.present?                   
              -@adjustment_record.data["active_loans"].select { |m| m["member"]["center"] == @ctr_name }.sort_by { |m| m["member"]["last_name"] }.each.with_index do |a,i|
                -if @adjustment_record.accrued_type == "BLANKET"   
                    
                  - if a["principal_balance"] > 0 && a["cut_off_status"] != "invalid"
                    %tr
                      %td
                        #{ iter }
                      %td 
                        = link_to member_path(a["member"]["id"]), target: "_blank" do
                          %strong
                            #{a["member"]["last_name"]}, #{a["member"]["first_name"]}  
                      %td
                        #{a["member"]["center"]}
                      %td
                        #{a["loan_product"]["name"]}
                      %td
                        #{a["pn_number"]}
                      %td
                        #{a["loan_product"]["maturity_date"]}
                      %td
                        #{a["principal_balance"]}
                      %td
                        #{a["cumputed_accrued_interest"]}
                      %td
                        #{a["cut_off_status"]}
                      - if current_user.roles.include?("SBK")
                        %td
                          - if @adjustment_record.status == "pending"
                            %button.btn.btn-sm.btn-danger.btn-remove{ data: { id: a["id"] } }
                              .fa.fa-times
                              Remove
                        %td
                          - if @adjustment_record.status == "approved"
                            %button.btn.btn-sm.btn-danger.btn-erase{ data: { id: a["id"] } }
                              .fa.fa-times
                              Delete
                    - iter = iter + 1
                -else   
                  %tr
                    %td
                      #{ iter }
                    %td 
                      = link_to member_path(a["member"]["id"]), target: "_blank" do
                        %strong
                          #{a["member"]["last_name"]}, #{a["member"]["first_name"]}  
                    %td
                      #{a["member"]["center"]}
                    %td
                      #{a["loan_product"]["name"]}
                    %td
                      #{a["pn_number"]}
                    %td
                      #{a["loan_product"]["maturity_date"]}
                    %td
                      #{a["principal_balance"]}
                    %td
                      #{a["cumputed_accrued_interest"]}
                    %td
                      #{a["cut_off_status"]}
                    - if current_user.roles.include?("SBK")
                      %td
                        - if @adjustment_record.status == "pending"
                          %button.btn.btn-sm.btn-danger.btn-remove{ data: { id: a["id"] } }
                            .fa.fa-times
                            Remove
                      %td
                        - if @adjustment_record.status == "approved"
                          %button.btn.btn-sm.btn-danger.btn-erase{ data: { id: a["id"] } }
                            .fa.fa-times
                            Delete
                  - iter = iter + 1
            -else                   
              -@adjustment_record.data["active_loans"].sort_by { |m| m["member"]["last_name"] }.each.with_index do |a,i|
                -if @adjustment_record.accrued_type == "BLANKET"   
                    
                  - if a["principal_balance"] > 0 && a["cut_off_status"] != "invalid"
                    %tr
                      %td
                        #{ iter }
                      %td 
                        = link_to member_path(a["member"]["id"]), target: "_blank" do
                          %strong
                            #{a["member"]["last_name"]}, #{a["member"]["first_name"]}  
                      %td
                        #{a["member"]["center"]}
                      %td
                        #{a["loan_product"]["name"]}
                      %td
                        #{a["pn_number"]}
                      %td
                        #{a["loan_product"]["maturity_date"]}
                      %td
                        #{a["principal_balance"]}
                      %td
                        #{a["cumputed_accrued_interest"]}
                      %td
                        #{a["cut_off_status"]}
                      - if current_user.roles.include?("SBK")
                        %td
                          - if @adjustment_record.status == "pending"
                            %button.btn.btn-sm.btn-danger.btn-remove{ data: { id: a["id"] } }
                              .fa.fa-times
                              Remove
                        %td
                          - if @adjustment_record.status == "approved"
                            %button.btn.btn-sm.btn-danger.btn-erase{ data: { id: a["id"], jef: a["id"] } }
                              .fa.fa-times
                              Delete
                    - iter = iter + 1
                -else   
                  %tr
                    %td
                      #{ i + 1 }
                    %td 
                      = link_to member_path(a["member"]["id"]), target: "_blank" do
                        %strong
                          #{a["member"]["last_name"]}, #{a["member"]["first_name"]}  
                    %td
                      #{a["member"]["center"]}
                    %td
                      #{a["loan_product"]["name"]}
                    %td
                      #{a["pn_number"]}
                    %td
                      #{a["loan_product"]["maturity_date"]}
                    %td
                      #{a["principal_balance"]}
                    %td
                      #{a["cumputed_accrued_interest"]}
                    %td
                      #{a["cut_off_status"]}
                    - if current_user.roles.include?("SBK")
                      %td
                        - if @adjustment_record.status == "pending"
                          %button.btn.btn-sm.btn-danger.btn-remove{ data: { id: a["id"] } }
                            .fa.fa-times
                            Remove
                      %td
                        - if @adjustment_record.status == "approved"
                          %button.btn.btn-sm.btn-danger.btn-erase{ data: { id: a["id"], jef: a["id"] } }
                            .fa.fa-times
                            Delete

= render partial: "adjustments/accrued_interests/modals/delete"
= render partial: "adjustments/accrued_interests/modals/process"
= render partial: "adjustments/accrued_interests/modals/remove"
= render partial: "adjustments/accrued_interests/modals/erase"
