%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th.text-center
        As Of
      %th
        Branch
      %th.text-center
        Status
      %th.text-center
        Started
      %th.text-center
        Last Updated
  %thead
    - @records.each do |o|
      %tr
        %td.text-center
          = link_to "/data_stores/watchlists/#{o.id}" do
            .fa.fa-search
        %td.text-center
          %strong
            #{o.try(:as_of).try(:to_date).try(:strftime, "%b %d, %Y")}
        %td
          #{o.meta["branch_name"]}
        %td.text-center
          - if o.processing?
            .badge.badge-info
              Processing
          - elsif o.done?
            .badge.badge-success
              Done
        %td.text-center
          %small
            #{o.created_at.localtime}
        %td.text-center
          %small
            #{o.updated_at.localtime}
