%table.table.table-sm
  %tr
    %th
      Member
      = select_tag :member, options_for_select(@members), class: "form-control select-select2", id: "select-member", prompt: "-- SELECT --"
    %th 
      Action
      %button#btn-add.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}" } }
        Add
  %tr
  %tr
    %th 
      Particular
      = text_field_tag :particular, "#{@data_store.data['accounting_entry']['particular']}", class: "form-control", id: "particular"
    %th
      Action
      %button#btn-add-particular.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}"  } }
        Save 


