.row
  .col
    .card
      .card-body
        %h5
          Billing for Involuntary #{@data_store.meta["branch_name"]}
        
        - if @data_store["status"] == "pending"
          = render partial: "form_add"

        - if @data_view.any?
          = render partial: "members_table"
        -else
          %p
            No records found
        %hr

        %h4
          Accounting Entry For Transfer of Equity and Other Savings to RSA
        = render partial: "accounting_entry_display", locals: { accounting_entry: @accounting_entry_transfer_savings }

        %hr

        %h4
          Accounting Entry for Loan Payments
        = render partial: "accounting_entry_display", locals: { accounting_entry: @accounting_entry_loan_payments }


        

= render partial: "billing_for_involuntary/modals/view_details"   
= render partial: "billing_for_involuntary/modals/approved"
= render partial: "billing_for_involuntary/modals/delete"