%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th{ width: "5%" }
      %th
        OR Number
      %th
        Service Invoice
      %th
        Collection Date
      %th
        Date Approved
      %th
        Center / Branch
      %th.text-end
        Amount Collected
      %th
        %center
          Status
  %tbody
    - @membership_payment_collections.each do |o|
      %tr
        %td
          = link_to membership_payment_collection_path(o) do
            .text-center
              .bi.bi-search
        %td
          #{o.or_number}
        %td
          #{o.si_number}
        %td
          %strong
            #{o.collection_date.strftime("%b %d, %Y")}
        %td
          - if o.date_approved.present?
            %strong
              #{o.date_approved.strftime("%b %d, %Y")}
        %td
          #{o.center.name} / #{o.branch}
        %td.text-end
          %strong
            #{number_to_currency(o.total_collected, unit: "")}
        %td
          %center
            - if o.pending?
              .badge.bg-danger
                Pending
            - elsif o.approved?
              .badge.bg-success
                Approved
            - elsif o.processing?
              .badge.bg-info
                Processing
