= title @membership_payment_collection.id
.row
  .col
    .card
      .card-body
        - if @membership_payment_collection.pending?
          .c-callout.c-callout-info
            %p
              Pindutin ang amount upang baguhin ito.
        %h5
          MembershipPaymentCollection for #{@membership_payment_collection.branch} / #{@membership_payment_collection.center} - #{@membership_payment_collection.collection_date.strftime("%b %d, %Y")}
        #react-root

        - if debug?
          %pre
            %code
              #{JSON.pretty_generate(JSON.parse(@membership_payment_collection.to_json))}

= render partial: "shared/modals/print"
= render partial: "membership_payment_collections/modals/approve"
= render partial: "templates/error_list"
