%table.table.table-sm.table-bordered
  %thead
    %tr
      %th
        SO Name
      - @data[:officers].each do |o|
        %th.text-center
          #{o[:last_name]}, #{o[:first_name]}
    %tr
      %th
        Status
      - @data[:officers].each_with_index do |o, i|
        %th.text-center
          #{@data[:records][i][:status]}
  %tbody
    %tr
      %td
        %strong
          Admitted Members
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{@data[:records][i][:count_active_members]}
    %tr
      %td
        %strong
          Pure Savers
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{@data[:records][i][:count_pure_savers]}

    %tr
      %td
        %strong
          Active Loaners
      - @data[:officers].each_with_index do |o, i|
        %td.text-right 
          #{@data[:records][i][:count_loaners]}

    %tr
      %td
        %strong
          Outreach
      - @data[:officers].each_with_index do |o, i|
        %td.text-right 
          #{@data[:records][i][:count_loaners] + @data[:records][i][:count_pure_savers] + @data[:records][i][:count_active_members]}

    %tr
      %td
        %strong
          Repayment Rate
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{(@data[:records][i][:principal_rr] * 100).round(2)} %

    %tr
      %td
        %strong
          Beginning Number of Outreach
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{@data[:records][i][:previous_count_loaners] + @data[:records][i][:previous_count_pure_savers] + @data[:records][i][:previous_count_active_members]}

    %tr
      %td
        %strong
          Additional Members
      - @data[:officers].each_with_index do |o, i|
        %td.text-right 
          #{@data[:records][i][:count_new_members]}

    %tr
      %td
        %strong
          Resigned Members
      - @data[:officers].each_with_index do |o, i|
        %td.text-right 
          #{@data[:records][i][:count_resigned_members]}

    %tr
      %td
        %strong
          Drop-out Percentage
      - @data[:officers].each_with_index do |o, i|
        %td.text-right 
          - beginning_of_outreach = @data[:records][i][:previous_count_loaners] + @data[:records][i][:previous_count_pure_savers] + @data[:records][i][:previous_count_active_members]
          - additional_members    = @data[:records][i][:count_new_members]
          - outreach              = @data[:records][i][:count_loaners] + @data[:records][i][:count_pure_savers] + @data[:records][i][:count_active_members]
          - drop_out_percentage = ((beginning_of_outreach.to_f + additional_members.to_f) - outreach) / beginning_of_outreach
          #{(drop_out_percentage * 100).round(2)} %
    %tr
      %td
        %strong
          PAR Amount
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{number_to_currency(@data[:records][i][:principal_balance], unit: "")}

    %tr
      %td
        %strong
          PAR Rate
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{(@data[:records][i][:par] * 100).round(2)} %

    %tr
      %td
        %strong
          Portfolio
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{number_to_currency(@data[:records][i][:principal_portfolio], unit: "")}

    %tr
      %td
        %strong
          Loan Disbursements
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{number_to_currency(@data[:records][i][:amount_disbursed], unit: "")}

    %tr
      %td
        %strong
          Incentive
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{number_to_currency(@data[:records][i][:incentive], unit: "")}
    %tr
      %td
      - @data[:officers].each_with_index do |o, i|
        %td.text-right

    %tr
      %td
        %strong
          Verbal Warning Demerits
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{number_to_currency(@data[:records][i][:verbal_warning_demerits], unit: '')}

    %tr
      %td
        %strong
          Written Warning Demerits
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{number_to_currency(@data[:records][i][:written_warning_demerits], unit: '')}

    %tr
      %td
        %strong
          Drop-out Demerits
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{number_to_currency(@data[:records][i][:drop_out_demerits], unit: '')}

    %tr
      %td
        %strong
          Total Demerits
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{number_to_currency(@data[:records][i][:total_demerits], unit: '')}
    %tr
      %td
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
    %tr
      %td
        %strong
          Final Incentives
      - @data[:officers].each_with_index do |o, i|
        %td.text-right
          #{number_to_currency(@data[:records][i][:net_incentive], unit: '')}
