.row
  .col
    .card
      .card-body
        = render partial: "index_filter"

        - if @daily_branch_metrics.any?
          = render partial: "index_list", locals: { daily_branch_metrics: @daily_branch_metrics }
          = paginate @daily_branch_metrics
        - else
          %p
            No records found

= render partial: "daily_branch_metrics/modals/new"
= render partial: "templates/error_list"
