.row
  .col
    .card
      .card-body
        %h4
          #{@daily_branch_metric.branch}
          %small.text-muted
            #{@daily_branch_metric.as_of.strftime("%B %d, %Y")}
        %hr

        %table.table.table-bordered.table-sm
          %tbody
            %tr
              %th
                Principal
              %td
                #{number_to_currency(@daily_branch_metric.principal, unit: '')}
            %tr
              %th
                Interest
              %td
                #{number_to_currency(@daily_branch_metric.interest, unit: '')}
            %tr
              %th
                Total
              %td
                #{number_to_currency(@daily_branch_metric.total, unit: '')}
            %tr
              %th
                Principal Due
              %td
                #{number_to_currency(@daily_branch_metric.principal_due, unit: '')}
            %tr
              %th
                Interest Due
              %td
                #{number_to_currency(@daily_branch_metric.interest_due, unit: '')}
            %tr
              %th
                Total Due
              %td
                #{number_to_currency(@daily_branch_metric.total_due, unit: '')}
            %tr
              %th
                Principal Paid
              %td
                #{number_to_currency(@daily_branch_metric.principal_paid, unit: '')}
            %tr
              %th
                Interest Paid
              %td
                #{number_to_currency(@daily_branch_metric.interest_paid, unit: '')}
            %tr
              %th
                Total Paid
              %td
                #{number_to_currency(@daily_branch_metric.total_paid, unit: '')}
            %tr
              %th
                Principal Paid Due
              %td
                #{number_to_currency(@daily_branch_metric.principal_paid_due, unit: '')}
            %tr
              %th
                Interest Paid Due
              %td
                #{number_to_currency(@daily_branch_metric.interest_paid_due, unit: '')}
            %tr
              %th
                Total Paid Due
              %td
                #{number_to_currency(@daily_branch_metric.total_paid_due, unit: '')}
            %tr
              %th
                Principal Balance
              %td
                #{number_to_currency(@daily_branch_metric.principal_balance, unit: '')}
            %tr
              %th
                Interest Balance
              %td
                #{number_to_currency(@daily_branch_metric.interest_balance, unit: '')}
            %tr
              %th
                Total Balance
              %td
                #{number_to_currency(@daily_branch_metric.total_balance, unit: '')}
            %tr
              %th
                Overall Principal Balance
              %td
                #{number_to_currency(@daily_branch_metric.overall_principal_balance, unit: '')}
            %tr
              %th
                Overall Interest Balance
              %td
                #{number_to_currency(@daily_branch_metric.overall_interest_balance, unit: '')}
            %tr
              %th
                Overall Balance
              %td
                #{number_to_currency(@daily_branch_metric.overall_balance, unit: '')}
            %tr
              %th
                Principal RR
              %td
                #{number_to_currency(@daily_branch_metric.principal_rr * 100, unit: '')}
            %tr
              %th
                Interest RR
              %td
                #{number_to_currency(@daily_branch_metric.interest_rr * 100, unit: '')}
            %tr
              %th
                Total RR
              %td
                #{number_to_currency(@daily_branch_metric.total_rr * 100, unit: '')}
            %tr
              %th
                PAR Amount
              %td
                #{number_to_currency(@daily_branch_metric.par_amount, unit: '')}
            %tr
              %th
                PAR
              %td
                #{number_to_currency(@daily_branch_metric.par * 100, unit: '')}
            %tr
              %th
                Number of Days PAR
              %td
                #{number_to_currency(@daily_branch_metric.num_days_par, unit: '')}

        %h5
          Member Counts
        %table.table.table-sm.table-bordered
          %thead
            %tr
              %th
              %th.text-right
                Male
              %th.text-right
                Female
              %th.text-right
                Others
              %th.text-right
                Total
          %tbody
            %tr
              %td
                %b
                  Loaners
              %td.text-right
                #{@daily_branch_metric.data["loaners"]["male"]}
              %td.text-right
                #{@daily_branch_metric.data["loaners"]["female"]}
              %td.text-right
                #{@daily_branch_metric.data["loaners"]["others"]}
              %td.text-right
                #{@daily_branch_metric.data["loaners"]["total"]}
            %tr
              %td
                %b
                  Pure Savers
              %td.text-right
                #{@daily_branch_metric.data["pure_savers"]["male"]}
              %td.text-right
                #{@daily_branch_metric.data["pure_savers"]["female"]}
              %td.text-right
                #{@daily_branch_metric.data["pure_savers"]["others"]}
              %td.text-right
                #{@daily_branch_metric.data["pure_savers"]["total"]}
            %tr
              %td
                %b
                  Admitted Members
              %td.text-right
                #{@daily_branch_metric.data["active_members"]["male"]}
              %td.text-right
                #{@daily_branch_metric.data["active_members"]["female"]}
              %td.text-right
                #{@daily_branch_metric.data["active_members"]["others"]}
              %td.text-right
                #{@daily_branch_metric.data["active_members"]["total"]}
            %tr
              %td
                %b
                  Total
              %td.text-right
                #{@daily_branch_metric.data["loaners"]["male"] + @daily_branch_metric.data["pure_savers"]["male"] + @daily_branch_metric.data["active_members"]["male"]}
              %td.text-right
                #{@daily_branch_metric.data["loaners"]["female"] + @daily_branch_metric.data["pure_savers"]["female"] + @daily_branch_metric.data["active_members"]["female"]}
              %td.text-right
                #{@daily_branch_metric.data["loaners"]["others"] + @daily_branch_metric.data["pure_savers"]["others"] + @daily_branch_metric.data["active_members"]["others"]}
              %td.text-right
                #{@daily_branch_metric.data["loaners"]["total"] + @daily_branch_metric.data["pure_savers"]["total"] + @daily_branch_metric.data["active_members"]["total"]}

        %hr
        = link_to daily_branch_metric_path(@daily_branch_metric.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do
          .fa.fa-times
          Delete
