- accounting_entry_pending.each do |a|
                
  %div{ id: "accounting-entry-pending", class: "card border-danger" }
    %div{ class: "card-header bordered-success" }
      .row
        .col-md-6
          %strong
            Pending
        .col-md-6
          .text-end
            .text-muted
              .fa.fa-store
              #{a[:branch].to_s} - #{a[:book].to_s}
    .card-body
      %table.table.table-sm
        %tr
          %th{ width: "50%" }
            Accounting Code
          %th.text-end{ width: "25%" }
            Debit
          %th.text-end{ width: "25%" }
            Credit
        - a[:journal_entries].each do |dje|
          - if dje[:post_type] == "DR"
            %tr
              %td
                #{AccountingCode.find(dje[:accounting_code_id])}
              %td.text-end
                #{dje[:amount]}
              %td
        - a[:journal_entries].each do |dje|
          - if dje[:post_type] == "CR"
            %tr
              %td
                #{AccountingCode.find(dje[:accounting_code_id])}
              %td
              %td.text-end
                #{dje[:amount]}
      %hr 
      .row
        .col-md-8
          %br
          .row
            .col
              %label
                Particular
              %p
                #{a[:particular]}
        .col-md-4
          %p.text-end
            %label
              %strong
                Approved By:
          
              


    
