= title @restucture_details.id

.row
  .col
    .card
      .card-body
        %table
          %tr
            %th
              %h2
                #{Loan.find(@restucture_details.loan).member.full_name}
                #{Loan.find(@restucture_details.loan).member.member_type}
              (#{Loan.find(@restucture_details.loan).loan_product.name} - #{Loan.find(@restucture_details.loan).pn_number} )
        %table.table.table-sm.table-bordered.table-hover
          %thead
            %tr
              %th{:rowspan => "2"} PN Number
              %th{:rowspan => "2"} Loan Product
              %th{:colspan => "2", :style => "text-align:center;"} Old
              %th{:colspan => "2", :style => "text-align:center;"} New
              %th{:rowspan => "2"} Account Type
            %tr
            
              %th Principal Balance
              %th Interest Balance
              %th Principal Balance
              %th Interest Balance
          %tbody
            - @loan.data["restructured_loans"].each do |l|
              %tr
                %td #{l["pn_number"]} 
                %td #{l["loan_product"]["name"]}
                %td #{l["principal_balance"]}
                %td #{l["interest_balance"]}
                - @restucture_details.data["loans"].each do |rd|
                  %td
                    #{rd["loan_details"].select{ |o| o["loan_product"]["id"] == l["loan_product"]["id"]}.last["principal_balance"]  }
                  %td
                    #{rd["loan_details"].select{ |o| o["loan_product"]["id"] == l["loan_product"]["id"]}.last["k_sagip_interest_balance"]  }
                  %td
                    #{rd["loan_details"].select{ |o| o["loan_product"]["id"] == l["loan_product"]["id"]}.last["transaction_type"]  }

        %table.table.table-sm.table-bordered.table-hover
          %thead
            %tr
              %th{:rowspan => "2"} Accounting Code
              %th{:colspan => "2"} OLD
              %th{:colspan => "2" } New
              %th{:rowspan => "2"} Difference
            %tr
              %th Debit
              %th Credit
              %th Debit
              %th Credit
          %tbody
            
            - Loan.find(@restucture_details.loan).data["accounting_entry"]["debit_journal_entries"].each do |l|
              %tr
                %td
                  #{l["name"]}
                %td
                  #{l["amount"]}
                %td
                %td
                  - if l["accounting_code_id"] == "a6913ac9-1a85-495a-8f80-d394549dc52e"
                    #{@restucture_details.data["loans"].last["total_loanable_amount"]}
                  - else
                    0
                %td
                %td
                  - if l["accounting_code_id"] == "a6913ac9-1a85-495a-8f80-d394549dc52e"
                    #{(l["amount"].to_f   -  @restucture_details.data["loans"].last["total_loanable_amount"]).round(2)}
                  - else
                    #{l["amount"].to_f -   0.to_f }
                  
                  


              

            - @restucture_details.data["loans"].each do |rd| 
                  
              - rd["loan_details"].each do |ld|
                %tr
                  %td 
                    #{AccountingCode.find(ld["loan_product"]["receivable_accounting_code_id"]).name}
                  %td
                  %td
                    #{ld["loan_product"]["old_receivable_amount"]}
                  %td
                  %td
                    #{ld["principal_balance"]}
                  %td
                    #{ld["loan_product"]["old_receivable_amount"].to_f - ld["principal_balance"].to_f}

                    
                %tr
                  %td 
                    #{AccountingCode.find(ld["loan_product"]["interest_receivable_accounting_code_id"]).name}
                  %td
                  %td
                    #{ld["loan_product"]["old_interest_receivable_amount"]}
                  %td
                  %td
                    #{ld["k_sagip_interest_balance"]}
                  %td
                    #{ld["loan_product"]["old_interest_receivable_amount"].to_f - ld["k_sagip_interest_balance"].to_f}
                    
              
              - rd["insurance_details"].each do |idetails|
                %tr
                  %td
                    #{AccountingCode.find(idetails["accounting_entry"]).name}
                  %td
                  %td
                    #{idetails["old_value"]}
                  %td
                  %td
                    #{idetails["value"]}
                  %td
                    #{(idetails["old_value"].to_f - idetails["value"].to_f).round(2)}
              %tr
                %td
                  #{AccountingCode.find("9f4b1331-cd5a-4edb-9920-a5029759885d").name}
                %td
                %td
                  #{@restucture_details.data["loans"].last["total_old_service_fee"]}
                %td
                %td
                  #{@restucture_details.data["loans"].last["total_service_fee"]}
                %td
                  #{(@restucture_details.data["loans"].last["total_old_service_fee"].to_f - @restucture_details.data["loans"].last["total_service_fee"].to_f).round(2)}
                  

                  
  
              
        - if @restucture_details.data["accounting_entry_id"] == []
          
          = render partial: "accounting_entry_pending_display", locals: { accounting_entry_pending: @accounting_entry}               
          
        - else
          - @restucture_details.data["accounting_entry_id"].each do |a|
            = render partial: "accounting_entry_display", locals: { accounting_entry: AccountingEntry.find(a)}               

= render partial: "adjustments/recompute_restructures/models/approve"

= render partial: "adjustments/accrued_interests/modals/delete"


