- if user.errors.full_messages.any?
  %h5
    Errors
  %ul
    - user.errors.full_messages.each do |o|
      %li
        #{o}

= simple_form_for [:administration, user] do |f|
  - if params[:change_password].blank?
    .row
      .col
        .form-group
          = f.input :first_name, input_html: { class: 'form-control' }
      .col
        .form-group
          = f.input :last_name, input_html: { class: 'form-control' }
    .row
      .col
        .form-group
          = f.input :email, input_html: { class: 'form-control' }
      .col
        .form-group
          = f.input :username, input_html: { class: 'form-control' }
      .col
        .form-group
          = f.input :identification_number, input_html: { class: 'form-control' }
    .row
      .col
        .form-group
          %label
            Roles
          = f.input :roles, as: :check_boxes, collection: User::ROLES, label: false
      .col
        .form-group
          %label
            Profile Picture
          = f.input :profile_picture, as: :file, label: false
          %br
          - if user.profile_picture.attached?
            = image_tag user.profile_picture.variant(resize: '50x50')
          - else
            = image_tag user.profile_picture_url
    .row
      .col
        .form-group
          = f.input :is_regular
      .col
        .form-group
          %label
            Incentivized Date
          = f.input :incentivized_date, as: :string, input_html: { class: 'form-control', type: 'date' }, label: false
  - if user.new_record? || params[:change_password].present?
    .row
      .col
        .form-group
          = f.input :password, input_html: { class: 'form-control' }
      .col
        .form-group
          = f.input :password_confirmation, input_html: { class: 'form-control' }

  %hr
  .btn-group
    %button{ type: "submit", class: "btn btn-primary" }
      .fa.fa-check
      Save
    - if user.new_record?
      = link_to administration_users_path, class: 'btn btn-danger' do
        .fa.fa-times
        Cancel
    - else
      = link_to administration_user_path(user), class: 'btn btn-danger' do
        .fa.fa-times
        Cancel
