= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "index_filter"
          - if @insurance_withdrawal_collections.size > 0
            = render partial: "index_list", locals: { insurance_withdrawal_collections: @insurance_withdrawal_collections }
            = paginate @insurance_withdrawal_collections
          - else
            %p
              No insurance_withdrawal_collections found

= render partial: "insurance_withdrawal_collections/modals/new_transaction"
= render partial: "templates/error_list"
= render partial: "templates/loader"

= javascript_include_tag "insurance_withdrawal_collections/Index"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');

    Index.init({
      authenticityToken: authenticityToken
    });
  });
