= title
.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        - if @insurance_withdrawal_collections.any?
          = render partial: "index_list", locals: { insurance_withdrawal_collections: @insurance_withdrawal_collections }
          = paginate @insurance_withdrawal_collections
        - else
          %p
            No insurance_withdrawal_collections found

= render partial: "insurance_withdrawal_collections/modals/new_transaction"
= render partial: "templates/error_list"
= render partial: "templates/loader"

#parameters{ data: { controller: "#{params[:controller]}", action: "#{params[:action]}" } }
