= title @insurance_withdrawal_collection.id
.row
  .col
    .card
      .card-body
        - if @insurance_withdrawal_collection.pending?
          .alert.alert-info
            %p
              Pindutin ang amount upang baguhin ito.
        %h5
          Insurance Withdrawal Collection for #{@insurance_withdrawal_collection.branch} / #{@insurance_withdrawal_collection.center} - #{@insurance_withdrawal_collection.collection_date.strftime("%b %d, %Y")}
        #react-root

        - if debug?
          %pre
            %code
              #{JSON.pretty_generate(JSON.parse(@insurance_withdrawal_collection.to_json))}

= render partial: "shared/modals/print"
= render partial: "insurance_withdrawal_collections/modals/approve"
= render partial: "templates/error_list"
