.row
  .col
    .card
      .card-body
        - if @equity_withdrawal_collection.pending?
          .callout.callout-info
            %p
              Pindutin ang amount upang baguhin ito.
        %h5
          Equity Withdrawal Collection for #{@equity_withdrawal_collection.branch} / #{@equity_withdrawal_collection.center} - #{@equity_withdrawal_collection.collection_date.strftime("%b %d, %Y")}
        #react-root

        - if debug?
          %pre
            %code
              #{JSON.pretty_generate(JSON.parse(@equity_withdrawal_collection.to_json))}

= render partial: "shared/modals/print"
= render partial: "equity_withdrawal_collections/modals/approve"
= render partial: "templates/error_list"
