- if @lock_in_period
  %h4
    Current Lock-In Period
  %hr
  = render partial: "savings_accounts/time_deposit/lock_in_period"
- if @pending_requests.size > 0
  %h4
    Withdrawal Request
  = render partial: "savings_accounts/time_deposit/pending_requests"

  - if params[:debug].present?
    %pre
      #{JSON.pretty_generate(@pending_requests)}
- else
  No current pending withdrawal requests.
%hr
- if @approved_requests.size > 0
  %h4
    Approved Withdrawals
  = render partial: "savings_accounts/time_deposit/approved_requests"
- else
  No current approved withdrawals.
%hr
- if @autorenewals.size > 0
  %h4
    Autorenewals
  = render partial: "savings_accounts/time_deposit/autorenewals"
- else
  No autorenewals.
