%ol.breadcrumb
  %li.breadcrumb-item
    = link_to savings_accounts_path do
      .fa.fa-piggy-bank
      Savings
  %li.breadcrumb-item
    = link_to member_path(@savings_account.member) do
      .fa.fa-user
      #{@savings_account.member.full_name}
  %li.breadcrumb-item
    #{@savings_account.account_subtype}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      .btn
        %strong
          Balance:
        #{number_to_currency(@savings_account.balance, unit: "")}
