%table.table.table-hover.table-sm.table-bordered
  %thead
    %tr
      - if current_user.roles.include?("MIS")
        %th
      %th
        %center
          Date
      %th
        %center
          Type
      %th
        %center
          Adjusment
      %th.text-end
        Beginning Balance
      %th.text-end
        Amount
      %th.text-end
        Ending Balance
  %tbody
    - @account_transactions.each do |o|
      %tr
        - if current_user.roles.include?("MIS")
          %td
            %small
              #{o.id}
              %br
              Transacted At: #{o.transacted_at}
              |
              Updated At: #{o.updated_at}
        %td
          %center
            %small
              #{o.transacted_at.strftime("%b %d, %Y")}
        %td
          %center
            - if o.deposit?
              - if o.interest?
                I
              - else
                D
            - elsif o.withdraw?
              W
        %td
          %center
            - if o.data["is_adjustment"].present?
              - if o.deposit?
                %center
                  .badge.bg-success
                    .fa.fa-plus
                    ADD
              - else
                %center
                  .badge.bg-danger
                    .fa.fa-minus
                    DEDUCT
        %td.text-end.text-muted
          #{number_to_currency(o.data["beginning_balance"], unit: "")}
        %td.text-end
          #{number_to_currency(o.amount, unit: "")}
        %td.text-end.text-muted
          #{number_to_currency(o.data["ending_balance"], unit: "")}
