%table.table.table-hover.table-sm.table-bordered
  %thead
    %tr
      - if current_user.roles.include?("MIS")
        %th
      %th
        %center
          Date
      %th
        %center
          Type
      %th.text-right
        Beginning Balance
      %th.text-right
        Amount
      %th.text-right
        Ending Balance
  %tbody
    - @account_transactions.each do |o|
      %tr
        - if current_user.roles.include?("MIS")
          %td
            %small
              #{o.id}
        %td
          %center
            %small
              #{o.transacted_at.localtime.strftime("%b %d, %Y")}
        %td
          %center
            - if o.deposit?
              - if o.interest?
                I
              - else
                D
            - elsif o.withdraw?
              W
        %td.text-right.text-muted
          #{number_to_currency(o.data["beginning_balance"], unit: "")}
        %td.text-right
          #{number_to_currency(o.amount, unit: "")}
        %td.text-right.text-muted
          #{number_to_currency(o.data["ending_balance"], unit: "")}
