= title
= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "index_filter"
          - if @savings_accounts.any?
            = render partial: "index_list"
            = paginate @savings_accounts
          - else
            %p
              No accounts found
