= title @record.id
.h5
  - repayment_title = "Repayment Rates #{@record.data["branch"]["name"]} - #{DateTime.parse(@record.data["as_of"]).strftime("%b %d, %Y")}"
  = repayment_title
  %br
  %br
  .row
    .col
      .card
        .card-body
          - if @record.error?
            = render partial: "data_stores/error_page"
          - else
            #react-root
            #hidden-title{style: "display:none;"}= repayment_title