.message
%br
.message
.row
  = image_tag('kmba.ico', alt: 'Kmba Logo', style: 'max-width: 100px; height: auto;')
  .col{class: "col-md-8"}
    %h6
      Kasagana-ka Mutual Benefit Association, Inc.
    .form-group
      %h3
        Calamity Assistance
%hr
.row
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"}
        Date Prepared
        = text_field_tag :date_prepared, @claim.date_prepared, class: 'form-control ', type: 'date', id: 'date-prepared'
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"}
        Date Requested
        = text_field_tag :date_requested,@claim.data["date_requested"], class: 'form-control', type: 'date', id: 'date-requested'
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"} 
        Date Event
        = text_field_tag :date_of_event, @claim.data["date_of_event"], class: 'form-control', type: 'date', id: 'date-of-event'
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"} 
        Type of Calamity
        = text_field_tag :type_of_calamity, @claim.data["type_of_calamity"], class: 'form-control', id: 'type-of-calamity'
.row
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"} 
        Purpose
        = text_field_tag :purpose, @claim.data["purpose"], class: 'form-control', value: 'Payment for Calamity Assistance', id: 'purpose'   
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"} 
        Amount
        = text_field_tag :amount, @claim.data["amount"], class: 'form-control', id: 'amount'
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"} 
        Name of Beneficiary
        = text_field_tag :name_of_beneficiary, @claim.data["name_of_beneficiary"], class: 'form-control', id: 'name-of-beneficiary'
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"} 
        Name of Payee
        = text_field_tag :name_of_payee, @claim.data["name_of_payee"], class: 'form-control', id: 'name-of-payee'
.row
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"}
        Prepared by
        = text_field_tag :prepared_by, @claim.prepared_by, class: 'form-control', id: 'prepared-by', value: current_user.print_full_name.titleize       
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"}
        Claims Payment through
        = text_field_tag :claims_payment, @claim.data["claims_payment"], class: 'form-control', id: 'claims-payment'
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"}
        Account Name
        = text_field_tag :account_name, @claim.data["account_name"], class: 'form-control', id: 'account-name'
  .col{class: "col-md-3"}
    .form-group
      %label.col.control-label{class: "col-md-12"}
        Account Number
        = text_field_tag :account_number, @claim.data["account_number"], class: 'form-control', id: 'account-number'
%br
.row
  .col
    .form-actions
    = button_tag type: 'submit', class: 'btn btn-primary', id: "submit-button" do
      .fa.fa-check
      Submit
    = link_to claims_path, class: 'btn btn-default' do
      .fa.fa-times
      Cancel


#parameters{ data: { id: params[:id] }}
= javascript_include_tag "claims/calamity_form"
