.message
.row
  .col
    .form-group
      %h3
        HIIP Information
.row
  .col
    .form-group
      %label.col.control-label
        Date Prepared
        = text_field_tag :date_prepared, @claim.date_prepared, class: 'form-control ', id: 'date-prepared',type: 'date'
  .col
    .form-group
      %label.col.control-label
        Certificate No.
        = text_field_tag :certificate_number, @claim.data["certificate_number"], class: 'form-control', id: 'certificate-number' 
  .col
    .form-group
      %label.col.control-label
        Date of Birth
        = text_field_tag :date_of_birth, @claim.data["date_of_birth"], class: 'form-control', id: 'date-of-birth', value: @claim.member.date_of_birth, type: 'date'
  .col
    .form-group
      %label.col.control-label
        Age
        = text_field_tag :age, @claim.data["age"], class: 'form-control', id: 'age', value: @claim.member.age
.row
  .col
    .form-group
      %label.col.control-label
        Effective Date of Coverage
        = text_field_tag :effective_date_of_coverage, @claim.data["effective_date_of_coverage"], class: 'form-control', id: 'effective-date-of-coverage', type: 'date'
  .col
    .form-group
      %label.col.control-label
        Expiration Date of Coverage
        = text_field_tag :expiration_date_of_coverage, @claim.data["expiration_date_of_coverage"], class: 'form-control', id: 'expiration-date-of-coverage', type: 'date'
  .col
    .form-group
      %label.col.control-label
        Date Admitted
        = text_field_tag :date_admitted, @claim.data["date_admitted"], class: 'form-control', id: 'date-admitted', type: 'date'
  .col
    .form-group
      %label.col.control-label
        Date Discharged
        = text_field_tag :date_discharged, @claim.data["date_discharged"], class: 'form-control', id: 'date-discharged', type: 'date'      
.row
  .col
    .form-group
      %label.col.control-label
        Number of Days to be Paid
        = text_field_tag :number_of_days_tobepaid, @claim.data["number_of_days_tobepaid"], class: 'form-control', id: 'number-of-days-tobepaid'
  .col
    .form-group
      %label.col.control-label
        Amount
        = text_field_tag :amount, @claim.data["amount"], class: 'form-control', id: 'amount'
.row
  .col
    .form-group
      %label.col.control-label
        Name of Claimant
        = text_field_tag :name_of_claimant, @claim.data["name_of_claimant"], class: 'form-control', id: 'name-of-claimant'
  .col
    .form-group
      %label.col.control-label
        Reason of Confinement
        = text_field_tag :reason_of_confinement, @claim.data["reason_of_confinement"], class: 'form-control', id: 'reason-of-confinement'
  .col
    .form-group
      %label.col.control-label
        Diagnosis
        = text_field_tag :diagnosis, @claim.data["diagnosis"], class: 'form-control', id: 'diagnosis'
.row
  .col
    .form-group
      %label.col-md-3.control-label
        Prepared by
        = text_field_tag :prepared_by, @claim.prepared_by, class: 'form-control', id: 'prepared-by', value: current_user.print_full_name.titleize      
.row
.col
  .form-actions
  = button_tag type: 'submit', class: 'btn btn-primary', id: "submit-button" do
    .fa.fa-check
    Submit
  = link_to claims_path, class: 'btn btn-default' do
    .fa.fa-times
    Cancel

#parameters{ data: { id: params[:id] }}
= javascript_include_tag "claims/hiip_form"
