<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

<div class="bg-white pa3 f7">
  <div class="f4 b mb2">Operations (<%= @operations.size %>)</div>

  <table class="ba b--black-10 w-100">
    <thead class="ttu">
      <tr>
        <td class="pa2 b">Name</td>
        <td class="pa2 b">Actions</td>
      </tr>
    </thead>
    <tbody>
      <% @operations.each do |operation| %>
        <%
          name_chunks = operation.name.split("::")
        %>
        <tr class="bt b--black-10">
          <td class="pa2 code">
            <span class="silver"><%= name_chunks[0..-2].join("::") %>::</span><%= name_chunks[-1] %>.new(<code><%= operation.initialize_params.join(", ") %></code>)
          </td>
          <td class="pa2">
            <%= link_to "run", "#", class: "b bg-red pv1 ph2 ttu white" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </div>
</div>
