= title @online_application.full_name
.row
  .col
    .card
      .card-body
        %h3
          #{@online_application}
        %hr

        - if @online_application.for_verification?
          %h4.badge.badge-warning
            FOR VERIFICATION
        - elsif @online_application.verified?
          %h4.badge.badge-info
            VERIFIED
        - elsif @online_application.processed?
          %h4.badge.badge-success
            PROCESSED
        - elsif @online_application.rejected?
          .alert.alert-danger
            %h4
              APPLICATION REJECTED:
            %p
              #{@online_application.data["reason_for_rejection"]}

        %hr

        - if @online_application.profile_picture.attached?
          %center
            = image_tag @online_application.profile_picture

        .table-responsive
          %table.table.table-sm.table-bordered
            %tbody
              %tr
                %th{ width: "25%" }
                  Reference Number
                %td
                  #{@online_application.reference_number}
              %tr
                %th
                  First Name
                %td
                  #{@online_application.first_name}
              %tr
                %th
                  Middle Name
                %td
                  #{@online_application.middle_name}
              %tr
                %th
                  Last Name
                %td
                  #{@online_application.last_name}
              %tr
                %th
                  Branch
                %td
                  #{@online_application.branch}
              %tr
                %th
                  Gender
                %td
                  #{@online_application.gender}
              %tr
                %th
                  Age
                %td
                  #{@online_application.age}
              %tr
                %th
                  Date of Birth
                %td
                  #{@online_application.date_of_birth.strftime("%B %d, %Y")}
              %tr
                %th
                  Civil Status
                %td
                  #{@online_application.civil_status}
              %tr
                %th
                  Home Number
                %td
                  #{@online_application.home_number}
              %tr
                %th
                  Mobile Number
                %td
                  #{@online_application.mobile_number}
              %tr
                %th
                  Place of Birth
                %td
                  #{@online_application.place_of_birth}
              %tr
                %th
                  Religion
                %td
                  #{@online_application.religion}
              %tr
                %th
                  Address
                %td
                  #{@online_application.data["address"]["street"]} #{@online_application.data["address"]["district"]} #{@online_application.data["address"]["city"]}
              %tr
                %th
                  Mother's Name
                %td
                  #{@online_application.data["mothers_last_name"]}, #{@online_application.data["mothers_first_name"]} #{@online_application.data["mothers_middle_name"]}
              %tr
                %th
                  Spouse
                %td
                  #{@online_application.data["spouse"]["lastName"]}, #{@online_application.data["spouse"]["firstName"]} #{@online_application.data["spouse"]["middleName"]}
              %tr
                %th
                  SSS / GSIS
                %td
                  #{@online_application.data["government_identification_numbers"]["sss_number"]}
              %tr
                %th
                  Pag-ibig Number
                %td
                  #{@online_application.data["government_identification_numbers"]["pag_ibig_number"]}
              %tr
                %th
                  Philhealth Number
                %td
                  #{@online_application.data["government_identification_numbers"]["phil_health_number"]}
              %tr
                %th
                  TIN Number
                %td
                  #{@online_application.data["government_identification_numbers"]["tin_number"]}
         
        %h4
          Legal Dependents
        %table.table.table-sm.table-bordered
          %thead
            %tr
              %th
                First Name
              %th
                Middle Name
              %th
                Last Name
              %th
                Date of Birth
              %th
                Education
              %th
                Course
              %th
                Relationship
          %tbody
            - @online_application.data["legal_dependents"].each do |o|
              %tr
                %td
                  #{o["firstName"]}
                %td
                  #{o["middleName"]}
                %td
                  #{o["lastName"]}
                %td
                  #{o["dateOfBirth"]}
                %td
                  #{o["education"]}
                %td
                  #{o["course"]}
                %td
                  #{o["relationship"]}

        %h4
          Beneficiaries
        %table.table.table-sm.table-bordered
          %thead
            %tr
              %th
                First Name
              %th
                Middle Name
              %th
                Last Name
              %th
                Date of Birth
              %th
                Relationship
              %th
                Primary
          %tbody
            - @online_application.data["beneficiaries"].each_with_index do |o, i|
              %tr
                %td
                  #{o["firstName"]}
                %td
                  #{o["middleName"]}
                %td
                  #{o["lastName"]}
                %td
                  #{o["dateOfBirth"]}
                %td
                  #{o["relationship"]}
                %td
                  - if i == 0
                    .badge.badge-success
                      YES

        %h4
          Documents Provided
        %table.table.table-sm.table-bordered
          %thead
            %tr
              %th
                Name
              %th
                File
          %tbody
            - @online_application.online_application_documents.each do |o|
              %tr
                %td
                  #{o.file_name}
                %td
                  = link_to rails_blob_path(o.file, disposition: "attachment"), class: 'btn btn-success btn-sm' do
                    .fa.fa-download
                    Download File

        %hr
        - if @online_application.for_verification?
          .row
            .col-md-6.col-xs-12
              %button#btn-verify.btn.btn-success.btn-block
                .fa.fa-check
                Verify
            .col-md-6.col-xs-12
              %button#btn-reject.btn.btn-danger.btn-block
                .fa.fa-times
                Reject
        - elsif @online_application.verified?
          .row
            .col-md-6.col-xs-12
              %button#btn-process.btn.btn-info.btn-block
                .fa.fa-check
                Process
            .col-md-6.col-xs-12
              %button#btn-reject.btn.btn-danger.btn-block
                .fa.fa-times
                Reject

= render partial: "online_applications/modals/process"
= render partial: "online_applications/modals/verify"
= render partial: "online_applications/modals/reject"
= render partial: "online_applications/modals/assign_branch"
= render partial: "templates/error_list"
= render partial: "templates/center_options"
