.row
  .col
    .card
      .card-body
        %table.table.table-sm.table-hover
          %thead
            %tr
              %th
                Type
              %th
                SATO
              %th
                As of
              %th
                Loan Type
              %th
                Date released fr
              %th
                Date released to
              %th
                Loan Amount fr
              %th
                Loan Amount to
              %th
                Action
            %tr
              %td
                .form-group
                  = select_tag :midas_type, options_for_select(["SB Corp."]), class: "form-control select-select2", id: "midas-type" , prompt: "- SELECT -"
 
              %td
                .form-group
                  = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "select-branch", prompt: "-- SELECT --"
              %td
                = date_field_tag :as_of, "now", class: "form-control", id: "as-of"
              %td
                =  select_tag :loan_product_id, options_from_collection_for_select(LoanProduct.order("name ASC"), :id, :name, @loan_product_id), class: "form-control select-select2", id: "loan-product-select", prompt: "-- SELECT --"
              %td
                = date_field_tag :date_rel_fr, "now", class: "form-control", id: "date-rel-fr"
              %td
                = date_field_tag :date_rel_to, "now", class: "form-control", id: "date-rel-to"
              %td
              %td
              %td
                %button#btn-gen-midas.btn.btn-success.btn-info{ data: { id: ""  } }
                  Generate Excel
 
