%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-money-check
      K-Kalinga 
  %li.breadcrumb-item
    .fa.fa-user
    = link_to "#{@claim.member.full_name}", member_path(@claim.member), target: "_blank"
  %li.breadcrumb-menu.d-md-down-none
    - if @claim.approved?
      .btn-group
        = link_to edit_claim_path(@claim), class: 'btn btn-app' do
          %i.fa.fa-edit
          Edit
      .btn-group    
        = link_to claim_kalinga_validation_pdf_path(@claim), target: "_blank", class: "btn btn-app" do
          .fa.fa-download
          Validation PDF
      .btn-group 
        = link_to claim_kalinga_loa_pdf_path(@claim), target: "_blank", class: "btn btn-app" do
          .fa.fa-print
          LOA
      .btn-group
        = link_to claims_path do
          .fa.fa-arrow-left
          Back to Claims
    - else
      .btn-group
        = link_to "", class: "btn btn-app", id: "approved-button"  do
          .fa.fa-check
          Approved
      .btn-group
        = link_to edit_claim_path(@claim), class: 'btn btn-app' do
          %i.fa.fa-edit
          Edit
      .btn-group 
        = link_to claim_path(@claim), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-app" do
          %i.fa.fa-times
          Delete
      .btn-group
        = link_to claims_path do
          .fa.fa-arrow-left
          Back to Claims