%div{ id: "accounting-entry", class: "card #{accounting_entry.approved? ? 'border-success' : 'border-danger'}" }
  %div{ class: "card-header #{accounting_entry.approved? ? "bordered-success #{accounting_entry_context_class(accounting_entry.book)} text-white" : 'border-danger'}" }
    .row
      .col-md-6
        %strong
          = link_to accounting_accounting_entry_path(accounting_entry, book: accounting_entry.book.downcase) do
            - if accounting_entry.approved?
              #{accounting_entry.reference_number} - 
              #{accounting_entry.date_posted.strftime("%B %d, %Y")}
            - else
              Pending
      .col-md-6
        .text-right
          .text-muted
            .fa.fa-store
            #{accounting_entry.book} - #{accounting_entry.branch.to_s}
  .card-body
    %table.table.table-sm
      %tr
        %th{ width: "50%" }
          Accounting Code
        %th.text-right{ width: "25%" }
          Debit
        %th.text-right{ width: "25%" }
          Credit
      - accounting_entry.journal_entries.debit.each do |o|
        %tr
          %td
            #{o.accounting_code.name}
          %td.text-right
            #{number_to_currency(o.amount, unit: "")}
          %td
      - accounting_entry.journal_entries.credit.each do |o|
        %tr
          %td
            #{o.accounting_code.name}
          %td
          %td.text-right
            #{number_to_currency(o.amount, unit: "")}
    %hr
    .row
      .col-md-8
        - if accounting_entry.crb?
          %strong
            OR Number: 
          .text-muted
            #{accounting_entry.data['or_number']}
        - if accounting_entry.cdb?
          .row
            - if accounting_entry.data["check_number"].present?
              .col
                %strong
                  Check Number:
                .text-muted
                  #{accounting_entry.data["check_number"]}
            - if accounting_entry.data["check_voucher_number"].present?
              .col
                %strong
                  Check Voucher Number:
                .text-muted
                  #{accounting_entry.data["check_voucher_number"]}
            - if accounting_entry.data["date_of_check"].present?
              .col
                %strong
                  Date of Check
                .text-muted
                  #{accounting_entry.data["date_of_check"]}
        - if accounting_entry.data["payee"].present?
          %br
          %strong
            Payee:
          .text-muted
            #{accounting_entry.data["payee"]}
        %br
        .row
          .col
            %label
              Particular
            %p
              #{accounting_entry.particular}
      .col-md-4
        %p.text-right
          %label
            %strong
              Approved By:
          %br
          #{accounting_entry.approved_by}
