- is_not_remote = ["REMOTE-OAS", "REMOTE-BK", "REMOTE-FM"].exclude? current_user.roles.last
- is_not_ojt = ["OJT"].exclude? current_user.roles.last

#sidebar.c-sidebar.c-sidebar-dark.c-sidebar-fixed
  .c-sidebar-brand.d-md-down-none
    - if microinsurance?
      = image_tag "kmba_logo.png", width: "89", class: "c-sidebar-brand-full"  
    - else  
      = image_tag "logo.png", width: "89", class: "c-sidebar-brand-full"
  %ul.c-sidebar-nav
    %li.c-sidebar-nav-item
      = link_to root_path, class: "c-sidebar-nav-link #{params[:controller] == "pages" and params[:action] == "index" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-tachometer-alt
        Operations
    %li.c-sidebar-nav-item
      = link_to members_path, class: "c-sidebar-nav-link #{params[:controller] == "members" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-users
        Members
    %li.c-sidebar-nav-item
      = link_to trends_path, class: "c-sidebar-nav-link #{params[:controller] == "trends" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-check
        Trends
    - if microloans?
      %li.c-sidebar-nav-item
        = link_to loans_path, class: "c-sidebar-nav-link #{params[:controller] == "loans" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-hand-holding-usd
          Loans
      %li.c-sidebar-nav-item
        = link_to online_applications_path, class: "c-sidebar-nav-link #{params[:controller] == "online_applications" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-globe-asia
          Online Applications
    %li.c-sidebar-nav-title
      Transactions
    - if microloans?
      %li.c-sidebar-nav-item
        = link_to billings_path, class: "c-sidebar-nav-link #{params[:controller] == "billings" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Billings
      %li.c-sidebar-nav-item
        = link_to billing_for_full_payments_path, class: "c-sidebar-nav-link #{params[:controller] == "billing_for_full_payments_path" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Billings for full payment
    - if is_not_remote
      %li.c-sidebar-nav-item
        = link_to membership_payment_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "membership_payment_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Membership Payments
    - if microloans?
      %li.c-sidebar-nav-item
        = link_to deposit_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "deposit_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Deposits
      %li.c-sidebar-nav-item
        = link_to time_deposit_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "time_deposit_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Time Deposits
      %li.c-sidebar-nav-item
        = link_to savings_insurance_transfer_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "savings_insurance_transfer_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Savings Insurance Transfers
    %li.c-sidebar-nav-item
      = link_to withdrawal_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "withdrawal_collections" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-money-check
        Withdrawals
    - if !microloans?
      %li.c-sidebar-nav-item
        = link_to deposit_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "deposit_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Deposits
    %li.c-sidebar-nav-item
      = link_to insurance_fund_transfer_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "insurance_fund_transfer_collections" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-money-check
        Insurance Fund Transfer
    %li.c-sidebar-nav-item
      = link_to insurance_withdrawal_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "insurance_withdrawal_collections" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-money-check
        Insurance Withdrawals
    - if is_not_remote
      %li.c-sidebar-nav-item
        = link_to monthly_closing_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "monthly_closing_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Monthly Closing Collections
      %li.c-sidebar-nav-item
        = link_to equity_withdrawal_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "equity_withdrawal_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Equity Withdrawals

    - if is_not_ojt
      %li.c-sidebar-nav-title
        Accounts
      - if microloans?
        %li.c-sidebar-nav-item
          = link_to savings_accounts_path, class: "c-sidebar-nav-link #{params[:controller] == "savings_accounts" ? 'active' : ''}" do
            .c-sidebar-nav-icon.fa.fa-piggy-bank
            Savings
        %li.c-sidebar-nav-item
          = link_to insurance_accounts_path, class: "c-sidebar-nav-link #{params[:controller] == "insurance_accounts" ? 'active' : ''}" do
            .c-sidebar-nav-icon.fa.fa-piggy-bank
            Insurance
        %li.c-sidebar-nav-item
          = link_to equity_accounts_path, class: "c-sidebar-nav-link #{params[:controller] == "equity_accounts" ? 'active' : ''}" do
            .c-sidebar-nav-icon.fa.fa-piggy-bank
            Equity
      - if is_not_remote
        %li.c-sidebar-nav-title
          Accounting
        %li.c-sidebar-nav-item
          = link_to accounting_accounting_codes_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-balance-scale
            Chart of Accounts
        %li.c-sidebar-nav-item
          = link_to accounting_trial_balances_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-balance-scale
            Trial Balances
        / - if microloans?  
        %li.c-sidebar-nav-item
          = link_to accounting_general_ledgers_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-balance-scale
            General Ledgers
        %li.c-sidebar-nav-item
          = link_to monthly_accounting_code_summaries_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-balance-scale
            Monthly AC Summaries

        %li.c-sidebar-nav-title
          Journal Entries
        %li.c-sidebar-nav-item
          = link_to accounting_accounting_entry_form_path(book: "CRB"), class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-plus
            Cash Receipts
        %li.c-sidebar-nav-item
          = link_to accounting_accounting_entry_form_path(book: "CDB"), class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-plus
            Cash Disbursements
        %li.c-sidebar-nav-item
          = link_to accounting_accounting_entry_form_path(book: "JVB"), class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-plus
            General Journal
        %li.c-sidebar-nav-title
          Books
        %li.c-sidebar-nav-item
          = link_to accounting_books_crb_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-book
            Cash Receipts
        %li.c-sidebar-nav-item
          = link_to accounting_books_cdb_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-book
            Cash Disbursements
        %li.c-sidebar-nav-item
          = link_to accounting_books_jvb_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-book
            General Journal
        %li.c-sidebar-nav-item
          = link_to accounting_books_misc_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-book
            Misc.
        - if microinsurance?  
          %li.c-sidebar-nav-item
            = link_to "/accounting/general_ledger", class: "c-sidebar-nav-link" do
              .c-sidebar-nav-icon.fa.fa-book
              General Ledger
        %li.c-sidebar-nav-title
          Accounting Reports
        %li.c-sidebar-nav-item
          = link_to accounting_year_end_closings_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            Year End Closing
        %li.c-sidebar-nav-item
          = link_to "/data_stores/icpr", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            ICPR
        %li.c-sidebar-nav-item
          = link_to "/data_stores/patronage_refund", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            Patronage Refund
        %li.c-sidebar-nav-item
          = link_to accounting_balance_sheets_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            Balance Sheets
        %li.c-sidebar-nav-item
          = link_to accounting_income_statements_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            Income Statements
        %li.c-sidebar-nav-title
          Adjustments
        %li.c-sidebar-nav-item
          = link_to adjustments_subsidiary_adjustments_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-eraser
            Subsidiary
        %li.c-sidebar-nav-item
          = link_to adjustments_batch_moratorium_adjustments_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-eraser
            Batch Moratorium
        %li.c-sidebar-nav-item
          = link_to adjustments_moratoriums_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-eraser
            Moratoriums
        %li.c-sidebar-nav-item
          = link_to adjustments_accrued_interests_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-eraser
            Accrued Interest
        %li.c-sidebar-nav-item
          = link_to adjustments_recompute_restructures_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-eraser
            Recompute Restructure
        %li.c-sidebar-nav-item
          = link_to members_search_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-eraser
            Member Checker
        %li.c-sidebar-nav-title
          Branch Reports
        %li.c-sidebar-nav-item
          = link_to "/data_stores/repayment_rates", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Repayment Rates
        %li.c-sidebar-nav-item
          = link_to "/data_stores/manual_aging", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Manual Aging
        %li.c-sidebar-nav-item
          = link_to "/data_stores/personal_funds", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Personal Funds
        %li.c-sidebar-nav-item
          = link_to "/data_stores/branch_loans_stats", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Loan Stats
        %li.c-sidebar-nav-item
          = link_to "/data_stores/member_counts", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Member Counts
        %li.c-sidebar-nav-item
          = link_to "/data_stores/insurance_member_counts", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Insurance Member Counts
        %li.c-sidebar-nav-item
          = link_to "/data_stores/claims_counts", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Claims Counts
        %li.c-sidebar-nav-item
          = link_to "/data_stores/accounting_entries_summaries", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Voucher Summary
        %li.c-sidebar-nav-item
          = link_to "/data_stores/soa_expenses", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            SOA Expenses
        %li.c-sidebar-nav-item
          = link_to "/data_stores/soa_loans", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            SOA Loans
        %li.c-sidebar-nav-item
          = link_to "/data_stores/soa_funds", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            SOA Funds
        %li.c-sidebar-nav-item
          = link_to "/data_stores/watchlists", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Watchlists
        %li.c-sidebar-nav-item
          = link_to "/data_stores/monthly_new_and_resigned", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Monthly New/Resigned
        %li.c-sidebar-nav-item
          = link_to "/data_stores/monthly_incentives", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Monthly Incentives
        %li.c-sidebar-nav-item
          = link_to "/data_stores/x_weeks_to_pay", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            X Weeks to Pay
        %li.c-sidebar-nav-item
          = link_to "/data_stores/branch_resignations", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Branch Resignations
        %li.c-sidebar-nav-item
          = link_to "/daily_branch_metrics", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Daily Branch Metrics
      %li.c-sidebar-nav-title
        Microinsurance
      %li.c-sidebar-nav-item
        = link_to member_account_validations_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-users
          Validations
      %li.c-sidebar-nav-item
        = link_to validations_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-users
          Validations Report
      %li.c-sidebar-nav-item
        = link_to insurance_exit_age_members_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-users
          Members for Exit age
      %li.c-sidebar-nav-item
        = link_to lapsed_members_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-users
          Lapsed Members
      - if is_not_remote
        %li.c-sidebar-nav-item
          = link_to members_for_reinsurance_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Members for Reinsurance
      %li.c-sidebar-nav-item
        = link_to daily_report_insurance_account_status_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-users
          Insurance Account Status
      - if is_not_remote
        %li.c-sidebar-nav-item
          = link_to seriatim_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Seriatim
      - if microinsurance?
        %li.c-sidebar-nav-item
          = link_to claims_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Claims Register
        %li.c-sidebar-nav-item
          = link_to "/reports/claims", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Claims Report

        %li.c-sidebar-nav-title
          Other Reports
        %li.c-sidebar-nav-item
          = link_to "/reports/monthly_remittance", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Monthly Remittance
        %li.c-sidebar-nav-item
          = link_to "/reports/insured_loans", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Insured Loans
        %li.c-sidebar-nav-item
          = link_to "/reports/member_reports", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Member Reports
        %li.c-sidebar-nav-item
          = link_to "/reports/collections_clip", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            CLIP Reports
        %li.c-sidebar-nav-item
          = link_to "/reports/collections_blip", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            BLIP Reports
        %li.c-sidebar-nav-item
          = link_to "/reports/member_dependents", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Member Dependents
        %li.c-sidebar-nav-item
          = link_to "/reports/member_quarterly_reports", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Member Quarterly
        %li.c-sidebar-nav-item
          = link_to "/reports/member_counts", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Member Counts
        %li.c-sidebar-nav-item
          = link_to "/reports/cic", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            CIC Report
        %li.c-sidebar-nav-item
          = link_to "/reports/monthly_collection", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Monthly Collection
        %li.c-sidebar-nav-item
          = link_to "/reports/summary_of_certificates_and_policies", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Cert and Policies
        %li.c-sidebar-nav-item
          = link_to "/reports/personal_documents", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            Personal Documents
        %li.c-sidebar-nav-item
          = link_to "/reports/hiip_report", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-chart-line
            HIIP Report
      %li.c-sidebar-nav-title
        Administration
      - if is_not_remote
        %li.c-sidebar-nav-item
          = link_to administration_announcements_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-bullhorn
            Announcements
        %li.c-sidebar-nav-item
          = link_to administration_users_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Users
        %li.c-sidebar-nav-item
          = link_to administration_loan_product_categories_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-list
            Loan Product Categories
        %li.c-sidebar-nav-item
          = link_to administration_loan_products_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-list
            Loan Products
        %li.c-sidebar-nav-item
          = link_to administration_areas_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-list
            Areas
        %li.c-sidebar-nav-item
          = link_to administration_clusters_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-list
            Clusters
      %li.c-sidebar-nav-item
        = link_to administration_branches_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-list
          Branches
      %li.c-sidebar-nav-item
        = link_to administration_centers_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-list
          Centers
      %li.c-sidebar-nav-item
        = link_to administration_membership_arrangements_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-list
          Membership Arrangements
      - if is_not_remote
        %li.c-sidebar-nav-item
          = link_to administration_surveys_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-list
            Surveys
        %li.c-sidebar-nav-item
          = link_to administration_project_type_categories_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-list
            Project Type Categories
        %li.c-sidebar-nav-item
          = link_to administration_member_shares_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-stamp
            Member Shares
        %li.c-sidebar-nav-item
          = link_to administration_member_shares_not_printed_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-stamp
            Not Printed Certificates
        %li.c-sidebar-nav-item
          = link_to administration_member_shares_printed_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-stamp
            Printed Certificates
        %li.c-sidebar-nav-item
          = link_to administration_member_shares_no_certificates_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-stamp
            No Certificates

      %li.c-sidebar-nav-title
        System Tools
      %li.c-sidebar-nav-item
        = link_to upload_deposit_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-upload
          Upload Deposit
      %li.c-sidebar-nav-item
        = link_to upload_fund_transfer_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-upload
          Upload Fund Transfer
      - if is_not_remote
        %li.c-sidebar-nav-item
          = link_to upload_insurance_withdrawal_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-upload
            Upload Insurance Withdrawal
      %li.c-sidebar-nav-item
        = link_to import_members_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-file-import
          Import Members
      %li.c-sidebar-nav-item
        = link_to import_beneficiaries_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-file-import
          Import Beneficiaries
      %li.c-sidebar-nav-item
        = link_to import_legal_dependents_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-file-import
          Import Dependents
      %li.c-sidebar-nav-item
        = link_to import_insurance_accounts_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-file-import
          Import Insurance Accounts
      %li.c-sidebar-nav-item
        = link_to import_insurance_account_transactions_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-file-import
          Import Insurance Transactions
      %li.c-sidebar-nav-item
        = link_to billing_per_center_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-file-import
          Billing Per Center
      %li.c-sidebar-nav-item
        = link_to "/data_stores/monthly_new_and_resigned", class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-file-import
          Monthly New and Res.
      %li.c-sidebar-nav-item
        = link_to export_tools_path, class: "c-sidebar-nav-link" do
          .c-sidebar-nav-icon.fa.fa-file-import
          Export Tools
