- is_not_remote = ["REMOTE-OAS", "REMOTE-BK", "REMOTE-FM"].exclude? current_user.roles.last
- is_not_ojt = ["OJT"].exclude? current_user.roles.last

#sidebar.c-sidebar.c-sidebar-dark.c-sidebar-fixed
  .c-sidebar-brand.d-md-down-none
    = image_tag "logo.png", width: "89", class: "c-sidebar-brand-full"
  %ul.c-sidebar-nav
    %li.c-sidebar-nav-item
      = link_to root_path, class: "c-sidebar-nav-link #{params[:controller] == "pages" and params[:action] == "index" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-tachometer-alt
        Operations
    %li.c-sidebar-nav-item
      = link_to members_path, class: "c-sidebar-nav-link #{params[:controller] == "members" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-users
        Members
    %li.c-sidebar-nav-item
      = link_to loans_path, class: "c-sidebar-nav-link #{params[:controller] == "loans" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-hand-holding-usd
        Loans
    %li.c-sidebar-nav-title
      Transactions
    - if microloans?
      %li.c-sidebar-nav-item
        = link_to billings_path, class: "c-sidebar-nav-link #{params[:controller] == "billings" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Billings
    - if is_not_remote
      %li.c-sidebar-nav-item
        = link_to membership_payment_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "membership_payment_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Membership Payments
    - if microloans?
      %li.c-sidebar-nav-item
        = link_to deposit_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "deposit_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Deposits
      %li.c-sidebar-nav-item
        = link_to time_deposit_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "time_deposit_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Time Deposits
      %li.c-sidebar-nav-item
        = link_to withdrawal_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "withdrawal_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Withdrawals
      %li.c-sidebar-nav-item
        = link_to savings_insurance_transfer_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "savings_insurance_transfer_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Savings Insurance Transfers
    %li.c-sidebar-nav-item
      = link_to insurance_fund_transfer_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "insurance_fund_transfer_collections" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-money-check
        Insurance Fund Transfer
    %li.c-sidebar-nav-item
      = link_to insurance_withdrawal_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "insurance_withdrawal_collections" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-money-check
        Insurance Withdrawals
    - if is_not_remote
      %li.c-sidebar-nav-item
        = link_to monthly_closing_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "monthly_closing_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Monthly Closing Collections
    - if is_not_ojt
      %li.c-sidebar-nav-title
        Accounts
      - if microloans?
        %li.c-sidebar-nav-item
          = link_to savings_accounts_path, class: "c-sidebar-nav-link #{params[:controller] == "savings_accounts" ? 'active' : ''}" do
            .c-sidebar-nav-icon.fa.fa-piggy-bank
            Savings
        %li.c-sidebar-nav-item
          = link_to insurance_accounts_path, class: "c-sidebar-nav-link #{params[:controller] == "insurance_accounts" ? 'active' : ''}" do
            .c-sidebar-nav-icon.fa.fa-piggy-bank
            Insurance
        %li.c-sidebar-nav-item
          = link_to equity_accounts_path, class: "c-sidebar-nav-link #{params[:controller] == "equity_accounts" ? 'active' : ''}" do
            .c-sidebar-nav-icon.fa.fa-piggy-bank
            Equity
      - if is_not_remote
        %li.c-sidebar-nav-title
          Accounting
        %li.c-sidebar-nav-item
          = link_to accounting_accounting_codes_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-balance-scale
            Chart of Accounts
        %li.c-sidebar-nav-item
          = link_to accounting_trial_balance_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-balance-scale
            Trial Balance
        %li.c-sidebar-nav-title
          Journal Entries
        %li.c-sidebar-nav-item
          = link_to accounting_accounting_entry_form_path(book: "CRB"), class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-plus
            Cash Receipts
        %li.c-sidebar-nav-item
          = link_to accounting_accounting_entry_form_path(book: "CDB"), class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-plus
            Cash Disbursements
        %li.c-sidebar-nav-item
          = link_to accounting_accounting_entry_form_path(book: "JVB"), class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-plus
            General Journal
        %li.c-sidebar-nav-title
          Books
        %li.c-sidebar-nav-item
          = link_to accounting_books_crb_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-book
            Cash Receipts
        %li.c-sidebar-nav-item
          = link_to accounting_books_cdb_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-book
            Cash Disbursements
        %li.c-sidebar-nav-item
          = link_to accounting_books_jvb_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-book
            General Journal
        %li.c-sidebar-nav-item
          = link_to accounting_books_misc_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-book
            Misc.
        %li.c-sidebar-nav-item
          = link_to "/accounting/general_ledger", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-book
            General Ledger
        %li.c-sidebar-nav-title
          Accounting Reports
        %li.c-sidebar-nav-item
          = link_to accounting_year_end_closings_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            Year End Closing
        %li.c-sidebar-nav-item
          = link_to "/data_stores/icpr", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            ICPR
        %li.c-sidebar-nav-item
          = link_to "/data_stores/patronage_refund", class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            Patronage Refund
        %li.c-sidebar-nav-item
          = link_to accounting_balance_sheets_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            Balance Sheets
        %li.c-sidebar-nav-item
          = link_to accounting_income_statements_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-calculator
            Income Statements
        %li.c-sidebar-nav-title
          Adjustments
        %li.c-sidebar-nav-item
          = link_to adjustments_subsidiary_adjustments_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-eraser
            Subsidiary
        %li.c-sidebar-nav-item
          = link_to adjustments_batch_moratorium_adjustments_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-eraser
            Batch Moratorium
        %li.c-sidebar-nav-title
          Microinsurance
        %li.c-sidebar-nav-item
          = link_to member_account_validations_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Validations
        %li.c-sidebar-nav-item
          = link_to validations_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Validations Report
        %li.c-sidebar-nav-item
          = link_to insurance_exit_age_members_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Members for Exit age
        %li.c-sidebar-nav-item
          = link_to lapsed_members_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Lapsed Members
        %li.c-sidebar-nav-item
          = link_to members_for_reinsurance_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Members for Reinsurance
        %li.c-sidebar-nav-item
          = link_to daily_report_insurance_account_status_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Insurance Account Status
        %li.c-sidebar-nav-item
          = link_to seriatim_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Seriatim
        %li.c-sidebar-nav-item
          = link_to claims_path, class: "c-sidebar-nav-link" do
            .c-sidebar-nav-icon.fa.fa-users
            Claims Register
