- is_not_remote = ["REMOTE-OAS", "REMOTE-BK", "REMOTE-FM"].exclude? current_user.roles.last
- is_not_ojt = ["OJT"].exclude? current_user.roles.last

#sidebar.c-sidebar.c-sidebar-dark.c-sidebar-fixed
  .c-sidebar-brand.d-md-down-none
    = image_tag "logo.png", width: "89", class: "c-sidebar-brand-full"
  %ul.c-sidebar-nav
    %li.c-sidebar-nav-item
      = link_to root_path, class: "c-sidebar-nav-link #{params[:controller] == "pages" and params[:action] == "index" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-tachometer-alt
        Operations
    %li.c-sidebar-nav-item
      = link_to members_path, class: "c-sidebar-nav-link #{params[:controller] == "members" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-users
        Members
    %li.c-sidebar-nav-item
      = link_to loans_path, class: "c-sidebar-nav-link #{params[:controller] == "loans" ? 'active' : ''}" do
        .c-sidebar-nav-icon.fa.fa-hand-holding-usd
        Loans
    %li.c-sidebar-nav-title
      Transactions
    - if microloans?
      %li.c-sidebar-nav-item
        = link_to billings_path, class: "c-sidebar-nav-link #{params[:controller] == "billings" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Billings
    - if is_not_remote
      %li.c-sidebar-nav-item
        = link_to membership_payment_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "membership_payment_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Membership Payments
    - if microloans?
      %li.c-sidebar-nav-item
        = link_to deposit_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "deposit_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Deposits
      %li.c-sidebar-nav-item
        = link_to time_deposit_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "time_deposit_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Time Deposits
      %li.c-sidebar-nav-item
        = link_to withdrawal_collections_path, class: "c-sidebar-nav-link #{params[:controller] == "withdrawal_collections" ? 'active' : ''}" do
          .c-sidebar-nav-icon.fa.fa-money-check
          Withdrawals
