.sidebar
  %nav.sidebar-nav.open
    %ul.nav
      = render partial: "shared/sidebar_operations"
      = render partial: "shared/sidebar_accounting"
      = render partial: "shared/sidebar_administration"
      = render partial: "shared/sidebar_data_stores"
      = render partial: "shared/sidebar_monitoring"
