.sidebar
  %nav.sidebar-nav.open
    %ul.nav
      %li.nav-item
        = link_to root_path, class: "nav-link #{params[:controller] == 'pages' && params[:action] == 'index' ? 'active' : ''}" do
          %i.fa.fa-tachometer-alt
          Dashboard
      %li.nav-title
        Administration
      %li{ class: "nav-item #{params[:controller] == 'administration/users' ? 'active' : ''}" }
        = link_to administration_users_path, class: 'nav-link' do
          %i.fa.fa-users
          User Management
      %li{ class: "nav-item #{params[:controller] == 'administration/areas' ? 'active' : ''}" }
        = link_to administration_areas_path, class: 'nav-link' do
          %i.fa.fa-file
          Areas Management

      %li{ class: "nav-item #{params[:controller] == 'administration/clusters' ? 'active' : ''}" }
        = link_to administration_clusters_path, class: 'nav-link' do
          %i.fa.fa-file
          Cluster Management
      %li{ class: "nav-item #{params[:controller] == 'administration/branches' ? 'active' : ''}" }
        = link_to administration_branches_path, class: 'nav-link' do
          %i.fa.fa-file
          Branch Management
      %li{ class: "nav-item #{params[:controller] == 'administration/centers' ? 'active' : ''}" }
        = link_to administration_centers_path, class: 'nav-link' do
          %i.fa.fa-file
          Center Management
