%li.nav-title
  Reports
%li{ class: "nav-item nav-dropdown" }
  = link_to "#", class: "nav-link nav-dropdown-toggle" do
    %i.nav-icon.fa.fa-store-alt
    Branch Level
  %ul.nav-dropdown-items
    %li{ class: "nav-item #{params[:controller] == 'repayment_rates' ? 'active' : ''}" }
      = link_to "/data_stores/repayment_rates", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Repayment Rates
    %li{ class: "nav-item #{params[:controller] == 'personal_funds' ? 'active' : ''}" }
      = link_to "/data_stores/personal_funds", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Personal Funds
    %li{ class: "nav-item #{params[:controller] == 'branch_loans_stats' ? 'active' : ''}" }
      = link_to "/data_stores/branch_loans_stats", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Loan Stats
    %li{ class: "nav-item #{params[:controller] == 'branch_with_centers_loans_stats' ? 'active' : ''}" }
    %li{ class: "nav-item #{params[:controller] == 'member_counts' ? 'active' : ''}" }
      = link_to "/data_stores/member_counts", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Member Counts
    %li{ class: "nav-item #{params[:controller] == 'accounting_entries_summaries' ? 'active' : ''}" }
      = link_to "/data_stores/accounting_entries_summaries", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Voucher Summary
    %li{ class: "nav-item #{params[:controller] == 'soa_expenses' ? 'active' : ''}" }
      = link_to "/data_stores/soa_expenses", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        SOA Expenses
    %li{ class: "nav-item #{params[:controller] == 'soa_loans' ? 'active' : ''}" }
      = link_to "/data_stores/soa_loans", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        SOA Loans
    %li{ class: "nav-item #{params[:controller] == 'soa_funds' ? 'active' : ''}" }
      = link_to "/data_stores/soa_funds", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        SOA Funds
    %li{ class: "nav-item #{params[:controller] == 'watchlists' ? 'active' : ''}" }
      = link_to "/data_stores/watchlists", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Watchlists
