%li.nav-title
  Reports
%li{ class: "nav-item nav-dropdown" }
  = link_to "#", class: "nav-link nav-dropdown-toggle" do
    %i.nav-icon.fa.fa-store-alt
    Branch Level
  %ul.nav-dropdown-items
    %li{ class: "nav-item #{params[:controller] == 'personal_funds' ? 'active' : ''}" }
      = link_to "/data_stores/personal_funds", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Personal Funds
    %li{ class: "nav-item #{params[:controller] == 'branch_repayment_reports' ? 'active' : ''}" }
      = link_to "/data_stores/branch_repayment_reports", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Repayments
    %li{ class: "nav-item #{params[:controller] == 'branch_loans_stats' ? 'active' : ''}" }
      = link_to "/data_stores/branch_loans_stats", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Loan Stats
    %li{ class: "nav-item #{params[:controller] == 'branch_with_centers_loans_stats' ? 'active' : ''}" }
      = link_to "/data_stores/branch_with_centers_loans_stats", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        BR w/ Centers L.S.
    %li{ class: "nav-item #{params[:controller] == 'member_counts' ? 'active' : ''}" }
      = link_to "/data_stores/member_counts", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Member Counts
    %li{ class: "nav-item #{params[:controller] == 'center_statements' ? 'active' : ''}" }
      = link_to "/data_stores/center_statements", class: 'nav-link' do
        %i.nav-icon.fa.fa-database
        Center Statements
