%li{ class: "#{SIDEBAR_TRANSACTIONS_CONTROLLERS.include?(params[:controller]) ? 'active' : ''}" }
  .icon-link
    = link_to "#", class: "" do
      %i.bi.bi-cast
      %span.link-name
        Transactions
    %i.bi.bi-caret-down.arrow
  %ul.sub-menu
    %li
      = link_to "#", class: "link-name" do
        Transactions
    - if microloans?
      %li
        = link_to billings_path(status: "pending"), class: "" do
          %i.bi.bi-receipt
          Billings
      %li
        = link_to billing_for_full_payments_path, class: "" do
          %i.bi.bi-receipt
          Billings for Full Payment
      %li
        = link_to accrued_payment_collections_path, class: "" do
          %i.bi.bi-receipt
          Accrued Interest Billing
      %li
        = link_to membership_payment_collections_path, class: "" do
          %i.bi.bi-receipt
          Membership Payments
      %li
        = link_to deposit_collections_path, class: "" do
          %i.bi.bi-receipt
          Deposits

    - if microinsurance?
      %li
        = link_to insurance_fund_transfer_collections_path, class: "" do
          %i.bi.bi-exclamation-circle
          Insurance Fund Transfer
