%li{ class: "nav-item nav-dropdown" }
  = link_to "#", class: "nav-link nav-dropdown-toggle" do
    %i.nav-icon.fa.fa-money-bill
    Cash Management
  %ul.nav-dropdown-items
    %li{ class: "nav-item #{params[:controller] == 'membership_payment_collections' ? 'active' : ''}" }
      = link_to membership_payment_collections_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-download
        Membership Payment
    %li{ class: "nav-item #{params[:controller] == 'deposit_collections' ? 'active' : ''}" }
      = link_to deposit_collections_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-download
        Deposits
    %li{ class: "nav-item #{params[:controller] == 'withdrawal_collections' ? 'active' : ''}" }
      = link_to withdrawal_collections_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-upload
        Withdrawals
    %li{ class: "nav-item #{params[:controller] == 'insurance_withdrawal_collections' ? 'active' : ''}" }
      = link_to insurance_withdrawal_collections_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-upload
        Insurance Withdrawals
    %li{ class: "nav-item #{params[:controller] == 'monthly_collection_collections' ? 'active' : ''}" }
      = link_to monthly_closing_collections_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-file
        Monthly Closing Col.
