- if ["REMOTE-OAS", "REMOTE-BK", "REMOTE-FM"].exclude? current_user.roles.last
  %li.nav-title
    Administration
  %li{ class: "nav-item #{params[:controller] == 'administration/users' ? 'active' : ''}" }
    = link_to administration_users_path, class: 'nav-link' do
      %i.nav-icon.fa.fa-users
      User Management
%li{ class: "nav-item nav-dropdown" }
  = link_to "#", class: "nav-link nav-dropdown-toggle" do
    %i.nav-icon.fa.fa-cogs
    Settings
  %ul.nav-dropdown-items
    - if ["REMOTE-OAS", "REMOTE-BK", "REMOTE-FM"].exclude? current_user.roles.last  
      %li{ class: "nav-item #{params[:controller] == 'administration/loan_products' ? 'active' : ''}" }
        = link_to administration_loan_products_path, class: 'nav-link' do
          %i.nav-icon.fa.fa-file
          Loan Products
      %li{ class: "nav-item #{params[:controller] == 'administration/areas' ? 'active' : ''}" }
        = link_to administration_areas_path, class: 'nav-link' do
          %i.nav-icon.fa.fa-file
          Areas 
      %li{ class: "nav-item #{params[:controller] == 'administration/clusters' ? 'active' : ''}" }
        = link_to administration_clusters_path, class: 'nav-link' do
          %i.nav-icon.fa.fa-file
          Clusters
      %li{ class: "nav-item #{params[:controller] == 'administration/branches' ? 'active' : ''}" }
        = link_to administration_branches_path, class: 'nav-link' do
          %i.nav-icon.fa.fa-file
          Branches
    %li{ class: "nav-item #{params[:controller] == 'administration/centers' ? 'active' : ''}" }
      = link_to administration_centers_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-file
        Centers
    - if ["REMOTE-OAS", "REMOTE-BK", "REMOTE-FM"].exclude? current_user.roles.last  
      %li{ class: "nav-item #{params[:controller] == 'administration/surveys' ? 'active' : ''}" }
        = link_to administration_surveys_path, class: 'nav-link' do
          %i.nav-icon.fa.fa-file
          Surveys
      %li{ class: "nav-item #{params[:controller] == 'administration/project_type_categories' ? 'active' : ''}" }
        = link_to administration_project_type_categories_path, class: 'nav-link' do
          %i.nav-icon.fa.fa-file
          Project Type Cat.
  %li{ class: "nav-item #{params[:controller] == 'administration/announcements' ? 'active' : ''}" }
    = link_to administration_announcements_path, class: 'nav-link' do
      %i.nav-icon.fa.fa-bullhorn
      Announcements
    - if ["REMOTE-OAS", "REMOTE-BK", "REMOTE-FM"].exclude? current_user.roles.last  
      = link_to administration_member_shares_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-file
        Member Shares
      = link_to administration_member_shares_not_printed_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-file
        Not Printed Cert.
      = link_to administration_member_shares_printed_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-file
        Printed Cert.
      = link_to administration_member_shares_no_certificates_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-file
        No Cert. 
%li{ class: "nav-item nav-dropdown" }
  = link_to "#", class: "nav-link nav-dropdown-toggle" do
    %i.nav-icon.fa.fa-cogs
    System Tools
  %ul.nav-dropdown-items
    %li{ class: "nav-item #{params[:controller] == '/export_tools' ? 'active' : ''}" }
      = link_to export_tools_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-file
        Export Tools
    %li{ class: "nav-item nav-dropdown" }
      = link_to "#", class: "nav-link nav-dropdown-toggle" do
        %i.nav-icon.fa.fa-cogs
        Import Tools
      %ul.nav-dropdown-items
        %li{ class: "nav-item #{params[:controller] == '/import_members' ? 'active' : ''}" }
          = link_to import_members_path, class: 'nav-link' do
            %i.nav-icon.fa.fa-file
            Import Members
        %li{ class: "nav-item #{params[:controller] == '/import_beneficiaries' ? 'active' : ''}" }
          = link_to import_beneficiaries_path, class: 'nav-link' do
            %i.nav-icon.fa.fa-file
            Import Beneficiaries
        %li{ class: "nav-item #{params[:controller] == '/import_legal_dependents' ? 'active' : ''}" }
          = link_to import_legal_dependents_path, class: 'nav-link' do
            %i.nav-icon.fa.fa-file
            Import Dependents
    %li{ class: "nav-item nav-dropdown" }
      = link_to "#", class: "nav-link nav-dropdown-toggle" do
        %i.nav-icon.fa.fa-cogs
        Import Transactions
      %ul.nav-dropdown-items
        %li{ class: "nav-item #{params[:controller] == '/import_insurance_accounts' ? 'active' : ''}" }
          = link_to import_insurance_accounts_path, class: 'nav-link' do
            %i.nav-icon.fa.fa-file
            Import Insurance Accounts
        %li{ class: "nav-item #{params[:controller] == '/import_insurance_account_transactions' ? 'active' : ''}" }
          = link_to import_insurance_account_transactions_path, class: 'nav-link' do
            %i.nav-icon.fa.fa-file
            Import Insurance Account Transactions
    - if microinsurance?    
      %li{ class: "nav-item" }
        = link_to billing_per_center_path, class: 'nav-link' do
          %i.nav-icon.fa.fa-file
          Billing per center
      %li{ class: "nav-item #{params[:controller] == 'monthly_new_and_resigned' ? 'active' : ''}" }
        = link_to "/data_stores/monthly_new_and_resigned", class: 'nav-link' do
          %i.nav-icon.fa.fa-database
          Monthly New/Res
      %li{ class: "nav-item #{params[:controller] == '/upload_deposit' ? 'active' : ''}" }
        = link_to upload_deposit_path, class: 'nav-link' do
          %i.nav-icon.fa.fa-file
          Upload Deposit
    %li{ class: "nav-item #{params[:controller] == '/upload_fund_transfer' ? 'active' : ''}" }
      = link_to upload_fund_transfer_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-file
        Upload Fund Transfer
    %li{ class: "nav-item #{params[:controller] == '/upload_insurance_withdrawal' ? 'active' : ''}" }
      = link_to upload_insurance_withdrawal_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-file
        Upload Insurance Withdrawal
