.sidebar.close
  = link_to root_path do
    .logo-details
      %i.bi.bi-house-door
      %span.logo-name
        KOINS
  %ul.nav-links
    %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'index' ? 'active' : ''}" }
      = link_to root_path, class: "" do
        %i.bi.bi-speedometer
        %span.link-name
          Operations

    = render partial: "shared/sidebar_members"

    - if microloans?
      = render partial: "shared/sidebar_loans"

    = render partial: "shared/sidebar_transactions"

= render partial: "shared/modals/new_entry"
= render partial: "shared/modals/interest"
= render partial: "shared/modals/microloans_collections"
= render partial: "shared/modals/monthly_transactions"
= render partial: "shared/modals/writeoffs"
