- if ["REMOTE-OAS", "REMOTE-BK", "REMOTE-FM"].exclude? current_user.roles.last
  %li.nav-title
    Monitoring
  %li.nav-item
    = link_to monitoring_accounting_entry_subsidiary_balancing_path, class: "nav-link #{params[:controller] == 'monitoring' && params[:action] == 'accounting_entry_subsidiary_balancing'}" do
      %i.nav-icon.fa.fa-file
      Balancing
    = link_to monitoring_accounting_entry_precision_path, class: "nav-link #{params[:controller] == 'monitoring' && params[:action] == 'accounting_entry_precision'}" do
      %i.nav-icon.fa.fa-file
      Accounting Precision
    = link_to monitoring_no_membership_payments_path, class: "nav-link #{params[:controller] == 'monitoring' && params[:action] == 'no_membership_payments'}" do
      %i.nav-icon.fa.fa-times
      No Membership Payments
%li{ class: "nav-item" }
  = link_to activity_logs_path, class: 'nav-link' do
    %i.nav-icon.fa.fa-file
    Activity Logs