%li{ class: "nav-item nav-dropdown" }
  = link_to "#", class: "nav-link nav-dropdown-toggle" do
    %i.nav-icon.fa.fa-money-bill
    Cash Management
  %ul.nav-dropdown-items
    %li{ class: "nav-item #{params[:controller] == 'membership_payment_collections' ? 'active' : ''}" }
      = link_to membership_payment_collections_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-download
        Membership Payment
    %li{ class: "nav-item #{params[:controller] == 'deposit_collections' ? 'active' : ''}" }
      = link_to deposit_collections_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-download
        Deposits
