<%
  # XXX: Use proper authorization, these checks only hide links
  is_not_remote = ["REMOTE-OAS", "REMOTE-BK", "REMOTE-FM"].exclude? current_user.roles.last
  is_not_ojt = ["OJT"].exclude? current_user.roles.last

  # Parent:
  # [label (string), children (Child array)]
  #
  # Child:
  # [label (string), path (string), active_class_args (hash), is_visible (boolean), fa_icon_name (string, see: https://fontawesome.com/icons)]
  #
  items = [
    [
      "Dashboard", [
        ["Operations", root_path,              { "pages"   => "index" },    is_not_remote,        "fa-tachometer-alt"],
        ["Finance",    dashboard_finance_path, { "pages"   => "finance" },  is_not_remote,        "fa-coins"],
        ["Insights",   insights_path,          { "pages"   => "insights" }, is_not_remote,        "fa-magic"],
        ["Members",    members_path,           { "members" => nil },        true,        "fa-users"],
        ["Loans",      loans_path,             { "loans"   => nil },        microloans?, "fa-hand-holding-usd"],
      ],
    ],
    [
      "Transactions", [
        ["Billings",                    billings_path,                               { "billings"                               => nil }, microloans?,    "fa-money-check"],
        ["Membership Payments",         membership_payment_collections_path,         { "membership_payment_collections"         => nil }, is_not_remote,  "fa-money-check"],
        ["Deposits",                    deposit_collections_path,                    { "deposit_collections"                    => nil }, true,           "fa-money-check"],
        ["Time Deposits",               time_deposit_collections_path,               { "time_deposit_collections"               => nil }, microloans?,    "fa-money-check"],
        ["Withdrawals",                 withdrawal_collections_path,                 { "withdrawal_collections"                 => nil }, true,           "fa-money-check"],
        ["Savings Insurance Transfers", savings_insurance_transfer_collections_path, { "savings_insurance_transfer_collections" => nil }, microloans?,    "fa-money-check"],
        ["Fund Transfers",              insurance_fund_transfer_collections_path,    { "insurance_fund_transfer_collections"    => nil }, true,           "fa-money-check"],
        ["Insurance Withdrawals",       insurance_withdrawal_collections_path,       { "insurance_withdrawal_collections"       => nil }, true,           "fa-money-check"],
        ["Monthly Closing Collections", monthly_closing_collections_path,            { "monthly_collection_collections"         => nil }, is_not_remote,  "fa-money-check"],
      ],
    ],
  ]

  if is_not_ojt
    items.push(
      [
        "Accounts", [
          ["Savings",   savings_accounts_path,   { "savings_accounts"   => nil }, microloans?, "fa-piggy-bank"],
          ["Equities",  equity_accounts_path,    { "equity_accounts"    => nil }, microloans?, "fa-piggy-bank"],
          ["Insurance", insurance_accounts_path, { "insurance_accounts" => nil }, true,        "fa-piggy-bank"],
        ],
      ],
      [
        "Accounting", [
          ["Chart of Accounts", accounting_accounting_codes_path, { "accounting/accounting_codes" => nil },             is_not_remote, "fa-balance-scale"],
          ["Trial Balance",     trial_balance_path,               { "accounting"                  => "trial_balance" }, is_not_remote, "fa-balance-scale"],
          [
            "Journal Entries", [
              ["Cash Receipts",      accounting_accounting_entry_form_path(book: "CRB"), { "accounting/books" => "crb" }, is_not_remote, "fa-plus"],
              ["Cash Disbursements", accounting_accounting_entry_form_path(book: "CDB"), { "accounting/books" => "cdb" }, is_not_remote, "fa-plus"],
              ["General Journal",    accounting_accounting_entry_form_path(book: "JVB"), { "accounting/books" => "jvb" }, is_not_remote, "fa-plus"],
            ],
          ],
          [
            "Books", [
              ["Cash Receipts",      accounting_books_crb_path,    { "accounting/books" => "crb" },            is_not_remote, "fa-book"],
              ["Cash Disbursements", accounting_books_cdb_path,    { "accounting/books" => "cdb" },            is_not_remote, "fa-book"],
              ["General Journal",    accounting_books_jvb_path,    { "accounting/books" => "jvb" },            is_not_remote, "fa-book"],
              ["General Ledger",     "/accounting/general_ledger", { "accounting"       => "general_ledger" }, is_not_remote, "fa-book"],
            ],
          ],
          [
            "Reports", [
              ["Year End Closing",   accounting_year_end_closings_path, { "accounting/accounting_codes"  => nil },    is_not_remote,        "fa-calculator"],
              ["ICPR",               "/data_stores/icpr",               { "icpr"                         => nil },    microloans?,          "fa-calculator"],
              ["Patronage Refund",   "/data_stores/patronage_refund",   { "patronage_refund"             => nil },    microloans?,          "fa-calculator"],
              ["Books - Misc",       accounting_books_misc_path,        { "accounting/books"             => "misc" }, is_not_remote,        "fa-calculator"],
              ["Balance Sheets",     accounting_balance_sheets_path,    { "accounting/balance_sheets"    => nil },    is_not_remote,        "fa-calculator"],
              ["Income Statements",  accounting_income_statements_path, { "accounting/income_statements" => nil },    is_not_remote,        "fa-calculator"],
            ],
          ],
        ],
      ],
      [
        "Adjustments", [
          ["Subsidiary",       adjustments_subsidiary_adjustments_path,       { "adjustments/subsidiary_adjustments'"       => nil }, microloans?, "fa-eraser"],
          ["Batch Moratorium", adjustments_batch_moratorium_adjustments_path, { "adjustments/batch_moratorium_adjustments'" => nil }, microloans?, "fa-eraser"],
        ],
      ],
      [
        "Microinsurance", [
          ["Validations",              member_account_validations_path,            { "member_account_validations" => nil },     true,                               "fa-users"],
          ["Validations Report",       validations_path,                           { "pages" => "validations" },                true,                               "fa-users"],
          ["Members for Exit Age",     insurance_exit_age_members_path,            nil,                                         true,                               "fa-users"],
          ["Lapsed Members",           lapsed_members_path,                        nil,                                         true,                               "fa-users"],
          ["Members For Reinsurance",  members_for_reinsurance_path,               { "pages" => "insurance_exit_age_members" }, is_not_remote,                      "fa-users"],
          ["Insurance Account Status", daily_report_insurance_account_status_path, nil,                                         true,                               "fa-users"],
          ["Seriatim",                 seriatim_path,                              nil,                                         (is_not_remote || microinsurance?), "fa-users"],
          ["Claims Register",          claims_path,                                nil,                                         (is_not_remote || microinsurance?), "fa-house-damage"],
        ],
      ],
      [
        "Administration", [
          ["Announcements",            administration_announcements_path,                 { "administration/announcements"           => nil }, true,          "fa-bullhorn"],
          ["Users",                    administration_users_path,                         { "administration/users"                   => nil }, is_not_remote, "fa-users"],
          ["Loan Products",            administration_loan_products_path,                 { "administration/loan_products"           => nil }, is_not_remote, "fa-list"],
          ["Areas",                    administration_areas_path,                         { "administration/areas"                   => nil }, is_not_remote, "fa-list"],
          ["Clusters",                 administration_clusters_path,                      { "administration/clusters"                => nil }, is_not_remote, "fa-list"],
          ["Branches",                 administration_branches_path,                      { "administration/branches"                => nil }, is_not_remote, "fa-list"],
          ["Centers",                  administration_centers_path,                       { "administration/centers"                 => nil }, true,          "fa-list"],
          ["Surveys",                  administration_surveys_path,                       { "administration/surveys"                 => nil }, is_not_remote,  "fa-list"],
          ["Project Type Categories",  administration_project_type_categories_path,       { "administration/project_type_categories" => nil }, true,          "fa-list"],
          ["Member Shares",            administration_member_shares_path,                 nil,                                                 is_not_remote, "fa-stamp"],
          ["Not Printed Certificates", administration_member_shares_not_printed_path,     nil,                                                 is_not_remote, "fa-stamp"],
          ["Printed Certificates",     administration_member_shares_printed_path,         nil,                                                 is_not_remote, "fa-stamp"],
          ["No Certificates",          administration_member_shares_no_certificates_path, nil,                                                 is_not_remote, "fa-stamp"],
        ],
      ],
      [
        "System Tools", [
          ["Upload Deposit",                upload_deposit_path,                        { "/upload_deposit"                        => nil }, microinsurance?, "fa-upload"],
          ["Upload Fund Transfer",          upload_fund_transfer_path,                  { "/upload_fund_transfer"                  => nil }, true,            "fa-upload"],
          ["Upload Insurance Withdrawal",   upload_insurance_withdrawal_path,           { "/upload_insurance_withdrawal"           => nil }, true,            "fa-upload"],
          ["Import Members",                import_members_path,                        { "/import_members"                        => nil }, true,            "fa-file-import"],
          ["Import Beneficiaries",          import_beneficiaries_path,                  { "/import_beneficiaries"                  => nil }, true,            "fa-file-import"],
          ["Import Dependents",             import_legal_dependents_path,               { "/import_legal_dependents"               => nil }, true,            "fa-file-import"],
          ["Import Insurance Accounts",     import_insurance_accounts_path,             { "/import_insurance_accounts"             => nil }, true,            "fa-file-import"],
          ["Import Insurance Transactions", import_insurance_account_transactions_path, { "/import_insurance_account_transactions" => nil }, true,            "fa-file-import"],
          ["Billing Per Center",            billing_per_center_path,                    nil,                                                 microinsurance?, "fa-file-import"],
          ["Monthly New/Res",               "/data_stores/monthly_new_and_resigned",    { "monthly_new_and_resigned"               => nil }, microinsurance?, "fa-file-import"],
          ["Export Tools",                  export_tools_path,                          { "/export_tools"                          => nil }, true,            "fa-file-export"],
        ],true
      ],
      [
        "Reports", [
          [
            "Branch Level", [
              ["Repayment Rates",         "/data_stores/repayment_rates",              { "repayment_rates"              => nil }, is_not_remote,  "fa-chart-line"],
              ["Manual Aging",            "/data_stores/manual_aging",                 { "manual_aging"                 => nil }, is_not_remote,  "fa-chart-line"],
              ["Personal Funds",          "/data_stores/personal_funds",               { "personal_funds"               => nil }, is_not_remote,  "fa-chart-line"],
              ["Loan Stats",              "/data_stores/branch_loans_stats",           { "branch_loans_stats"           => nil }, is_not_remote,  "fa-chart-line"],
              ["Member Counts",           "/data_stores/member_counts",                { "member_counts"                => nil }, microloans?,    "fa-chart-line"],
              ["Insurance Member Counts", "/data_stores/insurance_member_counts",      { "insurance_member_counts"      => nil }, microinsurance?,"fa-chart-line"],
              ["Claims Counts",           "/data_stores/claims_counts",                { "claims_counts"                => nil }, microinsurance?,"fa-chart-line"],
              ["Voucher Summary",         "/data_stores/accounting_entries_summaries", { "accounting_entries_summaries" => nil }, is_not_remote,  "fa-chart-line"],
              ["SOA Expenses",            "/data_stores/soa_expenses",                 { "soa_expenses"                 => nil }, is_not_remote,  "fa-chart-line"],
              ["SOA Loans",               "/data_stores/soa_loans",                    { "soa_loans"                    => nil }, is_not_remote,  "fa-chart-line"],
              ["SOA Funds",               "/data_stores/soa_funds",                    { "soa_funds"                    => nil }, is_not_remote,  "fa-chart-line"],
              ["Watchlists",              "/data_stores/watchlists",                   { "watchlists"                   => nil }, is_not_remote,  "fa-chart-line"],
              ["Monthly New/Resigned",    "/data_stores/monthly_new_and_resigned",     { "monthly_new_and_resigned"     => nil }, is_not_remote,  "fa-chart-line"],
              ["Monthly Incentives",      "/data_stores/monthly_incentives",           { "monthly_incentives"           => nil }, is_not_remote,  "fa-chart-line"],
              ["X Weeks to Pay",          "/data_stores/x_weeks_to_pay",               { "x_weeks_to_pay"               => nil }, is_not_remote,  "fa-chart-line"],
              ["Branch Resignations",     "/data_stores/branch_resignations",          { "branch_resignations"          => nil }, is_not_remote,  "fa-chart-line"],
            ],
          ],
          ["Monthly Remittance",  "/reports/monthly_remittance",                   nil, microinsurance?,          "fa-chart-line"],
          ["Insured Loans",       "/reports/insured_loans",                        nil, is_not_remote,            "fa-chart-line"],
          ["Member Reports",      "/reports/member_reports",                       nil, is_not_remote,            "fa-chart-line"],
          ["CLIP Reports",        "/reports/collections_clip",                     nil, is_not_remote,            "fa-chart-line"],
          ["BLIP Reports",        "/reports/collections_blip",                     nil, is_not_remote,            "fa-chart-line"],
          ["Member Dependents",   "/reports/member_dependent",                     nil, is_not_remote,            "fa-chart-line"],
          ["Member Quarterly",    "/reports/member_quarterly_reports",             nil, is_not_remote,            "fa-chart-line"],
          ["CIC Report",          "/reports/cic",                                  nil, is_not_remote,            "fa-chart-line"],
          ["Monthly Collection",  "/reports/monthly_collection",                   nil, is_not_remote,            "fa-chart-line"],
          ["Cert and Policies",   "/reports/summary_of_certificates_and_policies", nil, is_not_remote,            "fa-chart-line"],
          ["Personal Documents",  "/reports/personal_document",                    nil, is_not_remote,            "fa-chart-line"],
          ["Claims Report",       "/reports/claim_reports",                        nil, microinsurance?,          "fa-chart-line"],
        ],
      ],
      [
        "Monitoring", [
          ["Balancing",              monitoring_accounting_entry_subsidiary_balancing_path, { "monitoring" => "accounting_entry_subsidiary_balancing" }, is_not_remote, "fa-tv"],
          ["Accounting Precision",   monitoring_accounting_entry_precision_path,            { "monitoring" => "accounting_entry_precision" },            is_not_remote, "fa-tv"],
          ["No Membership Payments", monitoring_no_membership_payments_path,                { "monitoring" => "no_membership_payments" },                is_not_remote, "fa-tv"],
          ["Activity Logs",          activity_logs_path,                                    { "activity_logs" => nil },                                  true,          "fa-tv"],
        ],
      ],
    )
  end
%>

<aside class="sidebar">
  <div class="SidebarContents">
    <% items.each do |item| %>
      <nav>
        <div class="Header">
          <%= item[0] %>
        </div>

        <% item[1].each do |child| %>
          <% if child.is_a?(String) %>
            <span><%= child %></span>
          <% else %>
            <% if child[3] %>
              <%= link_to child[1], class: active_class(child[2]) do %>
                <i class="fa <%= child[4] %>"></i>
                <%= child[0] %>
              <% end %>
            <% end %>

            <% if child[1].is_a?(Array) %>
              <nav>
                <div class="Header">
                  <%= child[0] %>
                </div>
                <% child[1].each do |child| %>
                  <% if child[3] %>
                    <%= link_to child[1], class: active_class(child[2]) do %>
                      <i class="fa <%= child[4] %>"></i>
                      <%= child[0] %>
                    <% end %>
                  <% end %>
                <% end %>
              </nav>
            <% end %>

          <% end %>
        <% end %>

      </nav>
    <% end %>
  </div>
</aside>
