.sidebar
	%nav.sidebar-nav.open
		%ul.nav
			= render partial: "shared/sidebar_operations"
			- if ["OJT"].exclude? current_user.roles.last    
				= render partial: "shared/sidebar_accounting"
				= render partial: "shared/sidebar_microinsurance"
				= render partial: "shared/sidebar_administration"
				= render partial: "shared/sidebar_data_stores"
				= render partial: "shared/sidebar_adjustments"
				= render partial: "shared/sidebar_monitoring"

