%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-money-check
      K-JSP 
  %li.breadcrumb-item
    .fa.fa-user
    = link_to "#{@kjsp_claim.member.full_name}", member_path(@kjsp_claim.member), target: "_blank"
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to edit_member_kjsp_claim_path(@kjsp_claim.member, @kjsp_claim), class: 'btn btn-app' do
        %i.fa.fa-edit
        Edit
    .btn-group 
      = link_to kjsp_claim_path(@kjsp_claim), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-app" do
        %i.fa.fa-times
        Delete
    .btn-group    
      = link_to kjsp_claim_kjsp_contract_pdf_path(@kjsp_claim), target: "_blank", class: "btn btn-app" do
        .fa.fa-download
        KJSP Contract
    .btn-group    
      = link_to kjsp_claim_kjsp_claim_validation_pdf_path(@kjsp_claim), target: "_blank", class: "btn btn-app" do
        .fa.fa-download
        Validation PDF
    .btn-group 
      = link_to kjsp_claim_kjsp_claim_loa_pdf_path(@kjsp_claim), target: "_blank", class: "btn btn-app" do
        .fa.fa-print
        LOA
    .btn-group
      = link_to kjsp_claims_path do
        .fa.fa-arrow-left
        Back to Claims