= simple_form_for [@member, clip_claim] do |f|
  = hidden_field_tag 'memberId', "#{@member.id}"
  #{@errors}
  .row
    .col
      .form-group
        %h3
          Clip Claims Information
  .row
    .col
      .form-group
        = f.input :date_prepared, input_html: { class: 'form-control', id: 'date-prepared', value: Time.now.to_date, type: 'date'}, as: :string, label: "Date Prepared"
    .col
      .form-group
        = f.input :creditors_name, input_html: { class: 'form-control', id: 'creditors-name' }, as: :select, collection: ClipClaim::CREDITORS_NAME, include_blank: false, label: "CREDITORS NAME", prompt: "-- Select --"
  .row
    .col
      .form-group 
        = f.input :member_name, input_html: { class: 'form-control', id: 'member-name', value: @member.full_name }, as: :string, label: "DEBTORS NAME (NAME)"
    .col
      .form-group
        = f.input :beneficiary, input_html: { class: 'form-control', id: 'beneficiary' }, as: :string, label: "BENEFICIARY"
  .row
    .col
      .form-group
        = f.input :date_of_birth, input_html: { class: 'form-control', id: 'date-of-birth', value: @member.date_of_birth, type: 'date' }, as: :string, label: "DATE OF BIRTH"
    .col
      .form-group
        = f.input :age, input_html: { class: 'form-control', id: 'age', value: @member.age }, as: :string, label: "AGE"
  .row
    .col
      .form-group
        = f.input :gender, input_html: { class: 'form-control', id: 'gender', value: @member.gender}, label: "GENDER" 
    .col
      .form-group
        = f.input :policy_number, input_html: { class: 'form-control', id: 'policy-number', value: @member.identification_number }, as: :string, label: "CLIP POLICY NUMBER"
  .row
    .col
      .form-group
        = f.input :date_of_death, input_html: { class: 'form-control', id: 'date-of-death-tpd-accident',type: 'date' }, as: :string, label: "DATE OF DEATH"
    .col
      .form-group    
        = f.input :cause_of_death, as: :text, input_html: { class: 'form-control',style: 'height: 70px', id: 'cause-of-death' }, label: "CAUSE OF DEATH"
  .row
    .col
      .form-group
        = f.input :type_of_loan, input_html: { class: 'form-control', id: 'type-of-loan'}, as: :select, collection: ClipClaim::TYPES_OF_LOAN, include_blank: false, label: "TYPE OF LOAN" , prompt: "-- Select --"
    .col
      .form-group
        = f.input :terms, input_html: { class: 'form-control', id: 'terms'}, as: :string, label: "TERMS OF LOANS (Weeks)"
  .row
    .col
      .form-group
        = f.input :effective_date_of_coverage, input_html: { class: 'form-control', id: 'effective-date-of-coverage',type: 'date'}, as: :string, label: "EFFECTIVE DATE OF COVERAGE"
    .col
      .form-group
        %label
        = f.input :expiration_date_of_coverage, input_html: { class: 'form-control', id: 'expiration_date_of_coverage',type: 'date'}, as: :string, label: "EXPIRATION DATE OF COVERAGE"     
  .row
    .col
      .form-group
        = f.input :amount_of_loan, input_html: { class: 'form-control', id: 'amount-of-loan'}, as: :string, label: "AMOUNT OF LOAN"
    .col
      .form-group
        = f.input :amount_payable_to_beneficiary, input_html: { class: 'form-control', id: 'amount-payable-to-beneficiary'}, as: :string, label: "AMOUNT PAYABLE TO BENEFICIARY (Paid Amount)"
    .col
      .form-group
        = f.input :amount_payable_to_creditor, input_html: { class: 'form-control', id: 'amount-payable-to-creditor'}, as: :string, label: "AMOUNT PAYABLE TO CREDITOR (Balance)"
  .row
    .col
      .form-group
        = f.input :prepared_by, input_html: { class: 'form-control', id: 'prepared-by', value: current_user.full_name.titleize}, as: :string, label: "PREPARED BY"       
  .row
    .col
      .form-actions
      = button_tag type: 'submit', class: 'btn btn-primary', data: { confirm: "Are you sure?" } do
        .fa.fa-check
        Submit
      = link_to clip_claims_path, class: 'btn btn-default' do
        .fa.fa-times
        Cancel

= javascript_include_tag "clip_claims_form"

