- data = ::DataStores::BuildBranchLoanStatsFromRr.new(rr_data: record.data.with_indifferent_access).execute!

%h5
  As Of: #{data[:as_of].to_date.strftime("%B %d, %Y")}
%hr
%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th
        Loan Product
      %th.text-center
        Active Loans
      %th.text-end
        Principal
      %th.text-end
        Principal Paid
      %th.text-end
        Portfolio
      %th.text-end
        Past Due Amount
      %th.text-end
        Par Amount
      %th.text-center
        Par Rate
      %th.text-center
        RR
  %tbody
    - data[:loan_products].each do |o|
      %tr
        %td
          %strong
            #{o[:name]}
        %td.text-center
          #{o[:active_loans]}
        %td.text-end
          .text-muted
            #{number_to_currency(o[:principal], unit: "")}
        %td.text-end
          .text-muted
            #{number_to_currency(o[:principal_paid], unit: "")}
        %td.text-end
          %strong
            #{number_to_currency(o[:portfolio], unit: "")}
        %td.text-end
          #{number_to_currency(o[:principal_past_due_amount], unit: "")}
        %td.text-end
          #{number_to_currency(o[:par_amount], unit: "")}
        %td.text-center
          #{number_to_currency(o[:par_rate].to_f * 100, unit: "")} %
        %td.text-center
          #{number_to_currency(o[:rr].to_f * 100, unit: "")} %
  %tfoot
    %tr
      %td
        %strong
          Total
      %td.text-center
        %strong
          #{data[:total_active_loans]}
      %td.text-end
        %strong
          #{number_to_currency(data[:total_principal], unit: "")}
      %td.text-end
        %strong
          #{number_to_currency(data[:total_principal_paid], unit: "")}
      %td.text-end
        %strong
          #{number_to_currency(data[:total_portfolio], unit: "")}
      %td.text-end
        %strong
          #{number_to_currency(data[:total_principal_past_due_amount], unit: "")}
      %td.text-end
        %strong
          #{number_to_currency(data[:total_par_amount], unit: "")}
      %td.text-center
        %strong
          #{number_to_currency(data[:total_par_rate].to_f * 100, unit: "")} %
      %td.text-center
        %strong
          #{number_to_currency(data[:total_rr].to_f * 100, unit: "")} %

