%table.table.table-sm.table-bordered
  %tr
    %th Particular
    %td 
      = text_field_tag :particular, "#{@billing_data_store.meta["data"]["particular"]}", class: "form-control", id: "particular"
    %td
      %button#btn-add-particular.btn.btn-block.btn-info{ data: { data_store_id: "#{@billing_data_store.id}"  } }
        Save 
  %tr
    %th OR
    %td 
      = text_field_tag :or_number, "#{@billing_data_store.meta["data"]["OR"]}", class: "form-control", id: "or_number"
    %td
      %button#btn-add-or.btn.btn-block.btn-info{ data: { data_store_id: "#{@billing_data_store.id}"  } }
        Save 
              
  %tr
    %th AR
    %td 
      = text_field_tag :ar_number, "#{@billing_data_store.meta["data"]["AR"]}", class: "form-control", id: "ar_number"
    %td
      %button#btn-add-ar.btn.btn-block.btn-info{ data: { data_store_id: "#{@billing_data_store.id}"  } }
        Save 
  %tr
    %th Book
    %td
      .form-group
        = select_tag :book_type, options_for_select(["CRB" , "JVB"], "#{@billing_data_store.meta["data"]["book"]}"), class: "form-control select-select2", id: "book_type" , prompt: "-- SELECT --"

    %td
      %button#btn-add-book.btn.btn-block.btn-info{ data: { id: "#{@billing_data_store.id}"  } }
        Save 
              
  %tr
    %th
      Member
      = select_tag :member, options_for_select(@member_list.map{ |o| ["#{o["last_name"]}, #{o["first_name"]} ", o["id"] ] }), class: "form-control select-select2", id: "select-member", prompt: "-- SELECT --"
    %td
      Loan Product
      = select_tag :account, options_for_select(@billing_header.map{ |b| ["#{LoanProduct.find(b).name}", b] }), class: "form-control select-select2", id: "select-loans", prompt: "-- SELECT --"
    
    %th 
      Action
      %button#btn-add.btn.btn-block.btn-info{ data: { data_store_id: "#{@billing_data_store.id}"  } }
        Add
