.row
  .col
    .card
      .card-body
        = render partial: "form_add"


        %table.table.table-sm.table-bordered
          %thead
            %tr
              %th
                no.
              %th
                Member
              - @billing_data_store.meta["header"].last.each_with_index do |bdsh, i|
                - if bdsh["loan_product"] == "WP"
                  %th
                    WP
                - else
                  %th
                    #{LoanProduct.find(bdsh["loan_product"]).name}
                  
            
            
            
            
          %tbody
            - @billing_data_store.data.each_with_index do |bds, i|
              - if bds["status"] == "active"
                %tr
                  %td
                    #{ i + 1}
                  %td
                    #{Member.find(bds["member_id"]).full_name}
                
                  - bds["balance"].each do |b|
                    - if b["record_type"] == "WP"
                      - if b["enabled"] == true
                        %td
                          %a.undo{ data: { 
                                      amount: "#{b["amount"]}",
                                      member_id: "#{bds["member_id"]}",
                                      member_account_id: "#{b["member_account_id"]}",
                                      data_store_id: "#{@billing_data_store.id}",
                                      record_type: "#{b["record_type"]}"
                                    }, 
                                    :href => "#" 
                            }

                            #{b["amount"]}
                      - else
                        %td
                    - else
                      %td
                        %a.remove_amount{ data: {
                                                  member_id: "#{bds["member_id"]}",
                                                  loan_id: "#{b["loan_id"]}",
                                                  loan_product_id: "#{b["loan_product_id"]}",
                                                  member_account_id: "#{b["member_account_id"]}",
                                                  data_store_id: "#{@billing_data_store.id}",
                                                  record_type: "#{b["record_type"]}"
                                          

                                          },
                                          :href => "#"
                                        }
                          #{b["amount"]}
            %tr
              %th{colspan: 2}
                Total
                      


= render partial: "accounting_entry_display", locals: { accounting_entry: @record }
= render partial: "/billing_for_full_payments/models/update_payment"
= render partial: "/billing_for_full_payments/models/remove_payment"
