.row
  .col
    .card
      .card-body
        %table.table.table-sm.table-bordered
          - @billing_data_store.data.each_with_index do |bds, i|
            %tbody
              %tr
                %td
                  #{ i + 1}
                %td
                  #{Member.find(bds["member_id"]).full_name}
                
                - bds["balance"].each do |b|

                  %td
                    %a.undo{ data: { 
                                      amount: "#{b["amount"]}",
                                      loan_id: "#{b["loan_id"]}",
                                      data_store_id: "#{@billing_data_store.id}",
                                      loan_product_id: "#{b["loan_product_id"]}"
                                    }, 
                                    :href => "#" 
                            }

                      #{b["amount"]}  


= render partial: "/billing_for_full_payments/models/update_payment"
