.table-responsive
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th
          Reference #
        %th
          Name
        %th
          SATO
        %th
          Center
        %th
          Status
        %th
          Date Applied
        %th
          Date Recommend
        %th
          Date Approved
    %tbody
      - @online_applications.each do |o|
        %tr
          %td
            %strong
              = link_to online_loan_application_path(o.id) do
                #{o.reference_number}
          %td
            %strong
              = link_to online_loan_application_path(o.id) do
                #{Member.find(o.member_id).full_name}
          %td
            #{Member.find(o.member_id).branch.name}
          %td
            #{Member.find(o.member_id).center.name}
          %td
            %center
              - if o.for_review?
                .badge.bg-warning
                  For Review
              - elsif o.pending?
                .badge.bg-danger
                  Pending
              - elsif o.for_approve?
                .badge.bg-success
                  For Approve
              - elsif o.approved?
                .badge.bg-success
                  Approved
          %td
            #{o.created_at.localtime}
          - if o.data["so_recommendation"].present? && o.data["check_cash_flow"].present?
            %td
              #{o.data["so_recommendation"]["date_check"].to_date.strftime("%A, %B %d, %Y")} - #{o.data["so_recommendation"]["time_check"]}
            %td
              #{o.data["check_cash_flow"]["date_check"].to_date.strftime("%A, %B %d, %Y")}
