= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "index_list"

= render partial: "administration/loan_products/modals/upload"
= render partial: "templates/error_list"

= javascript_include_tag "administration/loan_products/Index"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');

    Index.init({
      authenticityToken: authenticityToken
    });
  });
