%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-tachometer-alt
    Import Insurance Account Transactions
.container-fluid
  .row
    .col
      .card
        .card-body
          %p#error= flash[:error]
          = form_tag import_insurance_account_transactions_insurance_accounts_path, multipart: true do
            .row
              .col-md-6
                %label
                  File
                = file_field_tag :file, class: "form-control"
              .col-md-6
                %label
                  Actions
                %br  
                = submit_tag "Import Insurance Account Transactions Information", :class => "btn btn-primary"
          %hr
          - if @records.size > 0
            %table.table.table-bordered.table-sm
              %thead
                %tr
                  %th
                    ID
                  %th
                    Time Start
                  %th
                    Time Stop
                  %th
                    Status
              %tbody
                - @records.each do |o|
                  %tr
                    %td
                      #{o.id}
                    %td
                      - if o.data["time_start"].present?
                        #{o.data["time_start"]}
                    %td
                      - if o.data["time_stop"].present?
                        #{o.data["time_stop"]}
                    %td
                      #{o.status}
          - else
            %p
              No records found
