%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-money-check
    Microinsurance
  %li.breadcrumb-item
    .fa.fa-users
    Members for Insurance Exit Age
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to download_exit_age_path, class: 'btn' do
        .fa.fa-download
        Download
.container-fluid
  .row
    .col
      .card
        .card-body
          %table#data-table.display.table.table-bordered.table-hover.table-sm
            %thead
              %tr
                %th
                  Name
                %th
                  Member Type
                %th
                  Date of Birth
                %th
                  Age
                %th
                  Branch
                %th
                  Center
                %th
                  LIF
                %th
                  RF
            %tbody
              - @members.each do |m|
                %tr
                  %td
                    = link_to member_path(m) do 
                      #{m.full_name}
                  %td
                    #{m.member_type}
                  %td 
                    #{m.date_of_birth}
                  %td
                    #{m.age}
                  %td 
                    #{m.branch.name}
                  %td
                    #{m.center.name}
                  %td
                    #{m.member_accounts.where(account_subtype: "Life Insurance Fund").first.try(:balance)}
                  %td
                    #{m.member_accounts.where(account_subtype: "Retirement Fund").first.try(:balance)}

