.d-flex.align-items-center{ style: "height: 100vh;" }
  .container
    .card
      .card-body
        %center
          - if microinsurance?
            = image_tag "kmba_logo.png", width: "220px"
          - else
            = image_tag "logo.png", width: "220px"

        %hr
        .row
          .col
            .mb-4
              %label.form-label{ for: "input-username" }
                Username
              = text_field_tag :username, "", id: "input-username", class: "form-control", placeholder: "USERNAME"
            .mb-4
              %label.form-label{ for: "input-password" }
                Password
              = password_field_tag :username, "", id: "input-password", class: "form-control", placeholder: "PASSWORD"
            .message
        %hr
        .row
          .col
            %center
              .btn-group
                #btn-login.btn.btn-primary
                  .fa.fa-sign-in-alt
                  Login to System
              %hr
              = link_to "#", id: "btn-forgot-password" do
                Forgot Password

= render partial: "shared/modals/send_forgot_password"
