%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th.text-center
        Collection Date
      %th
        Date Approved
      %th
        Branch
      %th
        Center
      %th.text-center
        Status
  %thead
    - @records.order(created_at: :desc).each do |o|
      %tr
        %td.text-center
          = link_to "/involuntary_payment/#{o.id}" do
            .bi.bi-search
        %td.text-center
          %strong
          #{o.meta.with_indifferent_access[:transaction_date]}
        %td.text-center
          #{o.meta.with_indifferent_access[:date_approved]}
        %td.text-center
          #{o.meta.with_indifferent_access[:branch_name]} 
        %td.text-center
          #{o.meta.with_indifferent_access[:center_name]} 
        %td.text-center
          - if o[:status] == "processing"
            .badge.bg-info
              Processing
          - elsif o[:status] == "done"
            .badge.bg-success
              Done
          - elsif o[:status] == "pending"
            .badge.bg-danger
              pending
          - elsif o[:status] == "approved"
            .badge.bg-success
              approved
          - elsif o[:status] == "error"
            .badge.bg-danger
              Error
 
 
 
