%h5
  As Of: #{@record.meta.with_indifferent_access[:as_of]}
%table.table.table-bordered.table-hover.table-sm
  %tr
    %th{ width: "50%" }
    %th.text-center
      Male
    %th.text-center
      Female
    %th.text-center
      Others
    %th.text-center
      Total
  %tr
    %th
      Active Members
    %td.text-center
      #{@data[:counts][:active_members][:male]}
    %td.text-center
      #{@data[:counts][:active_members][:female]}
    %td.text-center
      #{@data[:counts][:active_members][:others]}
    %td.text-center
      #{@data[:counts][:active_members][:total]}
  %tr
    %th
      Pure Savers
    %td.text-center
      #{@data[:counts][:pure_savers][:male]}
    %td.text-center
      #{@data[:counts][:pure_savers][:female]}
    %td.text-center
      #{@data[:counts][:pure_savers][:others]}
    %td.text-center
      #{@data[:counts][:pure_savers][:total]}
  %tr
    %th
      Active Loaners
    %td.text-center
      #{@data[:counts][:loaners][:male]}
    %td.text-center
      #{@data[:counts][:loaners][:female]}
    %td.text-center
      #{@data[:counts][:loaners][:others]}
    %td.text-center
      #{@data[:counts][:loaners][:total]}
  %tr
    %th
      GRAND TOTAL
    %th.text-center
      #{@data[:counts][:active_members][:male].to_i + @data[:counts][:pure_savers][:male].to_i + @data[:counts][:loaners][:male].to_i}
    %th.text-center
      #{@data[:counts][:active_members][:female].to_i + @data[:counts][:pure_savers][:female].to_i + @data[:counts][:loaners][:female].to_i}
    %th.text-center
      #{@data[:counts][:active_members][:others].to_i + @data[:counts][:pure_savers][:others].to_i + @data[:counts][:loaners][:others].to_i}
    %th.text-center
      #{@data[:counts][:active_members][:total].to_i + @data[:counts][:pure_savers][:total].to_i + @data[:counts][:loaners][:total].to_i}
