%h5
  As Of: #{@record.meta.with_indifferent_access[:as_of].to_date.strftime("%B %d, %Y")}
%table.table.table-bordered.table-hover.table-sm
  %tr
    %th{ width: "50%" }
    - if microinsurance?
      %th.text-center
        Inforce
      %th.text-center
        Lapsed
      %th.text-center
        Pending
    %th.text-center
      Male
    %th.text-center
      Female
    %th.text-center
      Others
    %th.text-center
      Total
  - if microloans?
    %tr
      %th
        Pure Savers
      %td.text-center
        #{@data[:counts][:pure_savers][:male]}
      %td.text-center
        #{@data[:counts][:pure_savers][:female]}
      %td.text-center
        #{@data[:counts][:pure_savers][:others]}
      %td.text-center
        #{@data[:counts][:pure_savers][:total]}
    %tr
      %th
        Active Borrowers
      %td.text-center
        #{@data[:counts][:loaners][:male]}
      %td.text-center
        #{@data[:counts][:loaners][:female]}
      %td.text-center
        #{@data[:counts][:loaners][:others]}
      %td.text-center
        #{@data[:counts][:loaners][:total]}
  %tr
    %th
      New Members
    - if microinsurance?
      %td.text-center
        #{@data[:counts][:active_members][:inforce]}
      %td.text-center
        #{@data[:counts][:active_members][:lapsed]}
      %td.text-center
        #{@data[:counts][:active_members][:pending]}    
    %td.text-center
      #{@data[:counts][:active_members][:male]}
    %td.text-center
      #{@data[:counts][:active_members][:female]}
    %td.text-center
      #{@data[:counts][:active_members][:others]}
    %td.text-center
      #{@data[:counts][:active_members][:total]}

  - if @data[:counts][:inactive_members].present?
    %tr
      %th
        Non-patronizing Members
      %td.text-center
        #{@data[:counts][:inactive_members][:male]}
      %td.text-center
        #{@data[:counts][:inactive_members][:female]}
      %td.text-center
        #{@data[:counts][:inactive_members][:others]}
      %td.text-center
        #{@data[:counts][:inactive_members][:total]}

  - if @data[:counts][:inactive_members].present?
    %tr
      %th
        TOTAL ACTIVE MEMBERS
      - if microinsurance?
        %th.text-center
          #{@data[:counts][:active_members][:inforce].to_i}
        %th.text-center
          #{@data[:counts][:active_members][:lapsed].to_i}
        %th.text-center
          #{@data[:counts][:active_members][:pending].to_i}      
      %th.text-center
        #{@data[:counts][:active_members][:male].to_i + @data[:counts][:pure_savers][:male].to_i + @data[:counts][:loaners][:male].to_i + @data[:counts][:inactive_members][:male].to_i}
      %th.text-center
        #{@data[:counts][:active_members][:female].to_i + @data[:counts][:pure_savers][:female].to_i + @data[:counts][:loaners][:female].to_i + @data[:counts][:inactive_members][:female].to_i}
      %th.text-center
        #{@data[:counts][:active_members][:others].to_i + @data[:counts][:pure_savers][:others].to_i + @data[:counts][:loaners][:others].to_i + @data[:counts][:inactive_members][:others].to_i}
      %th.text-center
        #{@data[:counts][:active_members][:total].to_i + @data[:counts][:pure_savers][:total].to_i + @data[:counts][:loaners][:total].to_i + @data[:counts][:inactive_members][:total].to_i}
  - else
    %tr
      %th
        TOTAL ACTIVE MEMBERS
      - if microinsurance?
        %th.text-center
          #{@data[:counts][:active_members][:inforce].to_i}
        %th.text-center
          #{@data[:counts][:active_members][:lapsed].to_i}
        %th.text-center
          #{@data[:counts][:active_members][:pending].to_i}  
      %th.text-center
        #{@data[:counts][:active_members][:male].to_i + @data[:counts][:pure_savers][:male].to_i + @data[:counts][:loaners][:male].to_i}
      %th.text-center
        #{@data[:counts][:active_members][:female].to_i + @data[:counts][:pure_savers][:female].to_i + @data[:counts][:loaners][:female].to_i}
      %th.text-center
        #{@data[:counts][:active_members][:others].to_i + @data[:counts][:pure_savers][:others].to_i + @data[:counts][:loaners][:others].to_i}
      %th.text-center
        #{@data[:counts][:active_members][:total].to_i + @data[:counts][:pure_savers][:total].to_i + @data[:counts][:loaners][:total].to_i}
    
  
%hr
%h5
  Member Counts
%table.table.table-bordered.table-hover.table-sm  
  %tr
    %th{ width: "50%" }
    - if microinsurance?
      %th.text-center Inforce
      %th.text-center Lapsed
      %th.text-center Pending
    %th.text-center Regular/Primary
    %th.text-center GK
    %th.text-center Kaagapay
    %th.text-center MCLF
    %th.text-center MCLF-GK
    %th.text-center MCLF-KAAGAPAY
    %th.text-center Total

  - if microloans?
    %tr
      %th Pure Savers
      - member_counts = Hash.new(0)
      - @data[:counts][:pure_savers][:members].each do |member_type| 
        - case member_type[:member_type]
          - when "Regular" then member_counts[:regular] += 1
          - when "GK" then member_counts[:gk] += 1
          - when " Kaagapay" then member_counts[:kaagapay] += 1
          - when "MCLF" then member_counts[:mclf] += 1
          - when "MCLF-GK" then member_counts[:mclf_gk] += 1
          - when "MCLF-KAAGAPAY" then member_counts[:mclf_kaagapay] += 1
      %td.text-center= member_counts[:regular]
      %td.text-center= member_counts[:gk]
      %td.text-center= member_counts[:kaagapay]
      %td.text-center= member_counts[:mclf]
      %td.text-center= member_counts[:mclf_gk]
      %td.text-center= member_counts[:mclf_kaagapay]
      %td.text-center= member_counts.values.sum

    %tr
      %th Active Borrowers
      - member_counts = Hash.new(0)
      - @data[:counts][:loaners][:members].each do |member_type| 
        - case member_type[:member_type]
          - when "Regular" then member_counts[:regular] += 1
          - when "GK" then member_counts[:gk] += 1
          - when " Kaagapay" then member_counts[:kaagapay] += 1
          - when "MCLF" then member_counts[:mclf] += 1
          - when "MCLF-GK" then member_counts[:mclf_gk] += 1
          - when "MCLF-KAAGAPAY" then member_counts[:mclf_kaagapay] += 1
      %td.text-center= member_counts[:regular]
      %td.text-center= member_counts[:gk]
      %td.text-center= member_counts[:kaagapay]
      %td.text-center= member_counts[:mclf]
      %td.text-center= member_counts[:mclf_gk]
      %td.text-center= member_counts[:mclf_kaagapay]
      %td.text-center= member_counts.values.sum

  %tr
    %th New Members
    - if microinsurance?
      %td.text-center= @data[:counts][:active_members][:inforce]
      %td.text-center= @data[:counts][:active_members][:lapsed]
      %td.text-center= @data[:counts][:active_members][:pending]
    - member_counts = Hash.new(0)
    - @data[:counts][:active_members][:members].each do |member_type| 
      - case member_type[:member_type]
        - when "Regular" then member_counts[:regular] += 1
        - when "GK" then member_counts[:gk] += 1
        - when " Kaagapay" then member_counts[:kaagapay] += 1
        - when "MCLF" then member_counts[:mclf] += 1
        - when "MCLF-GK" then member_counts[:mclf_gk] += 1
        - when "MCLF-KAAGAPAY" then member_counts[:mclf_kaagapay] += 1
    %td.text-center= member_counts[:regular]
    %td.text-center= member_counts[:gk]
    %td.text-center= member_counts[:kaagapay]
    %td.text-center= member_counts[:mclf]
    %td.text-center= member_counts[:mclf_gk]
    %td.text-center= member_counts[:mclf_kaagapay]
    %td.text-center= member_counts.values.sum

  - if @data[:counts][:inactive_members].present?
    %tr
      %th Non-patronizing Members
      - if microinsurance?
        %td.text-center= @data[:counts][:inactive_members][:inforce]
        %td.text-center= @data[:counts][:inactive_members][:lapsed]
        %td.text-center= @data[:counts][:inactive_members][:pending]
      - member_counts = Hash.new(0)
      - @data[:counts][:inactive_members][:members].each do |member_type| 
        - case member_type[:member_type]
          - when "Regular" then member_counts[:regular] += 1
          - when "GK" then member_counts[:gk] += 1
          - when " Kaagapay" then member_counts[:kaagapay] += 1
          - when "MCLF" then member_counts[:mclf] += 1
          - when "MCLF-GK" then member_counts[:mclf_gk] += 1
          - when "MCLF-KAAGAPAY" then member_counts[:mclf_kaagapay] += 1
      %td.text-center= member_counts[:regular]
      %td.text-center= member_counts[:gk]
      %td.text-center= member_counts[:kaagapay]
      %td.text-center= member_counts[:mclf]
      %td.text-center= member_counts[:mclf_gk]
      %td.text-center= member_counts[:mclf_kaagapay]
      %td.text-center= member_counts.values.sum

  - if @data[:counts][:inactive_members].present?
    %tr
      %th
        TOTAL COUNTS PER MEMBER TYPE
        - if @data[:member_type_counts].present?
          - total_regular = @data[:counts][:active_members][:members].count { |m| m[:member_type] == "Regular" } + @data[:counts][:pure_savers][:members].count { |m| m[:member_type] == "Regular" } + @data[:counts][:loaners][:members].count { |m| m[:member_type] == "Regular" } + @data[:counts][:inactive_members][:members].count { |m| m[:member_type] == "Regular" }
          - total_gk = @data[:counts][:active_members][:members].count { |m| m[:member_type] == "GK" } + @data[:counts][:pure_savers][:members].count { |m| m[:member_type] == "GK" } + @data[:counts][:loaners][:members].count { |m| m[:member_type] == "GK" }
          - total_kaagapay = @data[:counts][:active_members][:members].count { |m| m[:member_type] == " Kaagapay" } + @data[:counts][:pure_savers][:members].count { |m| m[:member_type] == " Kaagapay" } + @data[:counts][:loaners][:members].count { |m| m[:member_type] == " Kaagapay" }
          - total_mcpl = @data[:counts][:active_members][:members].count { |m| m[:member_type] == "MCLF" } + @data[:counts][:pure_savers][:members].count { |m| m[:member_type] == "MCLF" } + @data[:counts][:loaners][:members].count { |m| m[:member_type] == "MCLF" }
          - total_mclf_gk = @data[:counts][:active_members][:members].count { |m| m[:member_type] == "MCLF-GK" } + @data[:counts][:pure_savers][:members].count { |m| m[:member_type] == "MCLF-GK" } + @data[:counts][:loaners][:members].count { |m| m[:member_type] == "MCLF-GK" }
          - total_mclf_kaagapay = @data[:counts][:active_members][:members].count { |m| m[:member_type] == "MCLF-KAAGAPAY" } + @data[:counts][:pure_savers][:members].count { |m| m[:member_type] == "MCLF-KAAGAPAY" } + @data[:counts][:loaners][:members].count { |m| m[:member_type] == "MCLF-KAAGAPAY" }
          %th.text-center= total_regular
          %th.text-center= total_gk
          %th.text-center= total_kaagapay
          %th.text-center= total_mcpl
          %th.text-center= total_mclf_gk
          %th.text-center= total_mclf_kaagapay
      %th.text-center
        #{@data[:counts][:active_members][:total].to_i + @data[:counts][:pure_savers][:total].to_i + @data[:counts][:loaners][:total].to_i + @data[:counts][:inactive_members][:total].to_i}
  - else
    %tr
      %th
        TOTAL COUNTS PER MEMBER TYPE
        - if @data[:member_type_counts].present?
          - @data[:member_type_counts].each do |o|
            %th.text-center
              #{o[:count]}
      %th.text-center
        #{@data[:counts][:active_members][:total].to_i + @data[:counts][:pure_savers][:total].to_i + @data[:counts][:loaners][:total].to_i + @data[:counts][:inactive_members][:total].to_i}

%ul.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a.nav-link.active.show{"aria-selected" => "true", "data-bs-toggle" => "tab", :href => "#active-members", :role => "tab"}
      New Members (#{@data[:counts][:active_members][:total]})

  - if @data[:counts][:inactive_members].present?
    %li.nav-item
      %a.nav-link{"aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#inactive-members", :role => "tab"}
        Non-patronizing Members (#{@data[:counts][:inactive_members][:total]})
  - if microloans?  
    %li.nav-item
      %a.nav-link{"aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#pure-savers", :role => "tab"}
        Pure Savers (#{@data[:counts][:pure_savers][:total]})
    %li.nav-item
      %a.nav-link{"aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#loaners", :role => "tab"}
        Active Borrowers (#{@data[:counts][:loaners][:total]})
.tab-content
  #active-members.tab-pane.active.show{:role => "tabpanel"}
    = render partial: "data_stores/member_counts/members", locals: { members: @data[:counts][:active_members][:members] }
  #pure-savers.tab-pane{:role => "tabpanel"}
    = render partial: "data_stores/member_counts/members_with_savings", locals: { members: @data[:counts][:pure_savers][:members] }
  #loaners.tab-pane{:role => "tabpanel"}
    = render partial: "data_stores/member_counts/members", locals: { members: @data[:counts][:loaners][:members] }
  - if @data[:counts][:inactive_members].present?
    #inactive-members.tab-pane{:role => "tabpanel"}
      = render partial: "data_stores/member_counts/members", locals: { members: @data[:counts][:inactive_members][:members] }
