= render partial: "index_header"

.container-fluid:
  .row
    .col
      .card
        .card-body
          = form_with url: request.path, method: "get", local: true do |f|
            = f.label :branch_id, "Branch:"
            = f.select :branch_id, options_from_collection_for_select(Branch.all, :id, :name, @command.branch.id)
            = f.label :from, "From:"
            = f.date_field :from, as: :date, value: @command.from
            = f.label :from, "To:"
            = f.date_field :to, as: :date, value: @command.to
            = f.submit "Go"

          %h3= "#{@command.branch.name}: #{@command.from.to_s(:long)} to #{@command.to.to_s(:long)}"

          - if @result.empty?
            %p No records found

          - else
            %table.table.table-bordered.table-sm
              - @result.chunk { |r| "#{r.fetch("last_name")}, #{r.fetch("first_name")}" }.each do |member_name, member_txs|
                %tr
                  %td(colspan="#{@command.accounts.size * 2 + 1}")= member_name
                %tr
                  %td Date
                  - @command.accounts.each do |_, subtype|
                    %td(colspan="2")= subtype
                - member_txs.group_by { |tx| tx["transacted_at"] }.each do |transacted_at, txs|
                  %tr
                    %td= transacted_at
                    - @command.accounts.each do |_, subtype|
                      - tx = txs.find { |tx| tx.fetch("account_subtype") == subtype }
                      %td= tx.fetch("amount") if tx.try(:fetch, "transaction_type") == "withdraw"
                      %td= tx.fetch("amount") if tx.try(:fetch, "transaction_type") == "deposit"
                %tr
                  %td Total
                  - last_tx = member_txs.first # using `#first` because sorted in reverse
                  - @command.accounts.each do |key, _|
                    %td= last_tx.fetch("#{key}_debit")
                    %td= last_tx.fetch("#{key}_credit")
