%ol.breadcrumb
  %li.breadcrumb-item
    = link_to members_path do
      .fa.fa-users
      Members
  %li.breadcrumb-item
    %strong
      = link_to member_path(@member) do
        %span.fa.fa-user
        #{@member.full_name}
  %li.breadcrumb-item
    %span.fa.fa-file
    Member Share
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      - if @member_share.data["is_printed"].to_s == "false"
        = link_to member_member_share_flag_as_printed_path(@member, @member_share), class: 'btn', data: { confirm: 'Are you sure?' } do
          .fa.fa-check
          Flag as Printed
      = link_to edit_member_member_share_path(@member, @member_share), class: 'btn' do
        .fa.fa-pencil-alt
        Edit
      = link_to "#", id: 'btn-print', class: 'btn', data: { id: @member_share.id } do
        .fa.fa-print
        Print
      = link_to member_member_share_path(@member, @member_share), method: :delete, class: 'btn', data: { confirm: "Are you sure?" } do
        .fa.fa-times
        Delete
