#modal-new-transaction.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title
          New Transaction
      .modal-body
        .modal-body-content
          .row
            .col-md-4
              .form-group
                %label
                  Branch
                = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "select-branch", prompt: "-- SELECT --"
            .col-md-4
              .form-group
                %label
                  Center
                = select_tag :center_id, options_for_select([]), class: "form-control select-select2", id: "select-center", prompt: "-- SELECT --"
            .col-md-4
              .form-group
                %label
                  Collection Date
                = text_field_tag :collection_date, Date.today, type: 'date', id: 'input-collection-date', class: 'form-control'
          - if !Settings.activate_microinsurance
            .row
              .col-md-6
                .form-group
                  %label
                    Savings Type
                  = select_tag :savings_type, options_for_select(savings_subtypes), id: "select-savings-subtype", class: "form-control"
              .col-md-6
                .form-group
                  %label
                    Insurance Type
                  = select_tag :insurance_type, options_for_select(insurance_subtypes), id: "select-insurance-subtype", class: "form-control"
          - else
            .row
              .col-md-6
                .form-group
                  %label
                    Payment Type
                  = select_tag :payment_type, options_for_select(payment_subtypes), id: "select-payment-subtype", class: "form-control"
              .col-md-6
                .form-group
                  %label
                    Insurance Type
                  = select_tag :insurance_type, options_for_select(insurance_subtypes), id: "select-insurance-subtype", class: "form-control"
              / .col-md-6
              /   .form-group
              /     %label
              /       OR Number
              /     = text_field_tag :or_number, "", class: 'form-control', id: 'input-or-number'
              / .col-md-6
              /   .form-group
              /     %label
              /       AR Number
              /     = text_field_tag :ar_number, "", class: 'form-control', id: 'input-ar-number'

          .message
      .modal-footer
        .controls
          %button#btn-confirm-new-transaction.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-bs-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel