= simple_form_for [@member, kjsp_claim] do |f|
  = hidden_field_tag 'memberId', "#{@member.id}"
  #{@errors}
  .row
    .col
      .form-group
        %h3
          KJSP Information
  .row
    .col-md-1
      .form-group
        .radio
          = f.input :kjsp_type, input_html:{ type: "radio", value: "Old"}, as: :string, label: "Old" 
    .col-md-1
      .form-group
        .radio
          = f.input :kjsp_type, input_html:{ type: "radio", value: "New"}, as: :string, label: "New"
    .col-md-10
  .row
    .col
      .form-group
        = f.input :date_prepared, input_html: { class: 'form-control', type: 'date'}, as: :string, label: "Date Prepared"
    .col
      .form-group
        = f.input :name_of_kjsp_beneficiary, input_html: { class: 'form-control'}, as: :string, label: "Name of KJSP Beneficiary"   
    .col
      .form-group
        = f.input :name_of_school, input_html: { class: 'form-control'}, as: :string, label: "Name of School" 
  .row
    .col
      .form-group
        = f.input :school_year, input_html: { class: 'form-control'}, as: :string, label: "SY"  
    .col
      .form-group
        = f.input :year_level, input_html: { class: 'form-control' }, as: :select, collection: KjspClaim::YEAR_LEVEL, include_blank: false, label: "Year Level", prompt: "-- Select --"
    .col
      .form-group
        = f.input :sem, input_html: { class: 'form-control'}, as: :string, label: "Semester"
    .col
      .form-group
        = f.input :final_grade, input_html: { class: 'form-control'}, as: :string, label: "Final Grade"
  .row
    .col
      .form-group
        = f.input :payee, input_html: { class: 'form-control'}, as: :string, label: "Payee"
    .col
      .form-group
        = f.input :classification, input_html: { class: 'form-control'}, as: :string, label: "Relationship to member"
    .col
      .form-group
        = f.input :amount, input_html: { class: 'form-control'}, as: :string, label: "Amount" 
    .col
      .form-group
        = f.input :remarks, input_html: { class: 'form-control'}, as: :string, label: "Remarks" 
  .row
    .col
      .form-group
        = f.input :prepared_by, input_html: { class: 'form-control', value: current_user.print_full_name.titleize}, as: :string, label: "PREPARED BY"       
  .row
    .col
      .form-actions
      = button_tag type: 'submit', class: 'btn btn-primary', data: { confirm: "Are you sure?" } do
        .fa.fa-check
        Submit
      = link_to kjsp_claims_path, class: 'btn btn-default' do
        .fa.fa-times
        Cancel



