%section.content-header
  %h3
    %strong
      HIIP Details
%table.table.table-sm.table-hover
  %tbody
    %tr
      %th Name
      %td 
        = link_to "#{@hiip_claim.member.full_name} (#{@hiip_claim.member.identification_number})", member_path(@hiip_claim.member), target: "_blank"
      %th Date Prepared
      %td 
        = @hiip_claim.date_posted
    %tr
      %th Policy Number
      %td 
        = @hiip_claim.policy_number 
      %th Date of Birth
      %td 
        = @hiip_claim.date_of_birth   
    %tr
      %th Effective Date of Coverage
      %td 
        = @hiip_claim.effective_date_of_coverage  
      %th Expiration Date of Coverage
      %td 
        = @hiip_claim.expiration_date_of_coverage  
    %tr
      %th Date Admitted
      %td 
        = @hiip_claim.date_admitted  
      %th Date Discharged
      %td 
        = @hiip_claim.date_discharged 
    %tr
      %th Reason of Confinement
      %td 
        = @hiip_claim.reason_of_confinement 
      %th Diagnosis
      %td 
        = @hiip_claim.diagnosis 
    %tr
      %th Amount
      %td 
        = @hiip_claim.amount
      %th Balance
      %td 
        = @hiip_claim.balance
    %tr
      %th Name of Claimant
      %td 
        = @hiip_claim.check_payee
      %th Age
      %td 
        = @hiip_claim.age
    %tr
      %th Prepared By
      %td
        = @hiip_claim.prepared_by
      %th
      %td



     