%table.table.table-sm.table-bordered.table-hover
  %thead
    %tr
      %th
        Branch
      %th
        Account
      %th.text-center
        Num Members
      %th
        Closing Date
      %th
        Closed At
      %th.text-center
        Status
  %tbody
    - @monthly_closing_collections.each do |o|
      %tr
        %td
          = link_to monthly_closing_collection_path(o) do
            %strong
              #{o.branch}
        %td
          #{o.account_subtype}
        %td.text-center
          - if o.pending? || o.approved?
            #{o.data["records"].size}
          - else
            N/A
        %td
          %small
            #{o.closing_date.strftime("%B %d, %Y")}
        %td
          - if o.closed_at.present?
            %small
              #{o.closed_at.strftime("%B %d, %Y")}
        %td.text-center
          - if o.pending?
            .badge.badge-warning
              Pending
          - elsif o.processing?
            .badge.badge-info
              Processing
          - elsif o.approved?
            .badge.badge-success
              Approved
          - elsif o.error?
            .badge.badge-danger
              Error
