%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th.text-center
        Book
      %th.text-center
        Start Date
      %th.text-center
        End Date
      %th
        Branch
      %th.text-center
        Status
      %th.text-center
        Started
      %th.text-center
        Last Updated
  %thead
    - @records.each do |o|
      %tr
        %td.text-center
          %strong
            = link_to "/data_stores/accounting_entries_summaries/#{o.id}" do
              .fa.fa-search
        %td.text-center.text-muted
          #{o.book}
        %td.text-center
          %strong
            #{o.start_date.to_date.strftime("%b %d, %Y")}
        %td.text-center
          %strong
            #{o.end_date.to_date.strftime("%b %d, %Y")}
        %td
          #{o.branch_name}
        %td.text-center
          - if o.processing?
            .badge.badge-info
              Processing
          - elsif o.done?
            .badge.badge-success
              Done
        %td.text-center
          %small
            #{o.created_at.localtime}
        %td.text-center
          %small
            #{o.updated_at.localtime}
