= title @record.id
.row
  .col
    .card
      .card-body
        %h5
          #{@meta[:book]} Summary of Entries dating #{@meta[:start_date].to_date.strftime("%B %d, %Y")} to #{@meta[:end_date].to_date.strftime("%B %d, %Y")}
        = render partial: "records_table"
