%ol.breadcrumb
  %li.breadcrumb-item
    = link_to loans_path do
      .fa.fa-credit-card
      Loans
  %li.breadcrumb-item
    %strong
      = link_to member_path(@loan.member) do
        %span.fa.fa-user
        #{@loan.member.full_name}
      \-
      #{@loan.pn_number}
      (#{@loan.loan_product})
      \-
      - if @loan.cycle.present?
        Cycle #{@loan.cycle}
      - else
        NO LOAN CYCLE PRESENT
  %li.breadcrumb-item
    = link_to loan_path(@loan) do
      #{@loan.pn_number}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      - if @adjustment_record.pending?
        .btn#btn-delete-adjustment-record
          .fa.fa-times
          Delete
