%table.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      - if current_user.roles.include?("MIS")
        %th
          %small
            Ref.
      %th
      %th
      %th
        %center
          Due Date
      %th.text-end
        Amount Due
      %th.text-end
        Running Balance
      - if @loan.active?
        %th
  %tbody
    - running_balance = @loan.total_dues
    - @amortization_schedule.each_with_index do |o, i|
      %tr
        - if current_user.roles.include?("MIS")
          %td
            #{o.id}
        %td.text-center
          %small
            #{i + 1}
        %td
          %center
            - if o.is_paid
              .badge.bg-success
                .bi.bi-check
            - else
              .badge.bg-danger
                .bi.bi-x
        %td
          %center
            %strong
              - if o.due_date
                #{o.due_date.strftime("%b %d, %Y")}
        %td.text-end.text-muted
          #{number_to_currency(o.amount_due, unit: "")}
        %td.text-end
          - running_balance = (running_balance - o.total_paid)
          = number_to_currency(running_balance, unit: "")
        - if @loan.active?
          %td.text-center
            - if o.is_paid.blank?
              - if current_user.roles.include?("MIS") || current_user.roles.include?("SBK")
                .btn.btn-danger.btn-sm.btn-delay-amort{ data: { id: o.id, old_date: "#{o.due_date}" } }
                  .bi.bi-subtract
              - else
                %div(style="height: 32; width: 31px")

    %tr
      - if current_user.roles.include?("MIS")
        %td
      %td
      %td
      %td
        %center
          %strong
            Total
      %td.text-end
        %strong
          #{number_to_currency(@loan.total_dues, unit: "")}
      %td.text-end
        %strong
          #{number_to_currency(running_balance, unit: "")}
      - if @loan.active?
        %td
