.row
  .col
    .card
      .card-body
        %center
          %label
            Loan Amount
          .text-muted
            #{number_to_currency(@loan.principal, unit: "")}
  .col
    .card
      .card-body
        %center
          %label
            Interest Amount
          .text-muted
            #{number_to_currency(@loan.interest, unit: "")}
  .col
    .card
      .card-body
        %center
          %label
            Current Balance
          .text-muted
            #{number_to_currency(@loan.total_balance, unit: "")}
  .col
    .card
      .card-body
        %center
          %label
            Total Paid
          .text-muted
            #{number_to_currency(@loan.total_paid, unit: "")}

- if @loan.restructured?
  %h5
    Restructured Loans
  %table.table.table-bordered.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-right
          Principal Balance
        %th.text-right
          Interest Balance
        %th.text-right
          Total Balance
    %tbody
      - @loan.data["restructured_loans"].each do |rl|
        %tr
          %td
            = link_to loan_path(rl.fetch("id")) do
              #{rl.fetch("pn_number")}
          %td
            #{rl["loan_product"]["name"]}
          %td.text-right
            #{number_to_currency(rl.fetch("principal_balance"), unit: "")}
          %td.text-right
            #{number_to_currency(rl.fetch("interest_balance"), unit: "")}
          %td.text-right
            #{number_to_currency(rl.fetch("total_balance"), unit: "")}


- if @loan.data["new_restructured_loans"]
  %h5
    Should be K-Sagip Amount
  %table.table.table-bordered.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-right
          Principal Balance
        %th.text-right
          Interest Balance
        %th.text-right
          Total Balance
    %tbody
      - @loan.data["new_restructured_loans"].each do |rl|
        %tr
          %td
            = link_to loan_path(rl.fetch("id")) do
              #{rl.fetch("pn_number")}
          %td
            #{rl["loan_product"]["name"]}
          %td.text-right
            #{number_to_currency(rl.fetch("principal_balance"), unit: "")}
          %td.text-right
            #{number_to_currency(rl.fetch("k_sagip_interest_balance"), unit: "")}
          %td.text-right
            #{number_to_currency(rl.fetch("principal_balance").to_f + rl.fetch("k_sagip_interest_balance").to_f, unit: "") }
      %tr
        %th{colspan: "4"}
          Total
        %td.text-right
          #{number_to_currency(@loan.data["new_restructured_loans"].sum{ |a| a["principal_balance"].to_f }, unit: "") }
            
  

      
.row
  .col-md-4.col-xs-12

    %h4
      Details
    = render partial: "specifications"
    %hr
    %h4
      Voucher Information
    = render partial: "voucher_information"
    %hr
    %h4
      Insurance Information
    = render partial: "insurance_information"
  .col-md-8.col-xs-12
    %h4
      Amortization
    = render partial: "amortization"
