%table.table.table-hover.table-sm.table-bordered
  %tr
    %th
      PN Number:
    %td.text-end
      #{@loan.pn_number}
  %tr
    %th
      Branch:
    %td.text-end
      #{@loan.branch}
  %tr
    %th
      Center:
    %td.text-end
      #{@loan.center}
  %tr
    %th
      Project Type:
    %td.text-end
      #{@loan.project_type}
  
  - co_makers = (@loan.data || {}).with_indifferent_access[:co_makers] || []

  %tr
    %th
      First Co-maker:
    %td.text-end
      - if co_makers[0].present?
        - cm = co_makers[0].is_a?(Hash) ? co_makers[0].with_indifferent_access : { id: co_makers[0], name: nil }
        - if cm[:id].present?
          = link_to(member_path(cm[:id]), target: "_blank", rel: "noopener noreferrer", class: "text-primary text-decoration-none") do
            = cm[:name].presence || cm[:id]
        - else
          = cm[:name].presence || "N/A"
      - else
        N/A

  %tr
    %th
      Second Co-maker:
    %td.text-end
      - if co_makers[1].present?
        - cm = co_makers[1].is_a?(Hash) ? co_makers[1].with_indifferent_access : { id: co_makers[1], name: nil }
        - if cm[:id].present?
          = link_to(member_path(cm[:id]), target: "_blank", rel: "noopener noreferrer", class: "text-primary text-decoration-none") do
            = cm[:name].presence || cm[:id]
        - else
          = cm[:name].presence || "N/A"
      - else
        N/A

  %tr
    %th
      Third Co-maker:
    %td.text-end
      - if co_makers[2].present?
        - cm = co_makers[2].is_a?(Hash) ? co_makers[2].with_indifferent_access : { id: co_makers[2], name: nil }
        - if cm[:id].present?
          = link_to(member_path(cm[:id]), target: "_blank", rel: "noopener noreferrer", class: "text-primary text-decoration-none") do
            = cm[:name].presence || cm[:id]
        - else
          = cm[:name].presence || "N/A"
      - else
        N/A
  -# %tr
  -#   %th
  -#     Co-maker (Kasama sa sentro): 
  -#   %td.text-end
  -#     - if @loan.has_co_maker_one?
  -#       = link_to member_path(@loan.data["co_maker_one"]["id"]) do
  -#         #{@loan.co_maker_one}
  -# - if @co_maker.present? and @co_maker.profile_picture.attached?
  -#   %tr
  -#     %th
  -#     %td.text-end
  -#       = image_tag @co_maker.profile_picture, width: 100
  -# %tr
  -#   %th
  -#     Co-maker (Kamag-anak):
  -#   %td.text-end
  -#     #{@loan.co_maker_two}
  -# - if @loan.co_maker_relative_profile_picture.attached?
  -#   %tr
  -#     %th
  -#     %td.text-end
  -#       = image_tag @loan.co_maker_relative_profile_picture, width: 100
  -# %tr
  -#   %th
  -#     Co-maker (Hindi kamag-anak / kapitbahay)
  -#   %td.text-end
  -#     #{@loan.co_maker_three}
  -# - if @loan.co_maker_non_relative_profile_picture.attached?
  -#   %tr
  -#     %th
  -#     %td.text-end
  -#       = image_tag @loan.co_maker_non_relative_profile_picture, width: 100
  %tr
    %th
      Status:
    %td.text-end
      - if @loan.active?
        .badge.bg-info
          Active
      - elsif @loan.pending?
        .badge.bg-danger
          Pending
      - elsif @loan.paid?
        .badge.bg-success
          Paid
      - elsif @loan.writeoff?
        .badge.bg-warning
          Writeoff
  %tr
    %th
      Mobile Number:
    %td.text-end
      #{@MemberMobileNumber}
  %tr
  %tr
    %th
      Loan Product:
    %td.text-end
      #{@loan.loan_product}
  %tr
    %th
      Loan Product Type:
    %td.text-end
      #{@loan.loan_product_type}
  %tr
    %th
      Loan Product Tag:
    %td.text-end
      - if @loan.loan_product_tagging_id.present?
        #{LoanProductTagging.find(@loan.loan_product_tagging_id).name}
      
  %tr
    %th
      Monthly I.R.:
    %td.text-end
      #{number_to_currency((@loan.monthly_interest_rate * 100).round(2), unit: "")} %

  / Maintaining balance
  - if @loan.active?
    -  Settings.loan_products.each do |a|
      - if a[:loan_product_id] == @loan.loan_product_id
        %tr
          %th
            Maintaining Balance:
          %td.text-end
            #{ @loan.principal.to_f  * a[:maintaining_balance][:percentage].to_f} 


  %tr
    %th
      Date Prepared:
    %td.text-end
      #{@loan.date_prepared.strftime("%b %d, %Y")}
  %tr
    %th
      First Date of Payment
    %td.text-end
      - if @loan.pending?
        = link_to "#", id: "btn-first-date-of-payment" do
          .fa.fa-pencil-alt
          Edit
      - if @loan.first_date_of_payment
        #{@loan.first_date_of_payment.strftime("%b %d, %Y")}
  %tr
    %th
      Date Approved:
    %td.text-end
      - if @loan.active_or_paid?
        #{@loan.date_approved.strftime("%b %d, %Y")}
  %tr
    %th
      Date Released:
    %td.text-end
      - if @loan.pending?
        = link_to "#", id: "btn-date-released" do
          .fa.fa-pencil-alt
          Edit
      - if @loan.date_released
        #{@loan.date_released.strftime("%b %d, %Y")}
  %tr
    %th
      Date Completed:
    %td.text-end
      - if @loan.paid? and @loan.date_completed.present?
        #{@loan.date_completed.strftime("%b %d, %Y")}
      - elsif @loan.paid? and @loan.date_completed.blank?
        ERROR
  %tr
    %th
      Maturity Date:
    %td.text-end
      - if @loan.active? || @loan.paid?
        #{@loan.maturity_date}
  %tr
    %th
      Max Active Date:
    %td.text-end
      #{@loan.max_active_date}
  %tr
    %th
      Term:
    %td.text-end
      #{@loan.term} (#{@loan.num_weeks} installments)
  %tr
    %th
      Payment Type:
    %td.text-end
      #{@loan.payment_type}
