%center
  %b
    %h3
      Loan Information & Amortization
%table.table.table-bordered.table-sm
  %tr
    %th{:style => "width:10%"}
      Branch:
    %td.text{:style => "width:50%"}
      #{@loan.branch}
  %tr
    %th
      Center:
    %td.text
      #{@loan.center}
  %tr
    %th
      Loan Product:
    %td.text
      #{@loan.loan_product}
  %tr
    %th
      Date Prepared:
    %td.text
      #{@loan.date_prepared.strftime("%b %d, %Y")}
  %tr
    %th
      Date Released:
    %td.text
      - if @loan.date_released
        #{@loan.date_released.strftime("%b %d, %Y")}
  %tr
    %th
      First Date of Payment
    %td.text
      - if @loan.first_date_of_payment
        #{@loan.first_date_of_payment.strftime("%b %d, %Y")}
  %tr
    %th
      Maturity Date:
    %td.text
      - if @loan.active? || @loan.paid?
        #{@loan.maturity_date}
  %tr
    %th
      Term:
    %td.text
      #{@loan.term} (#{@loan.num_weeks} installments)
  %tr
    %th
      CLIP Number:
    %td.text
      #{@loan.clip_number}
  %tr
    %th
      Beneficiary
    %td.text
      #{@loan.beneficiary_first_name.try(:titleize)} #{@loan.beneficiary_middle_name.try(:titleize)} #{@loan.beneficiary_last_name.try(:titleize)}
  %tr
    %th
      Date of Birth
    %td.text
      #{@loan.beneficiary_date_of_birth}
  %tr
    %th
      Relationship
    %td.text
      #{@loan.beneficiary_relationship.try(:titleize)}

%table.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th{ rowspan: 2, colspan: 2 }
        %center
          Due Date
      %th{ colspan: 3 }
        Total Due: #{number_to_currency(@loan.total_dues, unit: "")}
      %th{ colspan: 3 }
        Total Paid: #{number_to_currency(@loan.total_paid, unit: "")}
      %th{ colspan: 3 }
        Total Balance: #{number_to_currency(@loan.total_balance, unit: "")}
    %tr
      %th.text-right
        Principal
      %th.text-right
        Interest
      %th.text-right
        Total
      %th.text-right
        Principal
      %th.text-right
        Interest
      %th.text-right
        Total
      %th.text-right
        Principal
      %th.text-right
        Interest
      %th.text-right
        Total
  %tbody
    - @amortization_schedule.each do |o|
      %tr
        %td
          %center
            - if o.is_paid
              .badge.badge-success
                .fa.fa-check
            - else
              .badge.badge-danger
                .fa.fa-times
        %td
          %center
            %strong
              - if o.due_date
                #{o.due_date.strftime("%b %d, %Y")}
              - if current_user.is_mis?
                %small
                  %hr
                  #{o.id}
                  %hr
        %td.text-right.text-muted
          #{number_to_currency(o.principal, unit: "")}
        %td.text-right.text-muted
          #{number_to_currency(o.interest, unit: "")}
        %td.text-right
          %strong
            #{number_to_currency(o.amount_due, unit: "")}
        %td.text-right.text-muted
          #{number_to_currency(o.principal_paid, unit: "")}
        %td.text-right.text-muted
          #{number_to_currency(o.interest_paid, unit: "")}
        %td.text-right
          %strong
            #{number_to_currency(o.total_paid, unit: "")}
        %td.text-right.text-muted
          #{number_to_currency(o.principal_balance, unit: "")}
        %td.text-right.text-muted
          #{number_to_currency(o.interest_balance, unit: "")}
        %td.text-right
          %strong
            #{number_to_currency(o.total_balance, unit: "")}
    %tr
      %td
      %td
        %center
          %strong
            Total
      %td.text-right
        %strong
          #{number_to_currency(@loan.principal, unit: "")}
      %td.text-right
        %strong
          #{number_to_currency(@loan.interest, unit: "")}
      %td.text-right
        %strong
          #{number_to_currency(@loan.total_dues, unit: "")}
      %td.text-right
        %strong
          #{number_to_currency(@loan.principal_paid, unit: "")}
      %td.text-right
        %strong
          #{number_to_currency(@loan.interest_paid, unit: "")}
      %td.text-right
        %strong
          #{number_to_currency(@loan.total_paid, unit: "")}
      %td.text-right
        %strong
          #{number_to_currency(@loan.principal_balance, unit: "")}
      %td.text-right
        %strong
          #{number_to_currency(@loan.interest_balance, unit: "")}
      %td.text-right
        %strong
          #{number_to_currency(@loan.total_balance, unit: "")}