= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          %h5
            Amortization Table
          = render partial: "amortization_table"
          %h5
            Transaction Table
          = render partial: "transaction_table"

= render partial: "loans/modals/reage"
= render partial: "templates/error_list"

= javascript_include_tag "loans/Show.js"

#parameters{ data: { id: @loan.id } }

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');
    var loanId  = $("#parameters").data('id');

    Show.init({
      loanId: loanId,
      authenticityToken: authenticityToken
    });
  });
