= title @loan.pn_number
.row
  .col
    .card
      .card-body
        %h3
          #{@loan.member.full_name}
        %p
          #{@loan.loan_product.name} / Cycle #{@loan.cycle }
.row
  .col
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a.nav-link.active.show{"aria-selected" => "true", "data-bs-toggle" => "tab", :href => "#details", :role => "tab"} Details
      %li.nav-item
        %a.nav-link{"aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#amortization-table", :role => "tab"} Amortization Table
      %li.nav-item
        %a.nav-link{"aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#payments-table", :role => "tab"} Payments
      %li.nav-item
        %a.nav-link{"aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#adjustments", :role => "tab"} Adjustments
      %li.nav-item
        %a.nav-link{"aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#activity-logs", :role => "tab"} Activity Logs
    .tab-content.border-start.border-bottom.border-end
      #details.tab-pane.active.show{:role => "tabpanel"}
        .p-3
          = render partial: "details"
          %hr
          .row
            .col
              %h5
                Accounting Entry
            - if @loan.pending?
              .col
                .text-end
                  #btn-change-book.btn.btn-info.btn-sm
                    .fa.fa-sync
                    Change Book
          #react-root
      #amortization-table.tab-pane{:role => "tabpanel"}
        .p-3
          = render partial: "amortization_table"
      #payments-table.tab-pane{:role => "tabpanel"}
        .p-3
          = render partial: "transaction_table"
      #adjustments.tab-pane{:role => "tabpanel"}
        .p-3
          = render partial: "adjustments"
      #activity-logs.tab-pane{:role => "tabpanel"}
        .p-3
          = render partial: "shared/activity_logs", locals: { activity_logs: @activity_logs }
    - if debug?
      %pre
        %code
          #{JSON.pretty_generate(JSON.parse(@loan.to_json))}

= render partial: "loans/modals/approve"
= render partial: "loans/modals/reage"
= render partial: "loans/modals/delete"
= render partial: "loans/modals/first_date_of_payment"
= render partial: "loans/modals/date_released"
= render partial: "loans/modals/change_book"
= render partial: "loans/modals/delay_amort"
= render partial: "loans/modals/new_adjustment"
= render partial: "loans/modals/verify"
= render partial: "loans/modals/process"
= render partial: "loans/modals/for_release"
= render partial: "loans/modals/reject"
= render partial: "loans/modals/upload_application_form"
= render partial: "loans/modals/reverse_loan"
= render partial: "templates/error_list"
= render partial: "loans/modals/fraud_tagging"
