= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.nav-item
              %a.nav-link.active.show{"aria-selected" => "true", "data-toggle" => "tab", :href => "#details", :role => "tab"} Details
            %li.nav-item
              %a.nav-link{"aria-selected" => "false", "data-toggle" => "tab", :href => "#amortization-table", :role => "tab"} Amortization Table
            %li.nav-item
              %a.nav-link{"aria-selected" => "false", "data-toggle" => "tab", :href => "#payments-table", :role => "tab"} Payments
            %li.nav-item
              %a.nav-link{"aria-selected" => "false", "data-toggle" => "tab", :href => "#activity-logs", :role => "tab"} Activity Logs
          .tab-content
            #details.tab-pane.active.show{:role => "tabpanel"}
              = render partial: "details"
              %hr
              %h5
                Accounting Entry
              #loan-accounting-entry-content
            #amortization-table.tab-pane{:role => "tabpanel"}
              = render partial: "amortization_table"
            #payments-table.tab-pane{:role => "tabpanel"}
              = render partial: "transaction_table"
            #activity-logs.tab-pane{:role => "tabpanel"}
              = render partial: "shared/activity_logs", locals: { activity_logs: @activity_logs }
          - if debug?
            %pre
              %code
                #{JSON.pretty_generate(JSON.parse(@loan.to_json))}

= render partial: "loans/modals/reage"
= render partial: "loans/modals/delete"
= render partial: "loans/modals/first_date_of_payment"
= render partial: "templates/error_list"

#parameters{ data: { id: @loan.id, member_id: @loan.member.id } }

= javascript_include_tag "loans/Show.js"
= javascript_include_tag "LoanAccountingEntry.min.react"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');
    var loanId  = $("#parameters").data('id');

    Show.init({
      loanId: loanId,
      authenticityToken: authenticityToken
    });
  });
