%table.table.table-sm.table-hover
  %thead
    %tr
      %th
        Status
      %th{ width: "10%" }
        Book
      %th
        Sub Ref Number
      %th
        Accounting Fund
      - if book == "CDB"  
        %th
          Check Number
        %th
          Check Voucher Number
      - if book == "CRB"  
        %th
          OR Number
        %th
          AR Number
      %th
        Date Prepared
      %th
        Date Posted  
      %th
        Amount
  %tbody
    - records.each do |o|
      %tr
        %td.text-muted
          = link_to accounting_accounting_entry_path(o) do
            %strong
              %small
                #{o.status.upcase}
        %td.text-muted
          = link_to accounting_accounting_entry_path(o) do
            %strong
              %small
                #{o.book}
        %td.text-muted
          = link_to accounting_accounting_entry_path(o) do
            %strong
              %small
                #{o.data.with_indifferent_access[:sub_reference_number]}
        %td.text-muted
          = link_to accounting_accounting_entry_path(o) do
            %strong
              %small
                #{o.accounting_fund}
        - if book == "CDB"  
          %td.text-muted
            = link_to accounting_accounting_entry_path(o) do
              %strong
                %small
                  #{o.data.with_indifferent_access[:check_number]}
          %td.text-muted
            = link_to accounting_accounting_entry_path(o) do
              %strong
                %small
                  #{o.data.with_indifferent_access[:check_voucher_number]}
        - if book == "CRB"  
          %td.text-muted
            = link_to accounting_accounting_entry_path(o) do
              %strong
                %small
                  #{o.data.with_indifferent_access[:or_number]}
          %td.text-muted
            = link_to accounting_accounting_entry_path(o) do
              %strong
                %small
                  #{o.data.with_indifferent_access[:ar_number]}
        %td.text-muted
          = link_to accounting_accounting_entry_path(o) do
            %strong
              %small
                #{o.date_prepared}
        %td.text-muted
          = link_to accounting_accounting_entry_path(o) do
            %strong
              %small
                #{o.date_posted}        
        %td.text-muted
          = link_to accounting_accounting_entry_path(o) do
            %strong
              %small
                #{o.amount}