= render partial: "books_header", locals: { book: "CRB", book_title: "Cash Receipts" }

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "filter"
          = render partial: "book_records_list", locals: { records: @records, book: "CRB" }
          = paginate @records

#parameters{ data: { book: "CRB" } }
= render partial: "shared/modals/print"
= javascript_include_tag "accounting/BooksIndex"

:javascript
  $(document).ready(function() {
    var $parameters       = $("#parameters");
    var book              = $parameters.data("book");
    var authenticityToken = $("meta[name='csrf-token']").attr('content');

    BooksIndex.init({
      book: book,
      authenticityToken: authenticityToken
    });
  });
