%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th
      %th
        Collection Date
      %th
        OR Number
      %th
        SI Number
      %th
        Date Approved
      %th
        Center / Branch
      %th.text-end
        Expected Collections
      %th.text-end
        Amount Collected
      %th
        %center
          Status
  %tbody
    - @billings.each do |o|
      %tr
        %td.text-center
          = link_to billing_path(o), target: "_blank" do
            %strong
              .bi.bi-search
        %td
          %strong
            #{o.collection_date.strftime("%b %d, %Y")}
        %td
          %strong
            #{o.or_number}
        %td
          - if o.si_number.present?
            #{o.si_number}
        %td
      
          - if o.date_approved.present?
            #{o.date_approved.strftime("%b %d, %Y")}
        %td
          #{o.center.name} / #{o.branch}
        %td.text-end
          .text-muted
            #{number_to_currency(o.total_expected_collections || 0, unit: "")}
        %td.text-end
          %strong
            #{number_to_currency(o.total_collected || 0, unit: "")}
        %td
          %center
            - if o.pending?
              .badge.bg-warning
                Pending
            - elsif o.approved?
              .badge.bg-success
                Approved
            - elsif o.processing?
              .badge.bg-info
                Processing
            - elsif o.save?
              .badge.bg-success
                Save
            - elsif o.checked?
              .badge.bg-success
                Checked
