%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th
        Collection Date
      %th
        OR Number
      %th
        Date Approved
      %th
        Center / Branch
      %th.text-right
        Expected Collections
      %th.text-right
        Amount Collected
      %th
        %center
          Status
  %tbody
    - @billings.each do |o|
      %tr
        %td
          = link_to billing_path(o), target: "_blank" do
            %strong
              #{o.collection_date.strftime("%b %d, %Y")}
        %td
          = link_to billing_path(o) do
            %strong
              #{o.or_number}
        %td
          - if o.date_approved.present?
            #{o.date_approved.strftime("%b %d, %Y")}
        %td
          #{o.center.name} / #{o.branch}
        %td.text-right
          .text-muted
            #{number_to_currency(o.total_expected_collections, unit: "")}
        %td.text-right
          %strong
            #{number_to_currency(o.total_collected, unit: "")}
        %td
          %center
            - if o.pending?
              .badge.badge-danger
                Pending
            - elsif o.approved?
              .badge.badge-success
                Approved
