%ol.breadcrumb
  %li.breadcrumb-item
    = link_to billings_path do
      .fa.fa-download
      Billings
  %li.breadcrumb-item
    Billing: #{@billing.id}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "#", class: 'btn', id: 'btn-print-wp' do
        .fa.fa-print
        Print Withdraw Payment
      = link_to "#", class: 'btn', id: 'btn-print' do
        .fa.fa-print
        Print Billing
      - if @billing.pending?
        = link_to "#", class: 'btn', id: 'btn-check' do
          .fa.fa-check
          Check
        = link_to "#", class: 'btn', id: 'btn-approve' do
          .fa.fa-check
          Approve
        = link_to "#", class: 'btn', id: 'btn-zero-out' do
          .fa.fa-times
          Zero Out
        = link_to billing_path(@billing), class: 'btn', method: :delete, data: { confirm: "Are you sure?" } do
          .fa.fa-times
          Delete
