= title
.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        - if @billings.any?
          = render partial: "index_list", locals: { billings: @billings }
          = paginate @billings
        - else
          %p
            No billings found

= render partial: "billings/modals/new_transaction"
= render partial: "templates/error_list"
= render partial: "templates/loader"
