= title @billing.id
.row
  .col
    .card
      .card-body
        - if @billing.pending?
          .alert.alert-info
            %p
              Pindutin ang amount upang baguhin ito.
        - elsif @billing.processing?
          .alert.alert-danger
            %p
              This billing is still being processed.
        - elsif @billing.approved?
          .alert.alert-success
            %p
              This billing has been approved on #{@billing.date_approved.strftime("%b %d, %Y")}

        - if !@billing.checked?
          .alert.alert-danger
            This billing has not been checked yet.
        - else
          .alert.alert-info
            Checked By: #{@billing.checked_by}

        %h5
          Billing for #{@billing.branch} / #{@billing.center} - #{@billing.collection_date.strftime("%b %d, %Y")} #{@billing.approved? ? "(Approved on #{@billing.date_approved.strftime("%b %d, %Y")})" : ""}

        #react-root

        - if debug?
          %pre
            %code
              #{JSON.pretty_generate(JSON.parse(@billing.to_json))}

= render partial: "shared/modals/print"
= render partial: "billings/modals/approve"
= render partial: "billings/modals/check"
= render partial: "billings/modals/uncheck"
= render partial: "billings/modals/zero_out"
= render partial: "templates/error_list"
