= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          %table.table.table-sm.table-bordered
            %tr
              %th
                Branch / Center:
              %td.text-right
                #{@billing.branch} / #{@billing.center}
            %tr
              %th
                Expected Collections:
              %td.text-right
                #{number_to_currency(@data[:total_expected_collections], unit: "")}
            %tr
              %th
                Total Collected:
              %td.text-right
                #{number_to_currency(@data[:total_collected], unit: "")}
          %hr
          - if @billing.pending?
            .callout.callout-info
              %p
                Pindutin ang amount upang baguhin ito.
          #billing-content

          - if development?
            %pre
              %code
                #{JSON.pretty_generate(JSON.parse(@billing.to_json))}


#parameters{ data: { id: @billing.id } }

= javascript_include_tag "BillingUI.min.react"
