= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          - if @billing.pending?
            .callout.callout-info
              %p
                Pindutin ang amount upang baguhin ito.
          %h5
            Billing for #{@billing.branch} / #{@billing.center}
          #billing-content

          - if development?
            %pre
              %code
                #{JSON.pretty_generate(JSON.parse(@billing.to_json))}


#parameters{ data: { id: @billing.id } }

= javascript_include_tag "BillingUI.min.react"
