%table#data-table.display.table.table-bordered.table-hover.table-sm
  %thead 
    %tr
      %th
        Code
      %th
        Name
      %th
        Category
      %th
        Actions
  %tbody
    - @accounting_codes.each do |accounting_code|
      %tr
        %td
          #{accounting_code.code}
        %td
          #{accounting_code.name}
        %td
          #{accounting_code.category}
        %td
        
          .btn-group
            = link_to accounting_accounting_code_path(accounting_code), class: 'btn btn-sm btn-primary' do
              .bi.bi-search
              Show
            = link_to edit_accounting_accounting_code_path(accounting_code), class: 'btn btn-sm btn-info' do
              .fa.fa-pencil-alt
              Edit
