.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        %table.table.table-sm.table-bordered
          %thead
            %tr
              %th #
              %th Name
              %th Sato
              %th Center
              %th Type
              %th Status

          %tbody
            - @make_payment.each_with_index do |mp, i|
              %tr
                %td
                  #{ i + 1  }
                %td
                  = link_to member_path(mp.member_id), target: '_blank' do
                    #{ Member.find(mp.member_id).full_name }
                %td
                  #{ Member.find(mp.member_id).branch.name }
                %td
                  #{ Member.find(mp.member_id).center.name}
                %td
                  #{ mp.make_payment_type}
                %td
                  #{ mp.status}
                %td
                  = link_to adjustments_make_payment_path(mp.id), class: 'btn btn-primary' do
                    .fa.fa-search
