%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-lock
    Administration
  %li.breadcrumb-item
    = link_to administration_users_path do
      Users
  %li.breadcrumb-item
    = link_to administration_user_path(@user) do
      #{@user.full_name}
  %li.breadcrumb-item
    #{@user_demerit}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      - if @user_demerit.pending?
        #btn-approve.btn
          .fa.fa-check
          Approve
        = link_to edit_administration_user_user_demerit_path(@user, @user_demerit), class: 'btn' do
          .fa.fa-pencil-alt
          Edit
        = link_to administration_user_user_demerit_path(@user, @user_demerit), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn' do
          .fa.fa-times
          Delete
