%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th.text-center
        Year
      %th
        Branch
      %th.text-center
        Processing Status
      %th.text-center
        Started
      %th.text-center
        Last Updated
  %thead

    - @record.each do |o|
      %tr
        %td.text-center
          = link_to "/data_stores/patronage_refund/#{o.id}" do
            .bi.bi-search
        %td.text-center
          %strong
          #{o.meta.with_indifferent_access[:year]}
        %td
          #{o.meta.with_indifferent_access[:branch_name]}
        %td.text-center
          - if o.processing?
            .badge.badge-info
              Processing
          - elsif o.pending?
            .badge.bg-warning
              pending
          - elsif o.done?
            .badge.bg-success
              approved
          -elsif o.approved?
            .badge.bg-success
              Done
          - elsif o.error?
            .badge.bg-danger
              Error
        %td.text-center
          %small
            #{o.created_at.localtime}
        %td.text-center
          %small
            #{o.updated_at.localtime}
