- @data = @record.data.with_indifferent_access
= title @record.id
.row
  .col
    .card
      .card-body
        - if @record.error?
          = render partial: "data_stores/error_page"
        - else
          #react-root
          - if @record.data["accounting_entry"].present?
            = render partial: "accounting_entry_display", locals: { accounting_entry: @data["accounting_entry"].with_indifferent_access }
          - else
            %p
              No Accounting Entry
= render partial: "/data_stores/patronage_refund/modals/set_rate"
= render partial: "/data_stores/patronage_refund/modals/approve"
