= render partial: "show_header"
#parameters{ data: { id: "#{@record.id}" } }

.container-fluid
  .row
    .col
      .card
        .card-body
          - if @record.error?
            = render partial: "data_stores/error_page"
          - else
            %table.display.table.table-bordered.table-hover.table-sm
              %thead
                %tr
                  %th
                    no.
                  %th
                    Member Name
                  %th
                    Jan.
                  %th
                    Feb.
                  %th
                    March
                  %th
                    Apr.
                  %th
                    May
                  %th
                    June
                  %th
                    July
                  %th
                    Aug.
                  %th
                    Sept.
                  %th
                    Oct.
                  %th
                    Nov.
                  %th
                    Dec.
                  %th
                    Interest Paid
                  %th
                    Total Average
                  %th
                    Savings Distribute
                  %th
                    CBU Distribute
              %tbody
                - @record.data.with_indifferent_access[:details].each_with_index do |record, i|
                  - record[:final_count].each do |final_count|
                    %tr
                      %td
                        #{ i + 1}
                      %td
                        #{final_count[:member_name]}
                      - final_count[:details].each do |a|
                        %td
                          #{a[:sample]}
                      %td
                        #{final_count[:total_member_interest]}
                      %td
                        #{final_count[:member_interest_average]}
                      %td
                        #{final_count[:member_savings_total]}
                      %td
                        #{final_count[:member_cbu_total]}
                %tr
                  %th{:colspan => "14"}
                    %h5
                      Total
                  %td
                    #{@record.data.with_indifferent_access[:details].sum{ |x| x[:total_interest]}}
                  %td
                    #{@record.data.with_indifferent_access[:details].sum{ |x| x[:grand_total]}}
                  %td
                    #{@record.data.with_indifferent_access[:details].sum{ |x| x[:grand_total_savings]}}
                  %td
                    #{@record.data.with_indifferent_access[:details].sum{ |x| x[:grand_total_cbu]}}





= render partial: "/data_stores/patronage_refund/modals/approve"


= javascript_include_tag "data_stores/patronage_refund/Show.js"


:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');
    var id                = $("#parameters").data('id');

    Show.init({
      id: id,
      authenticityToken: authenticityToken
    });
  });







                    
