%table.table.table-sm.table-bordered
  %tr
    %th Particular
    %td 
      = text_field_tag :particular, "#{@accrued_interest_collection.data['accounting_entry']['particular']}", class: "form-control", id: "particular"
    %td
      %button#btn-add-particular.btn.btn-block.btn-info{ data: { id: "#{@accrued_interest_collection.id}"  } }
        Save 
  %tr
    %th OR
    %td
      = text_field_tag :particular, "#{@accrued_interest_collection.data['accounting_entry']['data']['or_number']}", class: "form-control", id: "or_number"
    %td
      %button#btn-add-or.btn.btn-block.btn-info{ data: { id: "#{@accrued_interest_collection.id}"  } }
        Save
  %tr
    %th SI
    %td
      = text_field_tag :particular, "#{@accrued_interest_collection.data['accounting_entry']['data']['si_number']}", class: "form-control", id: "si_number"
    %td
      %button#btn-add-si.btn.btn-block.btn-info{ data: { id: "#{@accrued_interest_collection.id}"  } }
        Save 
  %tr
    %th AR
    %td 
      = text_field_tag :ar_number, "#{@accrued_interest_collection.data['accounting_entry']['data']['ar_number']}", class: "form-control", id: "ar_number"
    %td
      %button#btn-add-ar.btn.btn-block.btn-info{ data: { id: "#{@accrued_interest_collection.id}"  } }
        Save 
  %tr
    %th Book
    %td
      .form-group
        = select_tag :book_type, options_for_select(["CRB" , "JVB"]), class: "form-control select-select2", id: "book_type" , prompt: "#{@accrued_interest_collection.data['accounting_entry']['book']}"

    %td
      %button#btn-add-book.btn.btn-block.btn-info{ data: { id: "#{@accrued_interest_collection.id}"  } }
        Save 
 
