%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th
        Branch
      %th
        Center
      %th
        Date Initialized
      %th.text-center
        Status
      %th.text-center
        Actions
    %tbody
      - @accrued_interest.each do |o|
        %tr
          %td
            #{Branch.find(o.branch_id).name}
          %td
            #{Center.find(o.center_id).name}
          %td
            #{o.collection_date}
          %td
            - if o[:status] == "processing"
              .badge.bg-danger
                Pending
            - elsif o[:status] == "done"
              .badge.badge-success
                Done
            - elsif o[:status] == "pending"
              .badge.badge-danger
                pending
            - elsif o[:status] == "approved"
              .badge.badge-success
                approved
            - elsif o[:status] == "error"
              .badge.badge-danger
                Error
            
          %td
            = link_to "accrued_payment_collections/#{o.id}" , target: "_blank" , class: 'btn btn-primary' do
              .bi.bi-search