%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th
        Branch
      %th
        Center
      %th
        Date Initialized
      %th.text-center
        Status
      %th.text-center
        Actions
    %tbody
      - @accrued_interest.each do |o|
        %tr
          %td
            #{Branch.find(o.branch_id).name}
          %td
            #{Center.find(o.center_id).name}
          %td
            #{o.collection_date}
          %td.text-center
            - if o[:status] == "processing"
              .badge.bg-info
                Processing
            - if o[:status] == "save"
              .badge.bg-primary
                Save
            - elsif o[:status] == "checked"
              .badge.bg-success
                Checked
            - elsif o[:status] == "pending"
              .badge.bg-danger
                pending
            - elsif o[:status] == "approved"
              .badge.bg-success
                Approved
            - elsif o[:status] == "error"
              .badge.bg-danger
                Error
          %td.text-center
            = link_to "accrued_payment_collections/#{o.id}" , target: "_blank" , class: 'btn btn-primary' do
              .bi.bi-search