.row
  .col
    .card
      .card-body
        %h5
          Accrued Payment Collections for
          #{Branch.find(@accrued_interest_collection.branch_id).name} /
          #{Center.find(@accrued_interest_collection.center_id).name} - 
          #{@accrued_interest_collection["collection_date"]}
          - if @accrued_interest_collection["status"] == "pending"
            = render partial: "form_add"

        %table.table.table-sm.table-bordered.table-hover
          %thead
            %tr
              %th
              %th
                Member
              -@accrued_interest_collection.data.with_indifferent_access[:headers].each_with_index do |hders, i|
                %th
                  #{hders[:name]}
              %th{:align=>"right"}
                Cash Payment
              %th
                TOTAL
            %tbody
              - x = 0
              -@accrued_member.each_with_index do |am , y|
                -if am['is_active'] != false
                  %tr
                    %td
                      #{x += 1}    
                    %td
                      = link_to member_path(am['member_id']), target: "_blank" do
                        %strong
                          #{am['name']}
                      - am['loan_data'].each_with_index do |al , x|
                        %td{:align=>"right"}
                          -if @accrued_interest_collection.status == 'pending'
                            -if al['enabled'] == true
                              %a.undo{ data: { 
                                amount: "#{al["amount"]}",
                                collection_id: "#{@accrued_interest_collection.id}",
                                member_data_id: "#{y}",
                                loan_data_id: "#{x}"
                                    }, 
                                    :href => "#" 
                                }
                                #{number_to_currency(al["amount"] , unit: '')} 
                          -else
                            #{number_to_currency(al["amount"] , unit: '')}
                      %td.text-end
                        #{number_to_currency(am["total_cp"], unit: '')}
                      %td.text-end
                        #{number_to_currency(am["total_payment"] , unit: '')}
          %thead
            %tr
              %th
              %th
                Total
              -@accrued_interest_collection.data.with_indifferent_access[:headers].each_with_index do |hders, i|
                %td.text-end
                  %strong
                    #{number_to_currency(hders[:interest_receivable_amount] , unit: '')}
              %td.text-end
                %strong
                  #{number_to_currency(@accrued_interest_collection.data['total_cash_payment'] , unit: '')}
              %td.text-end
                %strong
                  #{number_to_currency(@accrued_interest_collection.data['total_payment'], unit: '')}
 
= render partial: "accounting_entry_display", locals: { accounting_entry: @accounting_entry }
= render partial: "/accrued_payment_collections/modals/delete"
= render partial: "/accrued_payment_collections/modals/approve_transaction"
= render partial: "/accrued_payment_collections/modals/update_transaction"
= render partial: "/accrued_payment_collections/modals/zero_out"
