%table.table.table-bordered.table-sm
  %thead
    %tr
      %th
        Name
      - if @savings_insurance_transfer_collection.clip
        %th
          Loan Product
        - if Settings.activate_microinsurance
          %th
            CLIP Number
          %th 
            Effectivity Date
          %th 
            Maturity Date
        %th
          Principal
      - if @savings_insurance_transfer_collection.kbente
        %th
          Name of Insured
        %th
          Age
        %th
          Date of Birth
        %th
          Date Prepared
        %th
          Effectivity Date
        %th
          Beneficiary Relationship
      - if @savings_insurance_transfer_collection.kkalinga
        %th
          Name of Insured
        %th
          Age
        %th
          Date of Birth
        %th
          Date Prepared
        - if @savings_insurance_transfer_collection.approved?
          %th
            Effectivity Date
        %th
          Beneficiary Name
        %th
          Beneficiary Relationship
        %th
          POC#
      %th.text-right
        Amount
      - if @savings_insurance_transfer_collection.pending?
        %th.text-center
          Actions
  %tbody
    - records.each_with_index do |o, i|
      %tr
        %td
          = link_to member_path(o[:member][:id]), target: '_blank' do
            #{o[:member][:last_name]}, #{o[:member][:first_name]} #{o[:member][:middle_name]}
        - if @savings_insurance_transfer_collection.clip && !Settings.activate_microinsurance
          %td
            #{o[:clip_data][:loan_product_name]}
          %td 
            #{o[:clip_data][:principal]}
        - if @savings_insurance_transfer_collection.clip && Settings.activate_microinsurance
          %td
            #{o[:clip_data][:loan_product_id]}
          %td 
            #{o[:clip_data][:clip_number]}
          %td 
            #{o[:clip_data][:effective_date]}
          %td 
            #{o[:clip_data][:maturity_date]}
          %td
            #{number_to_currency(o[:clip_data][:principal], unit: '')}
        - if @savings_insurance_transfer_collection.kbente
          %td
            #{o[:kbente_data][:kbente_beneficiary_name]}
          %td
            #{o[:kbente_data][:beneficiary_age].to_i}
          %td
            #{o[:kbente_data][:date_of_birth]}
          %td
            #{o[:kbente_data][:effectivity_date]}
          %td
            #{@savings_insurance_transfer_collection.date_approved}
          %td
            #{o[:kbente_data][:relationship]}
        - if @savings_insurance_transfer_collection.kkalinga
          %td
            #{o[:kkalinga_data][:kkalinga_name_of_insured]}
          %td
            #{o[:kkalinga_data][:kkalinga_beneficiary_age].to_i}
          %td
            #{o[:kkalinga_data][:kkalinga_date_of_birth]}
          %td
            #{o[:kkalinga_data][:kkalinga_effectivity_date]}
          - if @savings_insurance_transfer_collection.approved?
            %td
              #{o[:kkalinga_data][:kkalinga_effectivity_date]}
          / %td
          /   #{@savings_insurance_transfer_collection.date_approved}
          %td
            #{o[:kkalinga_data][:kkalinga_beneficiary_name]}
          %td
            #{o[:kkalinga_data][:kkalinga_relationship]}
          %td
            #{o[:kkalinga_data][:poc_number]}
          
        %td.text-right
          #{number_to_currency(o[:amount], unit: '')}
        - if @savings_insurance_transfer_collection.pending?
          %td.text-center
            %button.btn.btn-danger.btn-sm.btn-delete{ data: { member_id: "#{i}" } }
              .fa.fa-times
    %tr
      %th
        Total
      - if @savings_insurance_transfer_collection.clip
        %th
        - if Settings.activate_microinsurance
          %th
          %th
          %th
        %th

      - if @savings_insurance_transfer_collection.kbente
        %th
        %th
        %th
        %th
        %th
        %th
        
      - if @savings_insurance_transfer_collection.kkalinga
        %th
        %th
        %th
        %th
        %th
        %th
        %th
        %th
      %th.text-right
        #{number_to_currency(@savings_insurance_transfer_collection.total_amount, unit: '')}
      - if @savings_insurance_transfer_collection.pending?
        %th