- if @savings_insurance_transfer_collection.clip
  .h4
    FOR CLIP DATA
  .row
    - if Settings.activate_microinsurance
      .col-md-3  
        .form-group
          %label Loan Product        
          = select_tag :loan_product_id, options_for_select(["Project loan", "Utility loan", "Educational loan", "Emergency loan", "Calamity loan"], @loan_product_id), id: 'input-loan-product-id', class: 'form-control'
    - else
      .col-md-3
        .form-group
          %label Loan Product         
          = select_tag :loan_product_id, options_from_collection_for_select(LoanProduct.order("name ASC"), :id, :name, @loan_product_id), id: 'input-loan-product-id', class: 'form-control js-searchable'
    .col-md-3
      .form-group
        %label Principal      
        = text_field_tag :principal, @principal, id: 'input-principal', class: 'form-control'
    - if !Settings.activate_microinsurance
      .col-md-3  
        .form-group
          %label Term        
          = select_tag :term, options_for_select(["weekly", "monthly", "semi-monthly"], @term), id: 'input-term', class: 'form-control'
    - if Settings.activate_microinsurance
      .col-md-3  
        .form-group
          %label  Term (in Months)
          = select_tag :num_installments, options_for_select([ 3, 6, 9, 12], @num_installments), id: 'input-num-installments', class: 'form-control'
    - if !Settings.activate_microinsurance
      .col-md-3  
        .form-group
          %label Num Installments      
          = text_field_tag :num_installments, @num_installments, id: 'input-num-installments', class: 'form-control'
  .row
    .col-md-3
      .form-group
        %label Effective Date
        = date_field_tag :effective_date, @effective_date, id: 'input-effective-date', class: 'form-control'
    .col-md-3  
      .form-group
        %label Maturity Date
        = date_field_tag :maturity_date, @maturity_date, id: 'input-maturity-date', class: 'form-control'
    .col-md-3
      .form-group
        %label CLIP Number
        = text_field_tag :clip_number, @clip_number, id: 'input-clip-number', class: 'form-control'
    .col-md-3
      .form-group
        %label CLIP Beneficiary
        = text_field_tag :beneficiary, @beneficiary, id: 'input-beneficiary', class: 'form-control'

- if @savings_insurance_transfer_collection.kbente
  - if !is_bk?
    .h4
      FOR K-BENTE DATA
    .row
      .col-md-3
        .form-group
          %label Name of Insured        
          = text_field_tag :kbente_beneficiary_name, @kbente_beneficiary_name, id: 'input-kbente-beneficiary-name', class: 'form-control'
      .col-md-3
        .form-group
          %label BirthDate      
          = date_field_tag :date_of_birth, @date_of_birth, id: 'input-date-of-birth', class: 'form-control'
      .col-md-3  
        .form-group
          %label Gender        
          = select_tag :gender, options_for_select(["Male", "Female"], @gender), id: 'input-gender', class: 'form-control'
          -#= text_field_tag :gender, @gender, id: 'input-gender', class: 'form-control'
      .col-md-3  
        .form-group
          %label Status    
          = select_tag :status, options_for_select(["Single", "Married", "Divorced", "Separated", "Widowed"], @status), id: 'input-status', class: 'form-control'
    .row
      .col-md-3  
        .form-group
          %label Address(Optional)    
          = text_field_tag :address, @address, id: 'input-address', class: 'form-control'
      .col-md-3  
        .form-group
          %label Date Prepared
          = date_field_tag :effectivity_date, @effectivity_date, id: 'input-effectivity-date', class: 'form-control'
      / .col-md-3
      /   .form-group
      /     %label Premium
      /     = number_field_tag :premium, 20.00, id: 'input-premium', class: 'form-control'
      .col-md-3
        .form-group
          %label Relationship
          = select_tag :relationship, options_for_select(["Son", "Daughter","Member"], @relationship), id: 'input-relationship', class: 'form-control'

- if @savings_insurance_transfer_collection.kkalinga
  - if !is_bk?
    .h4
      FOR K-KALINGA DATA
    .row
      .col-md-3
        .form-group
          %label Name of Insured        
          = text_field_tag :kkalinga_name_of_insured, @kkalinga_name_of_insured, id: 'input-kkalinga-name-of-insured', class: 'form-control'
      .col-md-3
        .form-groups
          %label BirthDate      
          = date_field_tag :kkalinga_date_of_birth, @kkalinga_date_of_birth, id: 'input-kkalinga-date-of-birth', class: 'form-control'
      .col-md-3  
        .form-group
          %label Gender        
          = select_tag :kkalinga_gender, options_for_select(["Male", "Female"], @kkalinga_gender), id: 'input-kkalinga-gender', class: 'form-control'
      .col-md-3  
        .form-group
          %label Status    
          = select_tag :kkalinga_status, options_for_select(["Single", "Married", "Divorced", "Separated", "Widowed"], @kkalinga_status), id: 'input-kkalinga-status', class: 'form-control'
    .row
      .col-md-3  
        .form-group
          %label Insured Full Address     
          = text_field_tag :kkalinga_address, @kkalinga_address, id: 'input-kkalinga-address', class: 'form-control'
      .col-md-3  
        .form-group
          %label Date Prepared
          = date_field_tag :kkalinga_effectivity_date, @kkalinga_effectivity_date, id: 'input-kkalinga-effectivity-date', class: 'form-control'
      .col-md-3
        .form-group
          %label Beneficiary Name       
          = text_field_tag :kkalinga_beneficiary_name, @kkalinga_beneficiary_name, id: 'input-kkalinga-beneficiary-name', class: 'form-control'
      .col-md-3
        .form-group
          %label POC#       
          = text_field_tag :poc_number, @poc_number, id: 'input-pocnumber', class: 'form-control'
      .col-md-3
        .form-group
          %label Relationship to Beneficiary
          = select_tag :kkalinga_relationship, options_for_select(["Aunt","Brother","Brother in law","Cousin","Daughter","Father","Father in law","Friend","Granddaughter","Grandfather","Grandmother","Grandson","Husband","Member","Mother","Mother in law","Neighbor","Nephew","Niece","Sister","Sister in law","Son","Step Brother","Step Daughter","Step Father","Step Mother","Step Sister","Step Son","Uncle","Wife"], @kkalinga_relationship), id: 'input-kkalinga-relationship', class: 'form-control'

.row
  .col-md-6
    .form-group
      %label
        Member
      = select_tag :member, options_from_collection_for_select(@members, :id, :full_name), id: 'select-member', class: 'form-control'
  - if @savings_insurance_transfer_collection.kbente 
    .col-md-4
      .form-group
        %label
          Amount
        = number_field_tag :amount, 20.00, id: 'input-amount', class: 'form-control', disabled: true
  - elsif @savings_insurance_transfer_collection.kkalinga
    .col-md-4
      .form-group
        %label
          Amount
        = number_field_tag :amount, 50.00, id: 'input-amount', class: 'form-control', disabled: true
  - elsif @savings_insurance_transfer_collection.clip && Settings.activate_microinsurance
    .col-md-4
      .form-group
        %label
  - else 
    .col-md-4
      .form-group
        %label
          Amount
        = number_field_tag :amount, 0.00, id: 'input-amount', class: 'form-control'
  .col-md-2
    .form-group
      %label
        Actions
      %button#btn-add.btn.btn-info.btn-block
        .fa.fa-plus
        Add
.row
  .col-md-10
    .form-group
      %label
        Particular
      = text_area_tag :particular, @particular, id: 'input-particular', class: 'form-control'
  .col-md-2
    .form-group
      %label
        Actions
      %button#btn-update-particular.btn.btn-info.btn-block
        .fa.fa-plus
        Save Particular
- if Settings.activate_microinsurance
  .row
    .col-md-5
      .form-group
        %label
          Or Number
        = text_area_tag :or_number, @or_number, id: 'input-or-number', class: 'form-control'
    .col-md-5
      .form-group
        %label
          Ar Number
        = text_area_tag :ar_number, @ar_number, id: 'input-ar-number', class: 'form-control'
    .col-md-2
      .form-group
        %label
          Actions
        %button#btn-update-or-ar-number.btn.btn-info.btn-block
          .fa.fa-plus
          Save Or/Ar Number
