= title
.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        - if @savings_insurance_transfer_collections.any?
          = render partial: "index_list"
        - else
          %p
            No records found

= render partial: "savings_insurance_transfer_collections/modals/new_transaction"
= render partial: "shared/errors_template"
