.row
  .col
    .card
      .card-body
        - if @savings_insurance_transfer_collection.pending?
          = render partial: "show_pending_actions"
          .message
        %hr
        - if @records.size == 0
          %p
            No records found
        - else
          = render partial: "show_list", locals: { records: @records }
        = render partial: "shared/accounting_entry_hash", locals: { accounting_entry: @accounting_entry_hash }

= render partial: "savings_insurance_transfer_collections/modals/approve"
= render partial: "shared/errors_template"
