.row
  .col
    .card
      .card-body
        - if @savings_insurance_transfer_collection.pending?
          = render partial: "show_pending_actions"
          .message
        %hr
        - if @records.size == 0
          %p
            No records found
        - else
          = render partial: "show_list", locals: { records: @records }
        
        / -  if @savings_insurance_transfer_collection.branch_id != "3a74c7d5-54a5-4eec-826d-ab81f76ae31a" && @savings_insurance_transfer_collection.center_id != "5feb513d-6963-4b30-acdc-7630da3aef13" && @insurance_subtype != "Credit Life Insurance Plan"
        = render partial: "shared/accounting_entry_hash", locals: { accounting_entry: @accounting_entry_hash }

= render partial: "savings_insurance_transfer_collections/modals/approve"
= render partial: "shared/errors_template"
