-@data_records[:records].each do |dd|
 %table.table.table-bordered.table-sm.table-hover
  %tbody
   %tr
    %th.text-center{:colspan => "2"}
     Members Data
   %tr
    %td.text-center{:colspan => "2"}
     %strong
      =link_to member_path(dd[:member][:id]), target: '_blank' do
       #{dd[:member][:last_name]}, #{dd[:member][:first_name]}
   %tr
    %td.text-center{:colspan => "2"}
     %strong
      Transfer to #{@to_branch.name} - #{dd[:transfer_to_center][:name].upcase} Center
    
   %tr
    %th.text-center
     Member Accounts
    %th.text-center
     Amount
    -dd[:member_accounts].each do |md|
     -if md[:balance].to_f > 0.0
      %tr
       %td.text-center
        #{md[:account_subtype]}
       %td.text-end
        #{number_to_currency(md[:balance], unit: '')}
   -if dd[:loan_records].present?
    %tr
     %th.text-center{:colspan => "2"}
      Loans Data
    -dd[:loan_records].each do |lr|
     %tr
      %th.text-center{:colspan =>"2"}
       #{LoanProduct.find(lr[:loan_product_id]).name}
     %tr
      %td.text-center
       PN NUMBER
      %td.text-end
       #{lr[:pn_number]}
     %tr
      %td.text-center
       Terms
      %td.text-end
       #{lr[:term]}
     %tr
      %td.text-center
       Number of Installments
      %td.text-end
       #{lr[:num_installments]}
     %tr
      %td.text-center
       Principal
      %td.text-end
       #{number_to_currency(lr[:principal],unit: '')}
     %tr
      %td.text-center
       Interest
      %td.text-end
       #{number_to_currency(lr[:interest],unit: '')}
     %tr
      %td.text-center
       Principal Paid
      %td.text-end
       #{number_to_currency(lr[:principal_paid],unit: '')}
     %tr
      %td.text-center
       Interest Paid
      %td.text-end
       #{number_to_currency(lr[:interest_paid],unit: '')}
     %tr
      %td.text-center
       Principal Balance
      %td.text-end
       #{number_to_currency(lr[:principal_balance],unit: '')}
     %tr
      %td.text-center
       Interest Balance
      %td.text-end
       #{number_to_currency(lr[:interest_balance],unit:'')}

   %tr
    -if @records[:status] == "pending"
     %td.text-center{:colspan => "2"}
      .btn.btn-danger.btn-delete-member.btn-sm.btn-block{:type => "button", data: {member_id: dd[:member][:id],member_name: [dd[:member][:last_name], ", ", dd[:member][:first_name]]}} DELETE
    %br
     
