:css
  @page { size: landscape; margin: 15px;}

  table {
    font-size: 0.8em;
  }

%small
  %strong
    #{Settings.company_name}
    %br
    #{Settings.company_address}
    %br
    VAT Registration Tin Number: #{Settings.company_tin_number}
    %br
    #{Branch.find(@billing[:branch]).name.upcase} - #{Center.find(@billing[:center]).name.upcase}
    %br
    Billing: #{@billing[:collection_date].to_date.strftime("%B %d, %Y")}


- billing_total_cp    = 0.00
- billing_grand_total = 0.00
%table.table.table-bordered.table-sm
  %thead
    %tr
      %th{ width: "2%" }
        Att.
      %th{ width: "10%" }
        Member
      - @billing[:data][:totals].each do |t|
        %th
          - if t[:record_type] == "INSURANCE"
            #{t[:key].split(" ").map{ |o| o.first }.join("")}
          - elsif t[:record_type] == "LOAN_PAYMENT"
            #{t[:key].split(" ").map{ |o| o.truncate(7) }.join(" ")}
          - elsif t[:record_type] == "SAVINGS" and t[:key].split(" ").size > 1
            #{t[:key].split(" ").map{ |o| o.first }.join("")}
          - else
            #{t[:key]}
      %th
        CP
      %th
        TOTAL
  %tbody  
    - @billing[:data][:records].each do |r|
      - member_total_cp     = 0.00
      - member_grand_total  = 0.00

      %tr
        %td
        %td
          #{r[:member][:full_name]}
        - r[:records].each do |rr|
          - if rr[:record_type] == "WP"
            - billing_grand_total += rr[:amount].to_f
            - member_grand_total += rr[:amount].to_f
            - member_total_cp -= rr[:amount].to_f
          - else
            - billing_grand_total += rr[:amount].to_f
            - billing_total_cp += rr[:amount].to_f
            - member_grand_total += rr[:amount].to_f
            - member_total_cp += rr[:amount].to_f
          %td
            - if rr[:record_type] == "WP"
              - if rr[:amount].to_f != 0.00
                #{number_to_currency(rr[:amount], unit: "")}
            - else
              - if rr[:amount].to_f != 0.00
                #{rr[:amount].to_f}
        %td
          #{member_total_cp.to_f}
        %td
          #{member_grand_total.to_f}
  %tr
    %th{ width: "2%" }
    %th{ width: "10%" }
      TOTAL
    - @billing[:data][:totals].each do |t|
      %th
        #{t[:amount].to_f}
    %th
      #{billing_total_cp.to_f}
    %th
      #{billing_grand_total.to_f}

%br
%b
%label
  Officers:
.row
  .col
    ______________________________
  .col
    ______________________________
  .col
    ______________________________
%br
.row
  .col
    %strong
      Prepared By:
    %br
    OAS
    %br
    __________________________
  .col
    %strong
      Collected By:
    %br
    SO
    %br
    __________________________
  .col
    %strong
      Checked By:
    %br
    SOM
    %br
    __________________________
  .col
    %strong
      Encoded By:
    %br
    OAS
    %br
    __________________________
  .col
    %strong
      Posted By:
    %br
    ACCO
    %br
    __________________________
