:css
  table {
    font-size: 0.9em;
  }

  #book, header {
    margin-left: 60px;
  }

  header {
    position: running(header);
  }

  @media screen {
    header {
      display: none;
    }
  }

  @media print {
    header#header {
      position: fixed;
      top: 0;
    }
  }

#book
  %table{ width: "100%" }
    %thead
      %tr
        %td
          %small
            %strong
              #{Settings.company_name}
              %br
              -if @book[:start_date] >= '2020-12-01'  
                #{Settings.company_address}
              -else
                #{Settings.old_company_address}
              %br
              VAT Registration Tin Number: #{Settings.company_tin_number}
              %br
              #{@book[:book_display]}
              %br
              Period: #{@book[:start_date]} - #{@book[:end_date]}
    %tbody
      %tr
        %td
          - @book[:accounting_entries].each do |o|
            %table.table.table-bordered.table-sm
              %tbody
                %tr
                  %th{ width: "10%" }
                    DATE
                  %th{ width: "50%" }
                    ACCOUNTING TITLE
                  %th{ width: "20%" }
                    DEBIT (PHP)
                  %th{ width: "20%" }
                    CREDIT (PHP)
                - o[:debit_entries].each_with_index do |j,i|
                  %tr
                    %td
                      - if i == 0
                        #{o[:date_posted]}
                    %td
                      #{j[:accounting_code][:name]}
                    %td.text-right
                      #{j[:debit_amount]}
                    %td.text-right
                - o[:credit_entries].each_with_index do |j,i|
                  %tr
                    %td
                    %td
                      #{j[:accounting_code][:name]}
                    %td.text-right
                    %td.text-right
                      #{j[:credit_amount]}
                %tr
                  %td{ colspan: 4 }
                    #{o[:particular]}

:javascript
  window.print();
