:css
  table {

  }
  
  @media print {
  }

%table
  %thead
    %tr
      %td
        %header
          %small
            %strong
              #{Settings.company_name}
              %br
              #{Settings.company_address}
              %br
              VAT Registration Tin Number: #{Settings.company_tin_number}
              %br
              #{@general_ledger[:branch][:name]}
              %br
              General Ledger from #{@general_ledger[:start_date].to_date.strftime("%B %d, %Y")} to #{@general_ledger[:end_date].to_date.strftime("%B %d, %Y")}
%tbody
  %tr
    %td
      - @general_ledger[:entries].each do |entry|
        - current_dr_sum  = 0.00
        - current_cr_sum  = 0.00

        %table.table.table-bordered.table-sm.table-responsive
          %thead
            %tr
              %th
                Date
              %th
                Ref. No.
              %th
              %th
                Book
              %th
                Particular
              %th.text-end
                Debit
              %th.text-end
                Credit
              %th.text-end
                Balance
          %tbody
            %tr
              %th{ colspan: 8 }
                #{entry[:accounting_code_name]}
            %tr
              %th
                Beginning Balance
              %th{ colspan: 6 }
              %th.text-end
                #{number_to_currency(entry[:beginning_balance], unit: '')}
            - entry[:entries].each do |o|
              - current_dr_sum += o[:dr_amount].to_f.round(2)
              - current_cr_sum += o[:cr_amount].to_f.round(2)
              - if o[:dr_amount].to_f != 0.00 || o[:cr_amount].to_f != 0.00 || o[:running_balance].to_f != 0.00
                %tr
                  %td.text-center
                    %small
                      #{o[:date_posted]}
                  %td
                    #{o[:reference_number]} 
                  %td
                    #{o[:sub_reference_number]}    
                  %td
                    #{o[:book]}
                  %td
                    #{o[:particular]}
                  %td.text-end
                    #{number_to_currency(o[:dr_amount], unit: '')}
                  %td.text-end
                    #{number_to_currency(o[:cr_amount], unit: '')}
                  %td.text-end
                    #{number_to_currency(o[:running_balance], unit: '')}
            %tr
              %th{ colspan: 4 }
                Ending for #{entry[:accounting_code_name]}
              %th
              %th.text-end
                #{number_to_currency(current_dr_sum, unit: '')}
              %th.text-end
                #{number_to_currency(current_cr_sum, unit: '')}
              %th.text-end
                #{number_to_currency(entry[:ending_balance], unit: '')}

:javascript
  window.print();