:css
  .member-details {
    margin: 85px 0px 0px 375px;
    font-size: 20px;
  }

  .member-name {
    margin-top: 245px;
    margin-left: 80px;
    max-width: 900px;
    font-size: 45px;
  }

  .member-no-of-share {
    font-size: 20px;
    margin: 33px 0px 0px 370px;
  }

  .member-recognition-month {
    margin-left: 110px;
  }

  .member-recognition-year {
    margin-left: 155px;
  }

  #member-certificate {
  }
  .pangulo-sign{
    margin-left:245px;
    margin-right:325px;
  }

  .sign{
    margin-top:-10px;
  }

  .name{
    margin-top: -60px;
  }

  .kalihim-name{
    font-size: 15px;
    margin-left:170px;
    margin-right:270px;
  }

  .pangulo-name{
    font-size: 15px;
  }

  .kalihim-pos{
    
    margin-left:280px;
    margin-right:375px;
  }

  .pos{
    font-size: 12px;
    margin-top: -10px;
  }

#member-certificate
  .member-name
    %center
      %p
        #{@member_share_data[:member_full_name]}
  .member-no-of-share
    %label
      #{@member_share_data[:shares_in_words]} (#{@member_share_data[:number_of_shares]})

  - x = "#{@member_share_data[:date_of_issue_year]}-#{@member_share_data[:date_of_issue_month]}-#{@member_share_data[:date_of_issue_day].to_i}"
  .member-details
    %label
      #{@member_share_data[:date_of_issue_day]}
    %label.member-recognition-month
      #{::Utils::MonthToFilipino.new(@member_share_data[:date_of_issue_month].to_i).execute!.capitalize}
    %label{ class: "member-recognition-year" }
      #{@member_share_data[:date_of_issue_year]}
  .sign
    %label.pangulo-sign
      -if x >= '2020-12-03'
        = image_tag "signatures/kalihim_2020.bmp", class: "img-responsive" , size: "110"
      -else
        = image_tag "signatures/kalihim.bmp", class: "img-responsive" , size: "110"
    %label
      = image_tag "signatures/taga_pangulo.bmp", class: "img-responsive" , size: "110"
  .name
    -if x >= '2020-12-03'
      %label.kalihim-name
        #{Settings.kalihim}
    -else
      %label.kalihim-name
        #{Settings.old_kalihim}
    %label.pangulo-name
      #{Settings.taga_pangulo}
  .pos
    %label.kalihim-pos
      Kalihim
    %label.pangulo-pos
      Taga Pangulo
  
