:css
  @page { size: portrait; }

  table {
    font-size: 0.7em;
  }

%strong
  #{Settings.company_name}
  %br
  #{Settings.company_address}
  %br
  VAT Registration Tin Number: #{Settings.company_tin_number}
  %br
  Branch: #{@membership_payment_collection[:branch]}
  %br
  Collection Date: #{@membership_payment_collection[:collection_date].to_date.strftime("%B %d, %Y")}
  %br
  Type of Transaction: MEMBERSHIP PAYMENT
%hr

%table.table.table-bordered.table-sm
  %thead
    %tr
      %th{ width: "20%" }
        Member
      %th
        Center
      - @membership_payment_collection[:data][:totals].each do |t|
        %th.text-end
          #{t[:key]}
      %th.text-end
        TOTAL
  %tbody
    - @membership_payment_collection[:data][:records].each do |r|
      %tr
        %td
          %strong
            #{r[:member][:full_name]}
        %td
          #{Member.find(r[:member][:id]).center.name}
        - r[:records].each do |rr|
          %td.text-end
            #{number_to_currency(rr[:amount], unit: '')}
        %td.text-end
          %strong
            #{number_to_currency(r[:total_collected], unit: '')}
  %tfoot
    %tr
      %th{ colspan: "2" }
        TOTAL
      - @membership_payment_collection[:data][:totals].each do |t|
        %th.text-end
          #{number_to_currency(t[:amount], unit: "")}
      %th.text-end
        #{number_to_currency(@membership_payment_collection[:data][:total_collected], unit: "")}
%br
%hr
%h5
  #{@membership_payment_collection[:data][:accounting_entry][:book]} | #{@membership_payment_collection[:data][:accounting_entry][:reference_number]}

%table.table.table-bordered.table-sm
  %thead
    %tr
      %th{ width: "50%" }
        Accounting Code
      %th.text-end{ width: "25%" }
        Debit
      %th.text-end{ width: "25%" }
        Credit
  %tbody
    - @membership_payment_collection[:data][:accounting_entry][:debit_journal_entries].each do |a|
      %tr
        %td
          #{a[:code]} - #{a[:name]}
        %td.text-end
          #{number_to_currency(a[:amount], unit: "")}
        %td.text-end
    - @membership_payment_collection[:data][:accounting_entry][:credit_journal_entries].each do |a|
      %tr
        %td
          #{a[:code]} - #{a[:name]}
        %td.text-end
        %td.text-end
          #{number_to_currency(a[:amount], unit: "")}

%p
  %span
    %strong
      Particular: 
  #{@membership_payment_collection[:data][:accounting_entry][:particular]}
%br
%br
%br
%br
.row
  .col
    %center
      %strong
        #{@membership_payment_collection[:data][:accounting_entry][:prepared_by]}
      %br
      Prepared By:
  .col
    %center
      %br
      Reviewed By:
  .col
    %center
      %strong
        #{@membership_payment_collection[:data][:accounting_entry][:approved_by]}
      %br
      Approved By:

:javascript
  window.print();
