:css
  .member-details {
    margin: 35px 0px 0px 200px;
    margin-top: 65px;
    margin-right: 20px;
    font-size: 12px;
  }

  .member-name {
    margin-top: 250px;
    margin-left: 40px;
    max-width: 900px;
    font-size: 40px;
  }

  .member-no-of-share {
    font-size: 15px;
    margin: 20px 0px 0px 240px;
  }

  .member-recognition-day {
    margin-left: 75px;
  }

  .member-recognition-month {
    margin-left: 80px;
  }

  .member-recognition-year {
    margin-left: 140px;
  }

  #member-certificate {
  }
  .pangulo-sign{
    margin-left:200px;
    margin-right:450px;
  }
  .kalihim-sign{
    margin-left:-190px;
    margin-right:10px;
  }

  
  .sign{
    margin-top: 3px;
  }

  .name{
    margin-top: -38px;
  }

  .kalihim-name{
    font-size: 12px;
    margin-left:180px;
    margin-right:120px;
  }

  .pangulo-name{
    font-size: 12px;
    margin-left:100px;
    margin-right:90px;
  }

  .kalihim-pos{
    
    margin-left:210px;
    margin-right:295px;
  }

  .pos{
    font-size: 12px;
    margin-top: 2px;
  }

#member-certificate
  .member-name
    %center
      %p
        #{@member_share_data[:member_full_name]}
  .member-no-of-share
    %label
      #{@member_share_data[:shares_in_words]} (#{@member_share_data[:number_of_shares]})

  - x = "#{@member_share_data[:date_of_issue_year]}-#{@member_share_data[:date_of_issue_month]}-#{@member_share_data[:date_of_issue_day].to_i}"
  .member-details
    %label.member-recognition-day
      #{@member_share_data[:date_of_issue_day]}
    %label.member-recognition-month
      #{::Utils::MonthToFilipino.new(@member_share_data[:date_of_issue_month].to_i).execute!.capitalize}
    %label{ class: "member-recognition-year" }
      #{@member_share_data[:date_of_issue_year]}
  .sign
    %label.pangulo-sign
      = image_tag "signatures/kalihim_0322.bmp", class: "img-responsive" , size: "80"
    %label.kalihim-sign
      = image_tag "signatures/taga_pangulo.bmp", class: "img-responsive" , size: "80"
  .name
    %label.kalihim-name
      #{Settings.kalihim}
    %label.pangulo-name
      #{Settings.taga_pangulo}
  .pos
    %label.kalihim-pos
      Kalihim
    %label.pangulo-pos
      Taga Pangulo
  
