%small
  %strong
    #{Settings.company_name}
    %br
    #{Settings.company_address}
    %br
    VAT Registration Tin Number: #{Settings.company_tin_number}
    %br
    #{@trial_balance[:branch]}
    %br
    Trial Balance from #{@trial_balance[:start_date].to_date.strftime("%B %d, %Y")} to #{@trial_balance[:end_date].to_date.strftime("%B %d, %Y")}

%table.table.table-sm.table-bordered
  %thead
    %th
      Accounting Code
    %th.text-end
      Beginning DR
    %th.text-end
      Beginning CR
    %th.text-end
      Current DR
    %th.text-end
      Current CR
    %th.text-end
      Ending DR
    %th.text-end
      Ending CR
  %tbody
    - @trial_balance[:entries].each do |o|
      %tr
        %td
          %strong
            #{o[:name]}
        %td.text-end
          #{number_to_currency(o[:beginning_debit], unit: '')}
        %td.text-end
          #{number_to_currency(o[:beginning_credit], unit: '')}
        %td.text-end
          #{number_to_currency(o[:current_debit], unit: '')}
        %td.text-end
          #{number_to_currency(o[:current_credit], unit: '')}
        %td.text-end
          #{number_to_currency(o[:ending_debit], unit: '')}
        %td.text-end
          #{number_to_currency(o[:ending_credit], unit: '')}

:javascript
  window.print();
