:css
  @page { size: portrait; margin: 25px;}

  table {
    font-size: 0.9em;
  }

%strong
  #{Settings.company_name}
  %br
  #{Settings.company_address}
  %br
  VAT Registration Tin Number: #{Settings.company_tin_number}

%hr
%h5.text-muted
  Lock-In Period Information
%table.table.table.table-bordered.table-sm
  %tr
    %th{ width: "25%" }
      Num Days
    %td
      #{@withdrawal_request["lock_in_period"]["num_days"]}
  %tr
    %th
      Num Months
    %td
      #{@withdrawal_request["lock_in_period"]["num_months"]}
  %tr
    %th
      Expected Interest Rate
    %td
      #{@withdrawal_request["lock_in_period"]["interest_rate"].to_f * 100}
  %tr
    %th
      Premature Withdrawal Interest Rate / Month 
    %td
      #{sprintf("%0.2f", @withdrawal_request["premature_interest_rate_per_month"].to_f * 100)}
  %tr
    %th
      Expected Interest Amount
    %td
      #{number_to_currency(@withdrawal_request["lock_in_period"]["expected_interest"], unit: '')}
%h5.text-muted
  Withdrawal Information
%table.table.table-bordered.table-sm
  %tr
    %th{ width: "25%" }
      Amount to Withdraw:
    %td
      #{number_to_currency(@withdrawal_request["amount_to_withdraw"], unit: "")}
  %tr
    %th
      Start Date:
    %td
      #{@withdrawal_request["start_date"].to_date.strftime("%B %d, %Y")}
  %tr
    %th
      End Date:
    %td
      #{@withdrawal_request["end_date"].to_date.strftime("%B %d, %Y")}
  %tr
    %th
      Number of Days Outstanding:
    %td
      #{@withdrawal_request["num_days_outstanding"]}
  %tr
    %th
      Interest Rate per Month
    %td
      #{@withdrawal_request["interest_rate_per_month"].to_f * 100}
  %tr
    %th
      Interest Garnered
    %td
      #{number_to_currency(@withdrawal_request["interest_amount"], unit: "")}
%hr
%h5.text-muted
  Accounting Entry
= render partial: "shared/accounting_entry_hash", locals: { accounting_entry: @withdrawal_request.with_indifferent_access[:accounting_entry] }
%hr

:javascript
  window.print();
