%section.content-header
  %h3
    %strong
      Calamity Assistance Details
- if @claim.approved?
  .bs-callout.bs-callout-primary
    %h3
      .fa.fa-book
      This has already been posted by #{@claim.posted_by} on #{@claim.date_posted}
- elsif @claim.for_posting?
  .bs-callout.bs-callout-primary
    %h3
      .fa.fa-thunbs-up
      This has already been approved by #{@claim.approved_by} on #{@claim.date_approved}
- elsif @claim.for_approval?
  .bs-callout.bs-callout-primary
    %h3
      .fa.fa-check
      This has already been checked by #{@claim.checked_by} on #{@claim.date_checked}
%table.table.table-sm.table-hover
  %tbody
    %tr
      %th Date Requested
      %td 
        = @data[:date_requested].to_date.strftime("%b %d, %Y")  
      %th Date of Incident
      %td 
        = @data[:date_of_event].to_date.strftime("%b %d, %Y")  
    %tr
      %th Name of Member 
      %td 
        = link_to "#{@claim.member.full_name} (#{@claim.member.identification_number})", member_path(@claim.member), target: "_blank"
      %th Branch
      %td 
        = @claim.member.branch.name
    %tr
      %th Name of Beneficiary
      %td 
        = @data[:name_of_beneficiary] 
      %th Amount
      %td 
        = @data[:amount]
    %tr
      %th Type of Calamity
      %td 
        = @data[:type_of_calamity]
      %th Purpose
      %td 
        = @data[:purpose]  
    %tr 
      %th Prepared By
      %td 
        = @claim.prepared_by
      %th
      %td
    %tr
      %th CB Uploaded Documents
      %td
        = @claim.member.attachment_files.pluck(:file_name).map(&:inspect).join(", ")
      %th
      %td
    %tr
      %th Claims Payment Through
      %td
        = @data[:claims_payment]
      %th
      %td
    %tr
      %th Account Name
      %td
        = @data[:account_name]
      %th Account Number
      %td
        = @data[:account_number]
    %tr
      %th Checked by
      %td 
        = @claim.try(:checked_by).try(:titleize)
      %th Date Checked
      %td 
        = @claim.try(:date_checked).try(:strftime, "%b %d, %Y")  
    %tr
      %th Approved by
      %td 
        = @claim.try(:approved_by).try(:titleize)
      %th Date Approved
      %td 
        = @claim.try(:date_approved).try(:strftime, "%b %d, %Y")
    %tr
      %th Posted by
      %td 
        = @claim.try(:posted_by).try(:titleize)
      %th Date Posted
      %td 
        = @claim.try(:date_posted).try(:strftime, "%b %d, %Y")
- if @claim.note.present?
  - if @claim.pending?  
    .bs-callout.bs-callout-primary
      .alert.alert-info  
        %p
          %b
            NOTE:
          #{@claim.note}
- if @claim.declined_note.present?
  - if @claim.pending?  
    .bs-callout.bs-callout-primary  
      .alert.alert-danger  
        %p
          %i.fa.fa-warning{:style => "font-size:40px;color:red"}
          %b
            DECLINED NOTE:
          #{@claim.declined_note}
    
