%section.content-header
  %h3
    %strong
      Calamity Assistance Details
%table.table.table-sm.table-hover
  %tbody
    %tr
      %th Date of Requested
      %td 
        = @data[:date_requested].to_date.strftime("%b %d, %Y")  
      %th Date of Event
      %td 
        = @data[:date_of_event].to_date.strftime("%b %d, %Y")  
    %tr
      %th Name of Member 
      %td 
        = link_to "#{@claim.member.full_name} (#{@claim.member.identification_number})", member_path(@claim.member), target: "_blank"
      %th Branch
      %td 
        = @claim.member.branch.name
    %tr
      %th Name of Beneficiary
      %td 
        = @data[:name_of_beneficiary] 
      %th Amount
      %td 
        = @data[:amount]
    %tr
      %th Type of Calamity
      %td 
        = @data[:type_of_calamity]
      %th Purpose
      %td 
        = @data[:purpose]  
      
    %tr 
      %th Prepared By
      %td 
        = @claim.prepared_by
      %th Approved by
      %td 
        = @claim.try(:approved_by).try(:titleize)
    %tr
      %th Claims Payment Through
      %td
        = @data[:claims_payment]
      %th
      %td
    %tr
      %th Account Name
      %td
        = @data[:account_name]
      %th Account Number
      %td
        = @data[:account_number]