%section.content-header
  %h3
    %strong
      CLIP Details
%table.table.table-sm.table-hover
  %tbody
    %tr
      %th Branch
      %td
        = @claim.member.branch.name
      %th Debtors Name (Member)
      %td 
        = link_to "#{@claim.member.full_name} (#{@claim.member.identification_number})", member_path(@claim.member), target: "_blank"
    %tr
      %th Beneficiary
      %td 
        = @data[:beneficiary]
      %th Date of Birth
      %td 
        = @data[:date_of_birth].to_date.strftime("%b %d, %Y")
    %tr
      %th Age
      %td 
        = @data[:age]
      %th Creditors Name
      %td 
        = @data[:creditors_name]
    %tr
      %th Date of Death
      %td
        = @data[:date_of_death].to_date.strftime("%b %d, %Y")
      %th Cause of Death
      %td
        = @data[:cause_of_death]
    %tr
      %th Type of Loan
      %td
        = @data[:type_of_loan]
      %th Term of Loan
      %td
        = @data[:terms]
    %tr
      %th Effective Date of Coverage
      %td
        = @data[:effective_date_of_coverage].to_date.strftime("%b %d, %Y")
      %th Expiration Date of Coverage
      %td
        = @data[:expiration_date_of_coverage].to_date.strftime("%b %d, %Y")
    %tr
      %th Policy Number
      %td 
        = @data[:policy_number]  
      %th Amount of Loan
      %td
        = @data[:amount_of_loan]
    %tr
      %th Amount Payable to Beneficiary (Paid Amount)
      %td
        = @data[:amount_payable_to_beneficiary]
      %th Amount Payable to Creditor (Balance)
      %td
        = @data[:amount_payable_to_creditor]
    %tr
      %th Prepared By
      %td
        = @claim.prepared_by
      %th
      %td