%section.content-header
  %h3
    %strong
      Kuya Jun Scholarship Program Details
- if @claim.approved?
  .bs-callout.bs-callout-primary
    %h3
      .fa.fa-book
      This has already been posted by #{@claim.posted_by} on #{@claim.date_posted}
- elsif @claim.for_posting?
  .bs-callout.bs-callout-primary
    %h3
      .fa.fa-thunbs-up
      This has already been approved by #{@claim.approved_by} on #{@claim.date_approved}
- elsif @claim.for_approval?
  .bs-callout.bs-callout-primary
    %h3
      .fa.fa-check
      This has already been checked by #{@claim.checked_by} on #{@claim.date_checked}
%table.table.table-sm.table-hover
  %tbody
    %tr
      %th Scholarship Type 
      %td 
        = @data[:scholarship_type]
      %th Date Prepared
      %td 
        = @claim.date_prepared.strftime("%b %d, %Y")  
    %tr
      %th Branch
      %td 
        = @claim.member.branch.name
      %th Name of Member 
      %td 
        = link_to "#{@claim.member.full_name} (#{@claim.member.identification_number})", member_path(@claim.member), target: "_blank"
    %tr
      %th Name of Beneficiary(Student)
      %td 
        = @data[:name_of_beneficiary]
      %th Name of School
      %td 
        = @data[:name_of_school]
    %tr
      %th SY
      %td 
        = @data[:school_year]
      %th Year Level
      %td 
        = @data[:year_level]
    %tr
      %th Final Grade
      %td 
        = @data[:final_grade]
      %th Relationship to Member
      %td 
        = @data[:classification]
    %tr
      %th Amount
      %td 
        = @data[:amount]
      %th Prepared By
      %td
        = @claim.prepared_by
    %tr
    - if @data[:course].blank? or @data[:year_level] == "GRADE 7" or @data[:year_level] == "GRADE 8" or @data[:year_level] == "GRADE 9" or @data[:year_level] == "GRADE 10" or @data[:year_level] == "GRADE 11" or @data[:year_level] == "GRADE 12" or @data[:sem].blank?
    - else
      %th Course
      %td
        = @data[:course]
      %th Semester
      %td 
        = @data[:sem]
    %tr
      %th CB Uploaded Documents
      %td
        = @claim.member.attachment_files.pluck(:file_name).map(&:inspect).join(", ")
      %th
      %td
    %tr
      %th Claims Payment Through
      %td
        = @data[:claims_payment]
      %th
      %td
    %tr
      %th Account Name
      %td
        = @data[:account_name]
      %th Account Number
      %td
        = @data[:account_number]
    %tr
      %th Checked by
      %td 
        = @claim.try(:checked_by).try(:titleize)
      %th Date Checked
      %td 
        = @claim.try(:date_checked).try(:strftime, "%b %d, %Y")
    %tr
      %th Approved by
      %td 
        = @claim.try(:approved_by).try(:titleize)
      %th Date Approved
      %td 
        = @claim.try(:date_approved).try(:strftime, "%b %d, %Y")
    %tr
      %th Posted by
      %td 
        = @claim.try(:posted_by).try(:titleize)
      %th Date Posted
      %td 
        = @claim.try(:date_posted).try(:strftime, "%b %d, %Y")
- if @claim.note.present?
  - if @claim.pending?  
    .bs-callout.bs-callout-primary
      .alert.alert-info  
        %p
          %b
            NOTE:
          #{@claim.note}
- if @claim.declined_note.present?
  - if @claim.pending?  
    .bs-callout.bs-callout-primary  
      .alert.alert-danger  
        %p
          %i.fa.fa-warning{:style => "font-size:40px;color:red"}
          %b
            DECLINED NOTE:
          #{@claim.declined_note}