%table.table.table-bordered.table-sm
  %thead
    %tr
      %th
      %th
        Branch
      %th
        Center
      %th
        Member
      %th
        Enrolled Person
      / %th
      /   Collection Date
      / %th
      /   Date Approved    
      %th
        Status
  %tbody
    - @insurance_loan_bundle_enrollments.each do |o|
      %tr
        %td.text-center
          = link_to insurance_loan_bundle_enrollment_path(o) do
            .bi.bi-search
        %td
          #{o.branch}  
        %td
          #{o.center.name}
        %td
          #{o.member_name.uniq.join(",")}
        - if o.records_count > 0
          - if o.is_dependent?
            %td
              #{o.member_dependent_name.uniq.join(",")}
          - else 
            %td
              #{o.member_name.uniq.join(",")}
        - else
          %td
            #{"No record found"}
        / %td
        /   #{o.collection_date.strftime("%B %d, %Y")}
        / %td
        /   #{o.date_approved.try(:strftime, "%B %d, %Y")}
        
        %td
          - if o.pending?
            .badge.bg-danger
              Pending
          - elsif o.approved?
            .badge.bg-success
              Approved
          - elsif o.error?
            .badge.bg-danger
              ERROR
          - elsif o.processing?
            .badge.badge-info
              Processing

= paginate @insurance_loan_bundle_enrollments
