%table.table.table-bordered.table-sm
  %thead
    %tr
      %th
      %th
        Branch
      %th
        Center
      %th
        Member
      %th
        Maturity Date
      %th
        Status
  %tbody
    - @insurance_loan_bundle_enrollments.each do |o|
      %tr
        %td.text-center
          = link_to insurance_loan_bundle_enrollment_path(o) do
            .bi.bi-search
        %td
          #{o.branch}  
        %td
          #{o.center.name}
        %td
          -if o.member_name.nil?
            no member
          -else  
            #{o.member_name.uniq.join(",")}
        %td 
          - records = o.records_last
          - number = o.data['records'].count
          - if number.nil?

          - elsif records.nil?
          
          - else
            - if o.for_renewal? || o.on_grace_period?
              #{records["kok_data"]["effectivity_date"]}
            - elsif o.lapsed?
              - if number > 1
                #{records["kok_data"]["effectivity_date"]}
              - else 
                #{records["kok_data"]["maturity_date"]}
            - else 
              #{records["kok_data"]["maturity_date"]}
        %td
          - if o.pending?
            .badge.bg-primary
              Pending
          - if o.checked?
            .badge.bg-info
              For Approval
          - elsif o.approved?
            .badge.bg-success
              Approved
          - elsif o.declined?
            .badge.bg-danger
              Declined
          - elsif o.error?
            .badge.bg-danger
              ERROR
          - elsif o.processing?
            .badge.badge-info
              Processing
          - elsif o.lapsed?
            .badge.bg-danger
              Lapsed
          - elsif o.for_renewal?
            .badge.bg-secondary
              For-Renewal
          - elsif o.on_grace_period?
            .badge.bg-warning
              On-Grace-Period
          - elsif o.over_age?
            .badge.bg-dark
              Over-Age

= paginate @insurance_loan_bundle_enrollments
