
%table.table.table-bordered.table-sm
  - records.each_with_index do |o, i|
    %thead
      %tr
        %th
          FullName
        %th
          Plan Type
        %th
          Member Details
        %th
          Beneficiary Details
        %th
          Coverage Dates
        %th
          Enrolled Status
        %th.text-right
          PremiumCoverage
        - if @insurance_loan_bundle_enrollment.pending?
          %th.text-center
            Action
    %tbody
      %tr
        %td
          = link_to member_path(o[:member][:id]), target: '_blank' do
            #{o[:member][:last_name]}, #{o[:member][:first_name]} #{o[:member][:middle_name]}
        %td
          #{o[:kok_data][:plan_type]}
        %td
          Birth Date :
          #{o[:kok_data][:birth_date]}
          %br
          Age :
          #{o[:kok_data][:age].to_i}
          %br
          Mobile Number : 
          #{o[:kok_data][:mobile_no]} 
          %br
          Addrress : 
          #{o[:kok_data][:address]}
        %td
          FullName:
          #{o[:kok_data][:benif_fname]} #{o[:kok_data][:benif_mname]} #{o[:kok_data][:benif_lname]}
          %br
          Birth Date:
          #{o[:kok_data][:benif_birth_date]}
          %br
          Gender:
          #{o[:kok_data][:benif_gender]}
          %br 
          Relationship
          #{o[:kok_data][:benif_relationship]}
        %td
          %strong Effectivity Date : 
          #{o[:kok_data][:effectivity_date]}
          %br
          %strong Maturity Date : 
          #{o[:kok_data][:maturity_date]}         
        %td
          #{o[:kok_data][:enrolled_status]}          
        %td.text-right
          #{number_to_currency(o[:kok_data][:premium_coverage], unit: '')}
        - if @insurance_loan_bundle_enrollment.pending?
          - if @insurance_loan_bundle_enrollment.records_last
            %td
              %button.btn.btn-danger.btn-sm.btn-delete{ data: { member_id: "#{i}" } }
                .fa.fa-times
                  REMOVE


