- if !is_bk?
  .row
    .col-md-3
      .form-group
        .h3
          %label K-DAKILA INFORMATION
  - if @insurance_loan_bundle_enrollment.records_count == 0
    .row
      .col-md-3
        .form-group
          %label Member
          = select_tag :member, options_from_collection_for_select(@members, :id, :full_name), id: 'select-member', class: 'form-control'
      
      .col-md-3  
        .form-group
          %label Client Type        
          = select_tag :client_type, options_for_select(["PRINCIPAL/MEMBER"], @client_type), id: 'input-client-type', class: 'form-control'
      
      .col-md-3
        .form-group
          %label Plan Type        
          = select_tag :plan_type, options_for_select(["DAKILA PLAN 40K"], @plan_type), id: 'input-plan-type', class: 'form-control'
      .col-md-3
        .form-group
          %label Plan Category       
          = select_tag :plan_category, options_for_select(["INDIVIDUAL"], @plan_category), id: 'input-plan-category', class: 'form-control'
      
    .row   
      .col-md-3
        .form-group
          %label Policy No (optional)        
          = text_field_tag :policy_no, @policy_no, id: 'input-policy-no', class: 'form-control'  
      .col-md-3
        .form-group
          %label Partner        
          = select_tag :partner, options_for_select(["KMBA"], @partner), id: 'input-partner', class: 'form-control'
      .col-md-3
        .form-group
          %label Effectivity Date      
          = date_field_tag :effectivity_date, @effectivity_date, id: 'input-effectivity-date', class: 'form-control'        
  .row
    .col-md-3
      .form-group
        .h3
          %label BENEFICIARY INFORMATION
  .row
    .col-md-3
      .form-group
        %label Beneficiary First Name       
        = text_field_tag :benif_fname, @benif_fname, id: 'input-benif-fname', class: 'form-control'
    .col-md-3
      .form-group
        %label Beneficiary Middle Name       
        = text_field_tag :benif_mname, @benif_mname, id: 'input-benif-mname', class: 'form-control'
    .col-md-3
      .form-group
        %label Beneficiary Last Name       
        = text_field_tag :benif_lname, @benif_lname, id: 'input-benif-lname', class: 'form-control'
    .col-md-3  
      .form-group
        %label Beneficiary Birth Date
        = date_field_tag :benif_birth_date, @benif_birth_date, id: 'input-benif-birth-date', class: 'form-control'

  .row
    .col-md-3
      .form-group
        %label Beneficiary Gender       
        = select_tag :benif_gender, options_for_select([['Select Gender', '', {disabled: true, selected: true}]] + ["MALE" , "FEMALE"], @benif_gender), id: 'input-benif-gender', class: 'form-control'
    
    .col-md-3
      .form-group
        %label Beneficiary Relationship
        = select_tag :benif_relationship, options_for_select([['Select Relationship', '', {disabled: true, selected: true}]] + ["Aunt","Brother","Brother in law","Cousin","Daughter","Father","Father in law","Friend","Granddaughter","Grandfather","Grandmother","Grandson","Husband","Member","Mother","Mother in law","Neighbor","Nephew","Niece","Sister","Sister in law","Son","Step Brother","Step Daughter","Step Father","Step Mother","Step Sister","Step Son","Uncle","Wife"], @benif_relationship), id: 'input-benif-relationship', class: 'form-control'
  - if @insurance_loan_bundle_enrollment.records_count == 0
    .row
      .col-md-2
        .form-group
          %label
            Actions
          %button#btn-add.btn.btn-info.btn-block
            .fa.fa-plus
            Add
  - else
    .row
      .col-md-2
        .form-group
          %label
            Actions
          %button#btn-add.btn.btn-info.btn-block
            .fa.fa-plus
            RENEW

  - if @insurance_loan_bundle_enrollment.approved?
    .row
      .col-md-2
        .form-group
          %label
            Actions
          %button#btn-add.btn.btn-info.btn-block
            .fa.fa-plus
            RENEW