%table.table.table-bordered.table-sm
  %thead
    %tr
      %th
        Name
      %th
        PlanType
      %th
        PlanCategory
      %th
        Effectivity Date
      %th
        MaturityDate
      %th
        ClientType
      %th
        FirstName
      %th
        MiddleName
      %th
        LastName
      %th
        Address
      %th
        EnrolledStatus
      %th
        BirthDate
      %th
        Age
      %th
        MobileNo
      %th.text-right
        PremiumCoverage
      - if @insurance_loan_bundle_enrollment.pending?
        %th.text-center
          Actions
  %tbody
    - records.each_with_index do |o, i|
      %tr
        - member_id = o[:member][:id]
        - loan_pending = Loan.find_by(member_id: member_id, loan_product_id: "29a8e8a4-56f5-4aeb-ad49-0b0cd1bcda0a", status: "pending")
        - if loan_pending
          - loan_id = loan_pending.id
          %td
            = link_to loan_path(loan_id), target: '_blank' do
              #{o[:member][:last_name]}, #{o[:member][:first_name]} #{o[:member][:middle_name]}
        %td
          #{o[:kok_data][:plan_type]}
        %td
          #{o[:kok_data][:plan_category]}
        %td
          #{o[:kok_data][:effectivity_date]}
        %td
          #{o[:kok_data][:maturity_date]}
        %td
          #{o[:kok_data][:client_type]}
        %td
          #{o[:kok_data][:first_name]}
        %td
          #{o[:kok_data][:middle_name]}
        %td
          #{o[:kok_data][:last_name]}
        %td
          #{o[:kok_data][:address]}
        %td
          #{o[:kok_data][:enrolled_status]}
        %td
          #{o[:kok_data][:birth_date]}
        %td
          #{o[:kok_data][:age].to_i}
        %td
          #{o[:kok_data][:mobile_no]} 
        %td.text-right
          #{number_to_currency(o[:kok_data][:premium_coverage], unit: '')}
        - if @insurance_loan_bundle_enrollment.pending?
          %td.text-center
            - if @insurance_loan_bundle_enrollment.records_last
              %button.btn.btn-danger.btn-sm.btn-delete{ data: { member_id: "#{i}" } }
                .fa.fa-times
    %tr
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      - if @insurance_loan_bundle_enrollment.pending?
        %th
      - if @insurance_loan_bundle_enrollment.approved?
        %th


