= title

.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        - if @records.any?
          = render partial: "index_list"
          = paginate @records
        - else
          %p
            No records

= render partial: "data_stores/insurance_personal_funds/modals/new"
= render partial: "data_stores/insurance_personal_funds/modals/generate_all"
= render partial: "templates/error_list"
