.row
  .col
    .card
      .card-body
        %h5
          Report
        %table.table.table-sm.table-hover
          %thead
            %tr
              %th
                SATO
              %th
                Date Of Report
              %th
                Report Type
              %th
                Action
            %tr
              %td
                .form-group
                  = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "select-branch", prompt: "-- SELECT --"
              %td
                .form-group
                  = date_field_tag :report_date, "now", class: "form-control", id: "report-date"
              %td
                .form-group
                  = select_tag :midas_type, options_for_select(["MIDAS - PODs" , "MIDAS - BARis" , "Member Registry"]), class: "form-control select-select2", id: "midas-type"
              %td
                .form-group
                  %br
                    %button#btn-gen-midas.btn.btn-success.btn-info{ data: { id: ""  } }
                      GENERATE EXCEL FILE
          %tr
        %tr
.row
  .col
    .card
      .card-body
        %h5
          Midas Closing
        %table.table.table-sm.table-hover
          %thead
            %tr
              %th
                Date Start
              %th
                Date End
              %th
                Sato
              %th
                Record Type
              %th
                Action
              %th
            %tr
              %td
                .form-group
                  = text_field_tag :start_date, params[:start_date], class: 'form-control', type: :date ,id: "start-date"
              %td      
                .form-group
                  = text_field_tag :end_date, params[:end_date], class: 'form-control', type: :date ,id: "end-date"
              %td
                .form-group
                  = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
              %td
                .form-group
                  = select_tag :c_midas_type, options_for_select(["MIDAS - PODs Closing", "MIDAS - BARis Closing"]), class: "form-control select-select2", id: "midas-type-closing"
              %td
                .form-group
                  %br
                    %button#c-btn-gen-midas.btn.btn-success.btn-info{ data: { id: ""  } }
                      GENERATE EXCEL FILE
.row
  .col
    .card
      .card-body
        %h5
          Report Loan
        %table.table.table-sm.table-hover
          %thead
            %tr
              %th
                SATO
              %th
                As of 
              %th
                Loan Product
              %th
                Action
            %tr
              %td
                .form-group
                  = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "select-branch-loan", prompt: "-- SELECT --"
              %td
                .form-group
                  = date_field_tag :report_date, "now", class: "form-control", id: "as-of-date"
              %td
                .form-group
                  = select_tag :loan_product_id, options_from_collection_for_select(LoanProduct.order("name ASC"), :id, :name, @loan_product_id), class: "form-control select-select2", id: "loan-product-select", prompt: "-- SELECT --"
              %td
                .form-group
                  %br
                    %button#btn-gen-loan.btn.btn-success.btn-info{ data: { id: ""  } }
                      GENERATE EXCEL FILE
          %tr
        %tr
