%div{ id: "accounting-entry", class: "card border-danger" }
  %div{ class: "card-header border-danger" }
    .row
      .col-md-6
        %strong
          #{accounting_entry[:book]} 
          #{accounting_entry[:reference_number]}
      .col-md-6
        .text-end
          .text-muted
            .fa.fa-store
            #{accounting_entry[:book]} - #{@branch}
  .card-body
    %table.table.table-sm
      %tr
        %th{ width: "50%" }
          Accounting Code
        %th.text-end{ width: "25%" }
          Debit
        %th.text-end{ width: "25%" }
          Credit
      - accounting_entry[:debit_journal_entries].each do |o|
        %tr
          %td
            #{o[:code]} - #{o[:name]}
          %td.text-end
            #{number_to_currency(o[:amount], unit: "")}
          %td
      - accounting_entry[:credit_journal_entries].each do |o|
        %tr
          %td
            #{o[:code]} - #{o[:name]}
          %td
          %td.text-end
            #{number_to_currency(o[:amount], unit: "")}
