%h4
  Accounting Entry
%hr
= render partial: "accounting/year_end_closings/accounting_entry"

%h4
  Net Entry
= render partial: "accounting/year_end_closings/net_entry"

%hr

.row
  .col
    %h4
      Entries Before Closing
    %table.table.table-bordered.table-sm.table-hover
      %thead
        %tr
          %th{ width: "50%" }
            Accounting Code
          %th.text-right{ widith: "25%" }
            Debit
          %th.text-right{ widith: "25%" }
            Credit
      %tbody
        - @data[:original_entries][:debit].each do |o|
          %tr
            %td
              %strong
                #{o[:accounting_code][:name]}
            %td.text-right
              #{number_to_currency(o[:debit], unit: "")}
            %td.text-right
              #{number_to_currency(o[:credit], unit: "")}
        - @data[:original_entries][:credit].each do |o|
          %tr
            %td
              %strong
                #{o[:accounting_code][:name]}
            %td.text-right
              #{number_to_currency(o[:debit], unit: "")}
            %td.text-right
              #{number_to_currency(o[:credit], unit: "")}
  .col
    %h4
      Entries After Closing
    %table.table.table-bordered.table-sm.table-hover
      %thead
        %tr
          %th{ width: "50%" }
            Accounting Code
          %th.text-right{ widith: "25%" }
            Debit
          %th.text-right{ widith: "25%" }
            Credit
      %tbody
        - @data[:closing_entries][:credit].each do |o|
          %tr
            %td
              %strong
                #{o[:accounting_code][:name]}
            %td.text-right
              #{number_to_currency(o[:debit], unit: "")}
            %td.text-right
              #{number_to_currency(o[:credit], unit: "")}
        - @data[:closing_entries][:debit].each do |o|
          %tr
            %td
              %strong
                #{o[:accounting_code][:name]}
            %td.text-right
              #{number_to_currency(o[:debit], unit: "")}
            %td.text-right
              #{number_to_currency(o[:credit], unit: "")}
