%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th.text-center
        Closing Date
      %th
        Branch
      %th.text-center
        Status
      %th.text-center
        Started
      %th.text-center
        Last Updated
  %thead
    - @records.each do |o|
      - closed_on = o.meta["closing_date"].to_date.strftime("%b %d, %Y")
      %tr
        %td.text-center
          - if !o.processing?
            = link_to accounting_year_end_closing_path(o) do
              .bi.bi-search
        %td.text-center
          %strong
            = closed_on
        %td= o.meta["branch_name"]
        %td.text-center
          - if o.processing?
            .badge.badge-info
              Processing
            .progress.progress-xs
            
            %center
              %small
                
          - elsif o.done?
            .badge.bg-success
              Done
          - elsif o.error?
            .badge.bg-danger
              Error
          - elsif o.closed?
            .badge.bg-warning
              Closed
        %td.text-center
          %small
            #{o.created_at.localtime}
        %td.text-center
          %small
            #{o.updated_at.localtime}
