%table.table.table-sm.table-bordered
  %tr
    %th 
      OR 
      = text_field_tag :OR, "#{@data_store.data['accounting_entry']['data']['or_number']}", class: "form-control", id: "inputOR"
    %th
      Action
      %button#btn-add-or.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}"  } }
        Save
  %tr
    %th 
      Service Invoice
      = text_field_tag :SI, "#{@data_store.data['accounting_entry']['data']['si_number']}", class: "form-control", id: "SI"
    %th
      Action
      %button#btn-add-si.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}"  } }
        Save
  %tr
    %th 
      Particular
      = text_field_tag :particular, "#{@data_store.data['accounting_entry']['particular']}", class: "form-control", id: "particular"
    %th
      Action
      %button#btn-add-particular.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}"  } }
        Save

  %tr
    %th
      Book
      = select_tag :book_type, options_for_select(["CRB" , "JVB"]), class: "form-control select-select2", id: "book_type" , prompt: "#{@data_store.data['accounting_entry']['book']}"
    %th
      Action
      %button#btn-add-book.btn.btn-block.btn-info{ data: { id: "#{@data_store.id}"  } }
        Save 