%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th.text-center
        As Of
      %th
        Branch
      %th.text-center
        Status
      %th.text-center
        Started
      %th.text-center
        Last Updated
  %thead
    - @records.each do |o|
      %tr
        %td.text-center
          = link_to "/data_stores/manual_aging/#{o.id}" do
            .bi.bi-search
        %td.text-center
          %strong
            = o.as_of.to_date.strftime("%b %d, %Y")
        %td
          = o.meta["branch_name"]
        %td.text-center
          - if o.processing?
            .badge.bg-info
              Processing
          - elsif o.done?
            .badge.bg-success
              Done
        %td.text-center
          %small  
            #{o.created_at.localtime}
        %td.text-center
          %small
            #{o.updated_at.localtime}
