%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th
      %th
        Branch
      %th.text-center
        Center
      %th.text-center
        Status
  %thead
    - @data_stores.each_with_index do |o, i|
      %tr
        %td
          #{ i + 1 }
        %td
          = link_to "/data_stores/members_project_types/#{o.id}" do
            .bi.bi-search
          
        %td
          #{o['meta']['branch_name'] }
        %td
          #{o['meta']['center_name'] }
        %td
          #{o['status'] }

