%table.table.table-bordered.table-lg.table-hover
  %thead
    %tr
      %th Member
      %th Center
      %th Loan Product
      %th Principal Balance
      %th Interest Balance
      %th Total Balance
      %th Maturity Date
      %th RSA
      %th MBS
      %th GK
      %th RF
      %th CBU
      %th Share Capital
      
  %tbody
    - @data_record.each do |record|
      %tr
        %td= record['members']['full_name']
        %td= record['center']['center_name']
        %td= record['loan_product_name']
        %td= number_to_currency(record['principal_balance'], unit: "₱")
        %td= number_to_currency(record['interest_balance'], unit: "₱")
        %td= number_to_currency(record['total_balance'], unit: "₱")
        %td= record['maturity_date']
        %td= number_to_currency(record['rsa'], unit: "₱")
        %td= number_to_currency(record['mbs'], unit: "₱")
        %td= number_to_currency(record['gk'], unit: "₱")
        %td= number_to_currency(record['rf'], unit: "₱")
        %td= number_to_currency(record['cbu'], unit: "₱")
        %td= number_to_currency(record['sc'], unit: "₱")
