%table.table.table-bordered.table-lg.table-hover
  %thead
    %tr
      %th{style: "width: 10%;"} Member
      %th{style: "width: 10%;"} Center
      %th{style: "width: 12%;"} Loan Product
      %th{style: "width: 8%;"} Principal Balance
      %th{style: "width: 10%;"} Interest Balance
      %th{style: "width: 10%;"} Total Balance
      %th{style: "width: 10%;"} Maturity Date
      %th{style: "width: 5%;"} RSA
      %th{style: "width: 5%;"} MBS
      %th{style: "width: 5%;"} GK
      %th{style: "width: 5%;"} RF
      %th{style: "width: 5%;"} Equity Value
      %th{style: "width: 5%;"} CBU
      %th{style: "width: 5%;"} Share Capital
  %tbody
    - @data_record.each do |record|
      %tr
        %td= record['members']['full_name']
        %td= record['center']['center_name']
        %td= record['loan_product_name']
        %td= record['principal_balance']
        %td= record['interest_balance']
        %td= record['total_balance']
        %td= record['maturity_date']
        %td= record['rsa']
        %td= record['mbs']
        %td= record['gk']
        %td= record['rf']
        %td= record['equity_value']
        %td= record['cbu']
        %td= record['sc']
