.card
  .card-body
    %center
      %h4
        #{@center.name}
        %br
        %small.text-muted
          #{@center.short_name}
    %table.table.table-sm
      %tr
        %th
          Branch
        %td.text-muted.text-right
          = link_to administration_branch_path(@center.branch) do
            #{@center.branch.name}
      
      %tr
        %th
          Meeting Day
        %td.text-muted.text-right
          #{@center.meeting_day_display}

      %tr
        %th
          Socioeconomic Officer
        %td.text-muted.text-right
          #{@center.user}
