= title
.row
  .col
    %h4
      Withdrawals
    .card
      .card-body
        = render partial: "index_filter"
        - if @withdrawal_collections.any?
          = render partial: "index_list", locals: { withdrawal_collections: @withdrawal_collections }
          = paginate @withdrawal_collections
        - else
          %p
            No withdrawal_collections found

= render partial: "withdrawal_collections/modals/new_transaction"
= render partial: "templates/error_list"
= render partial: "templates/loader"
