= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          - if @withdrawal_collections.size > 0
            = render partial: "index_list", locals: { withdrawal_collections: @withdrawal_collections }
            = paginate @withdrawal_collections
          - else
            %p
              No withdrawal_collections found

= render partial: "withdrawal_collections/modals/new_transaction"
= render partial: "templates/error_list"
= render partial: "templates/loader"

= javascript_include_tag "withdrawal_collections/Index"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');

    Index.init({
      authenticityToken: authenticityToken
    });
  });
