= title @withdrawal_collection.id
= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          - if @withdrawal_collection.pending?
            .callout.callout-info
              %p
                Pindutin ang amount upang baguhin ito.
          %h5
            Withdrawal Collection for #{@withdrawal_collection.branch} / #{@withdrawal_collection.center} - #{@withdrawal_collection.collection_date.strftime("%b %d, %Y")}
          #withdrawal-collection-content

          - if debug?
            %pre
              %code
                #{JSON.pretty_generate(JSON.parse(@withdrawal_collection.to_json))}

= render partial: "shared/modals/print"
= render partial: "withdrawal_collections/modals/approve"
= render partial: "templates/error_list"

#parameters{ data: { id: @withdrawal_collection.id } }

= javascript_include_tag "WithdrawalCollectionUI.min.react"
= javascript_include_tag "withdrawal_collections/Show"

:javascript
  $(document).ready(function() {
    var $parameters                   = $("#parameters");
    var withdrawalCollectionId = $parameters.data('id');
    var authenticityToken             = $("meta[name='csrf-token']").attr('content');

    Show.init({
      withdrawalCollectionId: withdrawalCollectionId, 
      authenticityToken: authenticityToken
    });
  });
