= title @withdrawal_collection.id
.row
  .col
    .card
      .card-body
        - if @withdrawal_collection.pending?
          .c-callout.c-callout-info
            %p
              Pindutin ang amount upang baguhin ito.
        %h5
          Withdrawal Collection for #{@withdrawal_collection.branch} / #{@withdrawal_collection.center} - #{@withdrawal_collection.collection_date.strftime("%b %d, %Y")} #{@withdrawal_collection.approved? ? "/ Approved on #{@withdrawal_collection.date_approved.strftime("%b %d, %Y")}" : ""}
        #react-root

        - if debug?
          %pre
            %code
              #{JSON.pretty_generate(JSON.parse(@withdrawal_collection.to_json))}

= render partial: "shared/modals/print"
= render partial: "withdrawal_collections/modals/approve"
= render partial: "templates/error_list"
