= render partial: "index_header"

.container-fluid:
  .row
    .col
      .card
        .card-body
          = form_with url: request.path, method: "get", local: true do |f|
            = f.label :branch_id, "Branch:"
            = f.select :branch_id, options_from_collection_for_select(Branch.all, :id, :name, @command.branch.id)
            = f.label :as_of, "As of:"
            = f.date_field :as_of, as: :date, value: @command.as_of
            = f.submit "Go"

          %h3= "#{@command.branch.name}: As of #{@command.as_of.to_s(:long)}"

          - if @result.empty?
            %p No records found

          - else
            %table.table.table-bordered.table-sm
              %tr
                %td Member
                %td Officer
                %td Center
                - @command.accounts.each do |_, subtype|
                  %td= subtype
              - @result.chunk { |r| r.fetch("member_id") }.each do |member_id, member_txs|
                - last_tx = member_txs.first
                %tr
                  %td= "#{last_tx.fetch("last_name")}, #{last_tx.fetch("first_name")}"
                  %td= "#{last_tx.fetch("officer_first_name")}, #{last_tx.fetch("officer_last_name")}"
                  %td= last_tx.fetch("center_name")
                  - @command.accounts.each do |_, subtype|
                    %td
                      - if (tx = member_txs.find { |tx| tx.fetch("account_subtype") == subtype })
                        = tx.fetch("ending_balance")
                      - else
                        \-
