= title
.row
  .col
    %h4
      WriteOff Collection
    .card
      .card-body
        = render partial:"index_filter"
        - if @records.any?
          = render partial: "index_list"
          = paginate @records
        - else
          %p
            No records



= render partial: "mbs_transfer/modals/new"
