%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th
        Start Date
      %th
        End Date
      %th
        Branch
      %th.text-center
        Status
      %th.text-center
        Started
      %th.text-center
        Last Updated
  %thead
    - @records.each do |o|
      %tr
        %td.text-center
          %strong
            = link_to "/data_stores/branch_resignations/#{o.id}" do
              .fa.fa-search
        %td
          #{o.meta["start_date"].to_date.strftime("%b %d, %Y") if o.meta.present? and o.meta["start_date"].present?}
        %td
          #{o.meta["end_date"].to_date.strftime("%b %d, %Y") if o.meta.present? and o.meta["end_date"].present?}
        %td
          #{o.branch_name}
        %td.text-center
          - if o.processing?
            .badge.badge-info
              Processing
          - elsif o.done?
            .badge.badge-success
              Done
          - else
            .badge.badge-danger
              Error
        %td.text-center
          %small
            #{o.created_at.localtime}
        %td.text-center
          %small
            #{o.updated_at.localtime}
