%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-database
    Data Stores
  %li.breadcrumb-item
    = link_to "/data_stores/branch_resignations" do
      .fa.fa-database
      Branch Resignations
  %li.breadcrumb-item
    .fa.fa-file
    #{@record.meta.with_indifferent_access[:branch][:name]}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "#", class: 'btn', id: 'btn-update' do
        .fa.fa-sync
        Update
      = link_to "/data_stores/branch_resignations/#{@record.id}", method: :delete, class: 'btn', data: { confirm: "Are you sure?" } do
        .fa.fa-times
        Delete
