%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th{ width: "5%" }
      %th
        OR Number
      %th
        Collection Date
      %th
        Date Approved
      %th
        Branch
      %th.text-end
        Amount Collected
      %th
        %center
          Status
        
        %th
          %center
            Finalize Stat
  %tbody
    - @deposit_collections.each do |o|
      %tr
        %td.text-center
          = link_to deposit_collection_path(o) do
            .bi.bi-search
        %td
          #{o.or_number}
        %td
          %strong
            #{o.collection_date.strftime("%b %d, %Y")}
        %td
          - if o.date_approved.present?
            %strong
              #{o.date_approved.strftime("%b %d, %Y")}
        %td
          #{o.branch}
        %td.text-end
          %strong
            #{number_to_currency(o.total_collected, unit: "")}
        %td
          %center
            - if o.pending?
              .badge.bg-danger
                Pending
            - elsif o.approved?
              .badge.bg-success
                Approved
            - elsif o.processing?
              .badge.bg-warning
                Processing
        - if microinsurance?
          %td
            %center
              - if o.pending? && o.finalized?
                .badge.badge-primary
                  For Approval
              - elsif o.pending? && !o.finalized?
                .badge.bg-warning
                  For Finalize
              - elsif o.approved?
                .badge.bg-success
                  Approved