%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-money-bill
    Cash Management
  %li.breadcrumb-item
    = link_to deposit_collections_path do
      .fa.fa-download
      Deposits
  %li.breadcrumb-item
    Deposit: #{@deposit_collection.id}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "#", class: 'btn', id: 'btn-print' do
        .fa.fa-print
        Print
      = link_to "#", class: 'btn', id: 'btn-load-branch' do
        .fa.fa-sync
        Load Branch
      - if @deposit_collection.pending? && (current_user.roles.include?("MIS") || current_user.roles.include?("BK") || current_user.roles.include?("SBK"))
        = link_to deposit_collection_path(@deposit_collection), class: 'btn', method: :delete, data: { confirm: "Are you sure?" } do
          .fa.fa-times
          Delete
        = link_to "#", class: 'btn', id: 'btn-approve' do
          .fa.fa-check
          Approve
