= title
.row
  .col
    %h4
      Deposits
    .card
      .card-body
        = render partial: "index_filter"
        - if @deposit_collections.any?
          = render partial: "index_list", locals: { deposit_collections: @deposit_collections }
          = paginate @deposit_collections
        - else
          %p
            No record found

= render partial: "deposit_collections/modals/new_transaction"
= render partial: "templates/error_list"
= render partial: "templates/loader"

#parameters{ data: { controller: "#{params[:controller]}", action: "#{params[:action]}" } }
