%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th.text-center
        Year
      %th
        Branch
      %th.text-center
        Status
      %th.text-center
        Started
      %th.text-center
        Last Updated
  %thead
    - @records.each do |o|
      %tr
        %td.text-center
          = link_to "/billing_for_writeoff/#{o.id}" do
            .fa.fa-search
        %td.text-center
          %strong
          #{o.meta.with_indifferent_access[:as_of]}
        %td.text-center
          #{o.meta.with_indifferent_access[:branch_name]} 
        %td.text-center
          - if o[:status] == "processing"
            .badge.badge-info
              Processing
          - elsif o[:status] == "done"
            .badge.badge-success
              Done
          - elsif o[:status] == "pending"
            .badge.badge-danger
              pending
          - elsif o[:status] == "approved"
            .badge.badge-success
              approved
          - elsif o[:status] == "error"
            .badge.badge-danger
              Error
        %td.text-center
          %small
            #{o.created_at.localtime}
        %td.text-center
          %small
            #{o.updated_at.localtime}
