= form_tag calamity_reports_path, html: { novalidate: true }, method: "GET" do
  .row
    .col-sm-3
      .form-group
        %label Cluster
        = select_tag :cluster_id, options_from_collection_for_select(@clusters, :id, :name, @cluster.try(:id)), prompt: "-- SELECT --",class: "form-control select-select2", id: "cluster-select"
    .col-sm-3
      .form-group
        %label Branch
        = select_tag :branch_id, options_for_select([]), class: "form-control select-select2", id: "select-branch", prompt: "-- SELECT --"
    .col-sm-3
      .form-group
        %label Start Date
        = text_field_tag :start_date, @start_date, class: "form-control", type: "date", id: "start-date"
    .col-sm-3
      .form-group
        %label End Date
        = text_field_tag :end_date, @end_date, class: "form-control",type: "date", id: "end-date"
    .col-sm-3
      .form-group
        %label Actions
        = link_to "#", id: 'download-btn', class: 'btn btn-success btn-block' do
          .fa.fa-download
          Excel 
          
= javascript_include_tag "reports/CalamityClaimReport"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');

    CalamityClaimReport.init({
      authenticityToken: authenticityToken
    });
  });
