= form_tag hiip_report_path, html: { novalidate: true }, method: "GET" do
  .row 
    .col-sm-3
      .form-group
        %h4 
          %strong
            HIIP Collections
  .row
    .col-sm-3
      .form-group
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), prompt: "-- SELECT --",class: "form-control select-select2 js-searchable", id: "branch-select"
    .col-sm-3
      .form-group
        %label Start Date
        = text_field_tag :start_date, @start_date, class: "form-control", type: "date", id: "start-date"
    .col-sm-3
      .form-group
        %label End Date
        = text_field_tag :end_date, @end_date, class: "form-control",type: "date", id: "end-date"
    .col-sm-3
      .form-group
        %label Actions
        = link_to "#", id: 'download-btn', class: 'btn btn-success btn-block' do
          .fa.fa-download
          Excel 
          