= form_tag insured_loans_path, html: { novalidate: true }, method: "GET" do
  .row
    .col-sm-3
      .form-group
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), prompt: "-- SELECT --",class: "form-control select-select2", id: "branch-select"
    .col-sm-2
      .form-group
        %label Status
        = select_tag :loan_status, options_for_select(Loan::STATUSES, @loan_status), prompt: "-- SELECT --", class: "form-control filter-select", id: "filter-loan-status"
    .col-sm-2
      .form-group
        %label Start Date
        = text_field_tag :start_date, @start_date, class: "form-control", type: "date", id: "filter-start-date"
    .col-sm-2
      .form-group
        %label End Date
        = text_field_tag :end_date, @end_date, class: "form-control",type: "date", id: "filter-end-date"
    .col-sm-3
      .form-group
        %label Actions
        = link_to "#", id: 'btn-print', class: 'btn btn-success btn-block' do
          .fa.fa-download
          Excel 
          
