= form_tag member_reports_path, html: { novalidate: true }, method: "GET" do
  .row
    .col-sm-2
      .form-group
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
    .col-sm-2
      .form-group
        %label Status
        = select_tag :status, options_for_select(Member::STATUSES, @status), class: "form-control select-select2", id: 'member-status-select', prompt: "-- SELECT --"
    .col-sm-2
      .form-group
        %label Insurance Status
        = select_tag :insurance_status, options_for_select(Member::INSURANCE_STATUS, @insurance_status), class: "form-control select-select2", id: 'insurance-status-select', prompt: "-- SELECT --"
    .col-sm-1
      .form-group
        %label Member Type
        = select_tag :member_type, options_for_select(Member::MEMBER_TYPES, @member_type), class: "form-control select-select2", id: 'member-type-select', prompt: "-- SELECT --"
    .col-sm-2
      .form-group
        %label Start Date
        = text_field_tag :start_date, @start_date, class: "form-control", type: "date", id: "start-date"
    .col-sm-2
      .form-group
        %label End Date
        = text_field_tag :end_date, @end_date, class: "form-control",type: "date", id: "end-date"
    .col-sm-1
      .form-group
        %label
        = link_to "#", class: 'btn btn-primary btn-block', id: 'generate-btn' do
          .fa.fa-search
          Generate
  .row
    .col-sm-12  
      .message
  .row
    .col-md-12
      .sixteen.wide.column
        #reports-members-section         
