.row
  .col
    .card
      .card-body
        = render partial: "address_update"
        .table-responsive
          %table.table.table-sm.table-hover
            %thead
              %tr
                %th
                %th Id Number
                %th Name
                %th Center
                %th Membership Date
                %th Status
                %th City
                %th BRGY
            %tbody
              - if @address_to_update.present?
              - i = 0
                - @address_to_update[:records].each_with_index do |atu|
                  - if atu[:city].to_s.gsub!('"','').present? and atu[:brgy].to_s.gsub!('"','').present?
                    %tr
                      %td #{i += 1}
                      %td
                        = link_to member_path(atu[:member_id]), target: "_blank" do
                          %strong
                            #{atu[:id_number]}
                      %td 
                        = link_to member_path(atu[:member_id]), target: "_blank" do
                          %strong
                            #{atu[:last_name]}, #{atu[:first_name]}, #{atu[:middle_name]}
                      %td #{atu[:center_name]} 
                      %td #{atu[:date_of_membership]} 
                      %td #{atu[:status]}
                      %td #{atu[:city]}
                      %td #{atu[:brgy]}
