= form_tag "", method: 'GET' do
  .row
    .col-md-3
      .form-group
        %label
          Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "filter-branch-select", prompt: "-- SELECT --"
    .col-md-3
      .form-group
        %label
          Month
        = select_month Date.today, { field_name: 'month' }, class: "form-control", id: "filter-select-month"
    .col-md-3
      .form-group
        %label
          Year
        = select_tag :year, options_for_select([Date.today.year, Date.today.year - 1], Date.today.year), class: "form-control", id: "filter-select-year"
    .col-md-3
      .form-group
        %label
          Actions
        .form-group
          .btn-group
            = button_tag type: 'submit', class: 'btn btn-primary btn-block' do
              .fa.fa-search
