%table.table.table-sm.table-bordered
  %tr
    %th{ colspan: 2 }
      Assets
  %tr
    %th
      Accounting Code
    %th.text-right{ width: "25%" }
      Amount
  - @data[:assets].each do |o|
    %tr
      %td
        #{o[:accounting_code][:code]} 
        %span.text-muted
          #{o[:accounting_code][:name]}
      %td.text-right
        #{number_to_currency(o[:amount], unit: "")}
  %tr
    %th
      Total Assets
    %th.text-right
      #{number_to_currency(@data[:total_assets], unit: '')}
  %tr
    %th{ colspan: 2 }
      Liabilities
  %tr
    %th
      Accounting Code
    %th.text-right{ width: "25%" }
      Amount
  - @data[:liabilities].each do |o|
    %tr
      %td
        #{o[:accounting_code][:code]} 
        %span.text-muted
          #{o[:accounting_code][:name]}
      %td.text-right
        #{number_to_currency(o[:amount], unit: "")}
  %tr
    %th
      Total Liabilities
    %th.text-right
      #{number_to_currency(@data[:total_liabilities], unit: '')}
  %tr
    %th{ colspan: 2 }
      Equities
  %tr
    %th
      Accounting Code
    %th.text-right{ width: "25%" }
      Amount
  - @data[:equities].each do |o|
    %tr
      %td
        #{o[:accounting_code][:code]} 
        %span.text-muted
          #{o[:accounting_code][:name]}
      %td.text-right
        #{number_to_currency(o[:amount], unit: "")}
  %tr
    %th
      Total Equities
    %th.text-right
      #{number_to_currency(@data[:total_equities], unit: '')}
  %tr
    %th
      Net Income
    %td.text-right
      #{number_to_currency(@net_income, unit: "")}
  - if @statutory_funds_beginning.present?
    %tr
      %th{ colspan: 2 }
        Equity
    %tr
      %th
        Accounting Code
      %th.text-right{ width: "25%" }
        Amount
    - total_equities_on_share_capital = 0.00
    - @data[:equities].each do |o|
      - if o[:accounting_code][:code] != @statutory_funds_beginning[:accounting_code][:code]
        %tr
          %td
            #{o[:accounting_code][:code]} 
            %span.text-muted
              #{o[:accounting_code][:name]}
          %td.text-right
            #{number_to_currency(o[:amount], unit: "")}
        - total_equities_on_share_capital += o[:amount].to_f.round(2)
    %tr
      %td.text-right
        %b
          Total Share Capital
      %td.text-right
        %b
          #{number_to_currency(total_equities_on_share_capital, unit: "")}
    / Statutory Funds beginning
    %tr
      %td
        %b
          Statutory Funds, Beg
      %td.text-right
        #{number_to_currency(@statutory_funds_beginning[:amount], unit: '')}
    / Statutory Funds from income
    %tr
      %td
        %b
          Statutory Funds, Current
      %td.text-right
        #{number_to_currency(@net_income, unit: '')}
    / Statutory Funds end
    - if @statutory_funds_beginning.present?
      %tr
        %td
          %b
            Statutory Funds, End
        %td.text-right
          #{number_to_currency(@statutory_funds_beginning[:amount].to_f + @net_income, unit: '')}
    %tr
      %th.text-right
        Total Equity
      %th.text-right
        #{number_to_currency(@data[:total_equities].to_f + @net_income, unit: '')}
  %tr
    %td
      %b
        TOTAL LIABILITIES AND EQUITY
    %td.text-right
      %b
        #{number_to_currency(@data[:total_equities].to_f + @net_income + @data[:total_liabilities], unit: '')}
  - if @data[:fund_balance].any?
    %tr
      %th{ colspan: 2 }
        Fund Balance
    - @data[:fund_balance].each do |o|
      %tr
        %td
          #{o[:accounting_code][:code]} 
          %span.text-muted
            #{o[:accounting_code][:name]}
        %td.text-right
          #{number_to_currency(o[:amount], unit: "")}
    %tr
      %th
        Total Fund Balance
      %th.text-right
        #{number_to_currency(@data[:total_fund_balance], unit: '')}
