= title
.row
  .col
    .card
      .card-body
        - if @balance_sheets.any?
          = render partial: "index_list"
          = paginate @balance_sheets
        - else
          %p
            No balance sheets found.

= render partial: "accounting/balance_sheets/modals/new"
= render partial: "templates/error_list"
