%ol.breadcrumb
  %li.breadcrumb-item
    = link_to insurance_accounts_path do
      .fa.fa-piggy-bank
      Savings
  %li.breadcrumb-item
    = link_to member_path(@insurance_account.member) do
      .fa.fa-user
      #{@insurance_account.member.full_name}
  %li.breadcrumb-item
    #{@insurance_account.account_subtype}
  %li.breadcrumb-item   
    = link_to insurance_account_claims_copy_pdf_path(@insurance_account), target: 'blank' do
      .fa.fa-download
      Claims Copy PDF
  %li.breadcrumb-item
    = link_to insurance_account_pdf_path, target: 'blank' do
      .fa.fa-download
      Print Subsidiary to PDF
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      .btn
        %strong
          Balance:
        #{number_to_currency(@insurance_account.balance, unit: "")}


