= title @insurance_account.id
.row
  .col
    .card
      .card-body
        - if @insurance_account.account_subtype == Settings.clip
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Loan Product
                %th
                  %center
                    Loan Amount
                %th
                  %center
                    Term
                %th
                  %center
                    Num Installments
                %th
                  %center
                    Date Released
                %th
                  %center
                    Maturity Date
                %th
                  %center
                    Premium
                %th
                  %center
                    Status
            %tbody
              - @account_transactions.each do |o|
                - @maturity_date = o.data.with_indifferent_access[:data][:maturity_date] != nil ? o.data.with_indifferent_access[:data][:maturity_date] : o.data.with_indifferent_access[:data][:original_maturity_date]
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.data.with_indifferent_access[:data][:loan_product_name]}
                  %td
                    %center
                      %small
                        #{number_to_currency(o.data.with_indifferent_access[:data][:principal], unit: "")}
                  %td
                    %center
                      %small
                        #{o.data.with_indifferent_access[:data][:term]}
                  %td
                    %center
                      %small
                        #{o.data.with_indifferent_access[:data][:num_installments]}
                  %td
                    %center
                      %small
                        #{o.data.with_indifferent_access[:data][:date_released].to_date.strftime("%B %d, %Y")}
                  %td
                    %center
                      %small
                        - if @maturity_date.nil?
                          No maturity date
                        - else
                          #{@maturity_date.to_date.strftime("%B %d, %Y")}
                  %td
                    %center
                      %small
                        #{number_to_currency(o.amount, unit: "")}
                  %td
                    %center
                      - if @maturity_date.nil?
                        .badge.badge-info
                          Undefined
                      - else  
                        - if @maturity_date.to_date > Date.today
                          .badge.badge-info
                            Active
                        - else 
                          .badge.badge-danger
                            Matured

        - elsif @insurance_account.account_subtype == Settings.hiip
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                %th
                  %center
                    Date Posted
                %th.text-right
                  Amount
                %th
                  %center
                    Status
            %tbody
              - @account_transactions.each do |o|  
                %td
                  %center
                    %small
                      #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                %td
                  %center
                    %small
                      #{number_to_currency(o.amount, unit: "")}
                %td
                  %center
                    - if (Date.today - o.transacted_at.to_date).to_i < 365
                      .badge.badge-info
                        Active
                    - else 
                      .badge.badge-danger
                        Matured
        - elsif @insurance_account.account_subtype == Settings.life
          #react-root
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th
                  %center
                    Type
                %th.text-right
                  Beginning Balance
                %th.text-right
                  Amount
                %th.text-right
                  Ending Balance
                %th.text-right
                  Equity Value
                - if microinsurance?
                  %th.text-right
                    Equity Value Interest 
            %tbody
              - @account_transactions.each do |o|
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                  %td
                    %center
                      - if o.deposit?
                        - if o.interest?
                          .badge.badge-info
                            .fa.fa-plus
                            Interest
                        - else
                          .badge.badge-success
                            .fa.fa-download
                            Deposit
                      - elsif o.withdraw?
                        - if o.withdraw_ev?
                          .badge.badge-danger
                            .fa.fa-upload
                            Withdraw EV
                        - else
                          .badge.badge-danger
                            .fa.fa-upload
                            Withdraw
                  %td.text-right.text-muted
                    #{number_to_currency(o.data["beginning_balance"], unit: "")}
                  %td.text-right
                    #{number_to_currency(o.amount, unit: "")}
                  %td.text-right.text-muted
                    #{number_to_currency(o.data["ending_balance"], unit: "")}
                  %td.text-right.text-muted
                    #{number_to_currency(o.data["equity_value"], unit: "")}
                  - if microinsurance?
                    %td.text-right.text-muted
                      #{number_to_currency(o.equity_value_interests.first.try(:interest_amount), unit: "")}
        - elsif @insurance_account.account_subtype == Settings.pl
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th
                  %center
                    Type
                %th.text-right
                  Amount
            %tbody
              - @account_transactions.each do |o|
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                  %td
                    %center
                      - if o.deposit?
                        - if o.interest?
                          .badge.badge-info
                            .fa.fa-plus
                            Interest
                        - else
                          .badge.badge-success
                            .fa.fa-download
                            Deposit
                      - elsif o.withdraw?
                        .badge.badge-danger
                          .fa.fa-upload
                          Withdraw
                  %td.text-right
                    #{number_to_currency(o.amount, unit: "")}
        - else
          #react-root
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th
                  %center
                    Type
                %th.text-right
                  Beginning Balance
                %th.text-right
                  Amount
                %th.text-right
                  Ending Balance
            %tbody
              - @account_transactions.each do |o|
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                  %td
                    %center
                      - if o.deposit?
                        - if o.interest?
                          .badge.badge-info
                            .fa.fa-plus
                            Interest
                        - else
                          .badge.badge-success
                            .fa.fa-download
                            Deposit
                      - elsif o.withdraw?
                        .badge.badge-danger
                          .fa.fa-upload
                          Withdraw
                  %td.text-right.text-muted
                    #{number_to_currency(o.data["beginning_balance"], unit: "")}
                  %td.text-right
                    #{number_to_currency(o.amount, unit: "")}
                  %td.text-right.text-muted
                    #{number_to_currency(o.data["ending_balance"], unit: "")}
