= title @insurance_account.id
.row
  .col
    .card
      .card-body
        - if @insurance_account.account_subtype == Settings.clip
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Loan Product
                %th
                  %center
                    Loan Amount
                %th
                  %center
                    Term
                %th
                  %center
                    Num Installments
                %th
                  %center
                    Date Released
                %th
                  %center
                    Maturity Date
                %th
                  %center
                    Premium
                %th
                  %center
                    Status
            %tbody
              - @account_transactions.each do |o|
                - @maturity_date = o.data.with_indifferent_access[:data][:maturity_date] != nil ? o.data.with_indifferent_access[:data][:maturity_date] : o.data.with_indifferent_access[:data][:original_maturity_date]
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.data.with_indifferent_access[:data][:loan_product_name]}
                  %td
                    %center
                      %small
                        #{number_to_currency(o.data.with_indifferent_access[:data][:principal], unit: "")}
                  %td
                    %center
                      %small
                        #{o.data.with_indifferent_access[:data][:term]}
                  %td
                    %center
                      %small
                        #{o.data.with_indifferent_access[:data][:num_installments]}
                  %td
                    %center
                      %small
                        #{o.data.with_indifferent_access[:data][:date_released].to_date.strftime("%B %d, %Y")}
                  %td
                    %center
                      %small
                        - if @maturity_date.nil?
                          No maturity date
                        - else
                          #{@maturity_date.to_date.strftime("%B %d, %Y")}
                  %td
                    %center
                      %small
                        #{number_to_currency(o.amount, unit: "")}
                  %td
                    %center
                      - if @maturity_date.nil?
                        .badge.badge-info
                          Undefined
                      - else  
                        - if @maturity_date.to_date > Date.today
                          .badge.badge-info
                            Active
                        - else 
                          .badge.bg-danger
                            Matured

        - elsif @insurance_account.account_subtype == Settings.hiip
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date Posted
                %th.text-end
                  Amount
                %th
                  %center
                    Status
            %tbody
              - @account_transactions.each do |o|  
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                  %td
                    %center
                      %small
                        #{number_to_currency(o.amount, unit: "")}
                  %td
                    %center
                      - if (Date.today - o.transacted_at.to_date).to_i < 365
                        .badge.badge-info
                          Active
                      - else 
                        .badge.bg-danger
                          Matured
        - elsif @insurance_account.account_subtype == Settings.life
          #react-root
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th
                  %center
                    Type
                  -if Settings.activate_microinsurance 
                    %th
                      Payment From
                    %th
                      Payment To
                %th.text-end
                  Beginning Balance
                %th.text-end
                  Amount
                %th.text-end
                  Ending Balance
                %th.text-end
                  Equity Value
                - if microinsurance?
                  %th.text-end
                    Equity Value Interest 
            %tbody
            - last_data = nil
            - @account_transactions.each_with_index do |o, i|
              %tr
                - if current_user.roles.include?("MIS")
                  %td
                    %small
                      #{o.id}
                %td
                  %center
                    %small
                      #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                %td
                  %center
                    - if o.deposit?
                      - if o.interest?
                        .badge.badge-info
                          .bi.bi-plus
                          Inc in LIFE
                      - else
                        .badge.bg-success
                          .fa.fa-download
                          Deposit
                    - elsif o.withdraw?
                      - if o.withdraw_ev?
                        .badge.bg-danger
                          .fa.fa-upload
                          Withdraw EV
                      - else
                        .badge.bg-danger
                          .fa.fa-upload
                          Withdraw
                - if Settings.activate_microinsurance
                  - is_interest = o.data["is_interest"]
                  - withdraw  =  o.data["is_withdraw_payment"] 
                  - member_account = MemberAccount.find(o.subsidiary_id).member_id
                  - member = Member.find(member_account).recognition_date
                  - start_number_of_days = ((o.amount / 15) * 7)
                  - start_coverage_date = (member + start_number_of_days.days)
                  - transaction_type = o["transaction_type"]
                  - if i == 0  
                    %td
                      %small
                        = member.strftime("%B %d, %Y")  
                    %td
                      %small
                        - last_data = start_coverage_date  
                        = last_data.strftime("%B %d, %Y")
                  - elsif i > 0
                    - if is_interest == true || withdraw == true 
                      %td
                      %td
                    - else
                      %td
                        %small
                          = last_data.strftime("%B %d, %Y")  
                      %td 
                        %small
                          - end_number_of_days = ((o.amount / 15) * 7)
                          - last_data = last_data + end_number_of_days.days
                          = last_data.strftime("%B %d, %Y") 
                  %td.text-end.text-muted
                    #{number_to_currency(o.data["beginning_balance"], unit: "")}
                  %td.text-end
                    #{number_to_currency(o.amount, unit: "")}
                  %td.text-end.text-muted
                    #{number_to_currency(o.data["ending_balance"], unit: "")}
                  %td.text-end.text-muted
                    #{number_to_currency(o.data["equity_value"], unit: "")}
                  - if microinsurance?
                    %td.text-end.text-muted
                      #{number_to_currency(o.interests.first.try(:interest_amount), unit: "")}
        - elsif @insurance_account.account_subtype == Settings.pl
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th
                  %center
                    Type
                %th.text-end
                  Amount
            %tbody
              - @account_transactions.each do |o|
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                  %td
                    %center
                      - if o.deposit?
                        - if o.interest?
                          .badge.badge-info
                            .bi.bi-plus
                            Inc in PL
                        - else
                          .badge.bg-success
                            .fa.fa-download
                            Deposit
                      - elsif o.withdraw?
                        .badge.bg-danger
                          .fa.fa-upload
                          Withdraw
                  %td.text-end
                    #{number_to_currency(o.amount, unit: "")}
        - elsif @insurance_account.account_subtype == Settings.kalinga
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th.text-end
                  Amount
            %tbody
              - @account_transactions.each do |o|
                %tr  
                - if current_user.roles.include?("MIS")
                  %td
                    %small
                      #{o.id}
                %td
                  %center
                    %small
                      #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                %td
                  %center
                    %small
                      #{number_to_currency(o.amount, unit: "")}
        - elsif @insurance_account.account_subtype == Settings.bente
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th.text-end
                  Amount
            %tbody
              - @account_transactions.each do |o|
                %tr  
                - if current_user.roles.include?("MIS")
                  %td
                    %small
                      #{o.id}
                %td
                  %center
                    %small
                      #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                %td
                  %center
                    %small
                      #{number_to_currency(o.amount, unit: "")}
        - elsif @insurance_account.account_subtype == Settings.ev
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th
                  %center
                    Type
                %th.text-end
                  Beginning Balance
                %th.text-end
                  Amount
                %th.text-end
                  Ending Balance
            %tbody
              - @account_transactions.each do |o|  
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                  %td
                    %center
                      - if o.deposit?
                        - if o.interest?
                          .badge.badge-info
                            .bi.bi-plus
                            Inc in EV
                        - else
                          .badge.bg-success
                            .fa.fa-download
                            Deposit
                      - elsif o.withdraw?
                        - if o.withdraw_ev?
                          .badge.bg-danger
                            .fa.fa-upload
                            Withdraw EV
                        - else
                          .badge.bg-danger
                            .fa.fa-upload
                            Withdraw
                  %td.text-end.text-muted
                    #{number_to_currency(o.data["beginning_balance"], unit: "")}
                  %td.text-end
                    #{number_to_currency(o.amount, unit: "")}
                  %td.text-end.text-muted
                    #{number_to_currency(o.data["ending_balance"], unit: "")}
        - elsif @insurance_account.account_subtype == Settings.rf
          #react-root
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th
                  %center
                    Type
                %th.text-end
                  Beginning Balance
                %th.text-end
                  Amount
                %th.text-end
                  Ending Balance
            %tbody
              - @account_transactions.each do |o|
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                  %td
                    %center
                      - if o.deposit?
                        - if o.interest?
                          .badge.badge-info
                            .bi.bi-plus
                            Inc in RF
                        - else
                          .badge.bg-success
                            .fa.fa-download
                            Deposit
                      - elsif o.withdraw?
                        .badge.bg-danger
                          .fa.fa-upload
                          Withdraw
                  %td.text-end.text-muted
                    #{number_to_currency(o.data["beginning_balance"], unit: "")}
                  %td.text-end
                    #{number_to_currency(o.amount, unit: "")}
                  %td.text-end.text-muted
                    #{number_to_currency(o.data["ending_balance"], unit: "")}
        - else
          #react-root
          %table.table.table-hover.table-sm.table-bordered
            %thead
              %tr
                - if current_user.roles.include?("MIS")
                  %th
                %th
                  %center
                    Date
                %th
                  %center
                    Type
                - if Settings.activate_microinsurance 
                  %th
                    Payment From
                  %th
                    Payment To
                %th.text-end
                  Beginning Balance
                %th.text-end
                  Amount
                %th.text-end
                  Ending Balance
            %tbody
              - last_data = nil
              - @account_transactions.each_with_index do |o, i|
                %tr
                  - if current_user.roles.include?("MIS")
                    %td
                      %small
                        #{o.id}
                  %td
                    %center
                      %small
                        #{o.transacted_at.strftime("%B %d, %Y %H:%M")}
                  %td
                    %center
                      - if o.deposit?
                        - if o.interest?
                          .badge.bg-secondary
                            .bi.bi-plus
                              Inc
                        - else
                          .badge.bg-success
                            .fa.fa-download
                            Deposit
                      - elsif o.withdraw?
                        .badge.bg-danger
                          .fa.fa-upload
                          Withdraw
                  - is_interest = o.data["is_interest"]
                  - withdraw  =  o.data["is_withdraw_payment"] 
                  - member_account = MemberAccount.find(o.subsidiary_id).member_id
                  - member = Member.find(member_account).recognition_date
                  - start_number_of_days = ((o.amount / 5) * 7)
                  - start_coverage_date = (member + start_number_of_days.days)
                  - transaction_type = o["transaction_type"]
                  - if i == 0  
                    %td
                      %small
                        = member.strftime("%B %d, %Y")  
                    %td
                      %small
                        - last_data = start_coverage_date  
                        = last_data.strftime("%B %d, %Y")
                  - elsif i > 0
                    - if is_interest == true || withdraw == true 
                      %td
                      %td
                    - else
                      %td
                        %small
                          = last_data.strftime("%B %d, %Y")  
                      %td 
                        %small
                          - end_number_of_days = ((o.amount / 5) * 7)
                          - last_data = last_data + end_number_of_days.days
                          = last_data.strftime("%B %d, %Y") 
                  %td.text-end.text-muted
                    #{number_to_currency(o.data["beginning_balance"], unit: "")}
                  %td.text-end
                    #{number_to_currency(o.amount, unit: "")}
                  %td.text-end.text-muted
                    #{number_to_currency(o.data["ending_balance"], unit: "")}
