!!!
%html
  %head
    %title
      = "[#{App.pipeline.upcase}] " if !App.production?
      = content_for?(:title) ? "#{yield(:title)} - #{App.name}" : "#{App.name}"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "main"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = csp_meta_tag
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    %meta{ name: "parameters", content: "#{{ route: "#{params[:controller]}/#{params[:action]}", payload: (@payload || {}) }.to_json}" }

    - if microinsurance?
      = favicon_link_tag "kmba.ico"
    - else
      = favicon_link_tag "logo_thumb.png"

  %body.c-app
    = render partial: "shared/c_sidebar"
    .c-wrapper
      = render partial: "shared/header"
      .c-body
        %main.c-main
          .container-fluid
            = yield
    = render partial: "templates/error_list"
    = render partial: "templates/loader"
