!!!
%html
  %head
    %title
      = "[#{App.pipeline.upcase}] " if !App.production?
      = content_for?(:title) ? "#{yield(:title)} - #{App.name}" : "#{App.name}"
    = csrf_meta_tags
    = csp_meta_tag
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    %meta{ name: "parameters", content: "#{{ controller_action: "#{params[:controller]}/#{params[:action]}", payload: @payload }.to_json}" }
    = action_cable_meta_tag

    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
    = favicon_link_tag "logo_thumb.png"

  %body.c-app
    = render partial: "shared/c_sidebar"
    .c-wrapper
      = render partial: "shared/header"
      .c-body
        = yield
    = render partial: "templates/error_list"
    = render partial: "templates/loader"
