!!!
%html
  %head
    %title
      = "[#{App.pipeline.upcase}] " if !App.production?
      = content_for?(:title) ? "#{yield(:title)} - #{App.name}" : "#{App.name}"
    = csrf_meta_tags
    = csp_meta_tag
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    = action_cable_meta_tag

    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
    = favicon_link_tag "logo_thumb.png"

  %body.app.header-fixed
    = render partial: "shared/header"
    .app-body
      = render partial: "shared/sidebar"
      %main.main
        = yield
    = render partial: "templates/error_list"
    = render partial: "templates/loader"
