!!!
%html
  %head
    %title
      = "[#{App.pipeline.upcase}] " if !App.production?
      = content_for?(:title) ? "#{yield(:title)} - #{App.name}" : "#{App.name}"
    = csrf_meta_tags
    = csp_meta_tag
    %meta{ name: "parameters", content: "#{{ route: "#{params[:controller]}/#{params[:action]}", payload: (@payload || {}) }.to_json}" }

    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
    = favicon_link_tag "logo_thumb.png"

  %body
    = yield
    = render partial: "templates/error_list"
