= link_to new_member_attachment_file_path(@member), class: "btn btn-primary btn-sm" do
  .fa.fa-plus
  New Attachment File
%hr
- if @member.attachment_files.size == 0
  %div
    #btn.btn-warning.btn-block
      = link_to member_blip_form_pdf_path(@member), target: "_blank", class: "btn btn-default btn-block" do
        .fa.fa-download
        BLIPFORM
  %p
- else
  - @member.attachment_files.each do |attachment_file|
    %table.table.table-bordered.table-sm.table-hover
      %thead
        %tr
          %th
            #{attachment_file.file_name}  
      %tbody
        %tr
          %td
            - if attachment_file.file.attached?        
              - if attachment_file.file.image?
                = image_tag rails_blob_path(attachment_file.file, disposition: "attachment", only_path: true), width: "1100", height: "1000"
            - else
              %p
                No image found
    = link_to rails_blob_path(attachment_file.file, disposition: "attachment"), class: 'btn btn-success btn-sm' do
      .fa.fa-download
      Download File
    = link_to edit_member_attachment_file_path(@member, attachment_file), class: 'btn btn-warning btn-sm' do
      .fa.fa-pencil-alt
      Edit
    = link_to member_attachment_file_path(@member, attachment_file), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Are you sure?" } do
      .fa.fa-times
      Delete
    %hr
