= form_tag "", method: 'GET' do
  .row
    .col-md-4
      .form-group
        %label
          Query
        = text_field_tag :q, @q, class: 'form-control', placeholder: 'Name / ID Number'
    .col-md-1
      .form-group
        %label
          Restored
        %br
        = check_box_tag :restored, false, @restored
    .col-md-2
      .form-group
        %label
          Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-select select-select2", id: "branch-select", prompt: "-- SELECT --"
    .col-md-2
      .form-group
        %label
          Center
        = select_tag :center_id, options_for_select([]), class: "form-select select-select2", id: "center-select", prompt: "-- SELECT --"
    .col-md-2
      .form-group
        %label
          Status
        - if Settings.activate_microinsurance
          = select_tag :insurance_status, options_for_select(["inforce", "lapsed", "resigned" ,"dormant", "pending"], @insurance_status), class: "form-control select-select2", id: "status-select", prompt: "-- SELECT --"
        - else 
          = select_tag :status, options_for_select(["active", "pending", "resigned" ,"delinquent"], @status), class: "form-select select-select2", id: "status-select", prompt: "-- SELECT --"
    .col-md-1
      .form-group
        %label
          Actions
        .form-group
          .btn-group
            = button_tag type: 'submit', class: 'btn btn-primary btn-block' do
              .bi.bi-search
