.table-responsive
  %table.table.table-sm.table-hover.table-bordered
    - if Settings.activate_microinsurance
      %thead
        %tr
          %th
          %th{ width: "10%" }
            ID Number
          %th
            Name
          %th
            Branch
          %th
            Center
          %th
            Recognition Date
          %th.text-center
            Type
          %th.text-center
            Insurance Status
      %tbody
        - members.each do |o|
          %tr
            %td.text-center
              %img{ src: "#{o.profile_picture_url}", width: 25 }
            %td
              = link_to member_path(o) do
                %strong
                  #{o.identification_number}
            %td
              = link_to member_path(o) do
                %strong
                  #{o.full_name}
            %td.text-muted
              %small
                #{o.branch.name}
            %td.text-muted
              %small
                #{o.center.name}
            %td.text-muted
              - if o.recognition_date.present?
                %small
                  #{o.recognition_date.strftime("%b %d, %Y")}
            %td.text-center
              %small
                #{o.member_type}
            %td
              %center
                - if o.inforce_insurance_status?
                  .badge.bg-success
                    #{o.insurance_status}
                - elsif o.lapsed_insurance_status?
                  .badge.bg-warning
                    #{o.insurance_status}
                - elsif o.dormant_insurance_status?
                  .badge.bg-dark
                    #{o.insurance_status}
                - elsif o.resigned_insurance_status?
                  .badge.bg-danger
                    #{o.insurance_status}
                - elsif o.pending_insurance_status?
                  .badge.bg-secondary
                    #{o.insurance_status}

    - else 
      %thead
        %tr
          %th
          %th{ width: "10%" }
            ID Number
          %th
            Name
          %th
            Branch
          %th
            Center
          %th
            Recognition Date
          %th.text-center
            Type
          %th.text-center
            Status
      %tbody
        - members.each do |o|
          %tr
            %td.text-center
              %img{ src: "#{o.profile_picture_url}", width: 25 }
            %td
              = link_to member_path(o) do
                %strong
                  #{o.identification_number}
            %td
              = link_to member_path(o) do
                %strong
                  #{o.full_name}
            %td.text-muted
              %small
                #{o.branch.name}
            %td.text-muted
              %small
                #{o.center.name}
            %td.text-muted
              - if o.recognition_date.present?
                %small
                  #{o.recognition_date.strftime("%b %d, %Y")}
            %td.text-center
              %small
                #{o.member_type}
            %td
              %center
                - if o.active?
                  .badge.bg-success
                    #{o.status}
                - else
                  .badge.bg-danger
                    #{o.status}
