%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th
        Type
      %th.text-end
        Current Balance
  %tbody
    - @insurance_accounts.each do |o|
      %tr
        %td
          = link_to insurance_account_path(o.id) do
            %strong
              #{o.account_subtype}
        - if o.clip
          %td.text-end
            %strong
              #{number_to_currency(o.clip_active_balance, unit: "")}
        - elsif o.hiip
          %td.text-end
            %strong
              #{number_to_currency(o.hiip_active_balance, unit: "")}
        - else
          %td.text-end
            %strong
              #{number_to_currency(o.balance, unit: "")}
