%h6
  Active Loans

- if @active_loans.size > 0
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-center
          Cycle 
        %th.text-right
          Total Due
        %th.text-right
          Total Paid
        %th.text-right
          Total Balance
    %tbody
      - @active_loans.each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            #{loan.loan_product}
          %td.text-center
            #{loan.cycle}
          %td.text-right
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-right
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-right
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}
- else
  %p
    No active loans found.

%hr
%h6
  Pending Loans

- if @pending_loans.size > 0
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-right
          Total Due
        %th.text-right
          Total Paid
        %th.text-right
          Total Balance
    %tbody
      - @pending_loans.each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            #{loan.loan_product}
          %td.text-right
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-right
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-right
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}
- else
  %p
    No pending loans found.

%hr
%h6
  Paid Loans
- if @paid_loans.size > 0
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-right
          Total Due
        %th.text-right
          Total Paid
        %th.text-right
          Total Balance
    %tbody
      - @paid_loans.each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            #{loan.loan_product}
          %td.text-right
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-right
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-right
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}
- else
  %p
    No paid loans found.

%hr
%h6
  Loan Cycles
- if @loan_cycles.present?
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          Loan Product
        %th.text-center
          Cycle Count
    %tbody
      - @loan_cycles.each do |o|
        %tr
          %td
            #{LoanProduct.find(o[:loan_product_id]).name}
          %td.text-center
            #{o[:cycle]}

- else
  %p
    No member loan cycle data found.
