%h6
  Active Loans
  %small.text-muted
    Entry Point Loan Cycle Count: #{@member.entry_point_loan_cycle_count}

- if @active_loans.any?
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-center
          Cycle 
        %th.text-end
          Total Due
        %th.text-end
          Total Paid
        %th.text-end
          Total Balance
    %tbody
      - @active_loans.each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            #{loan.loan_product}
          %td.text-center
            #{loan.cycle}
            
          %td.text-end
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}

  %button#btn-restructure.btn.btn-info.text-white{ data: { "bs-toggle": "modal", "bs-target": "#modal-restructure" } }
    .fa.fa-sync
    Restructure
- else
  %p
    No active loans found.

%hr

%h6
  For Verification
  %small.text-muted
    Online
- if @for_verification_loans.any?
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-center
          Cycle 
        %th.text-end
          Total Due
        %th.text-end
          Total Paid
        %th.text-end
          Total Balance
    %tbody
      - @for_verification_loans.each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            - if loan.is_remote?
              .bi.bi-globe
            #{loan.loan_product}
          %td.text-center
            #{loan.cycle}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}
- else
  %p
    No loans for verification found.

%hr

%h6
  Verified
  %small.text-muted
    Online
- if @verified_loans.any?
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-center
          Cycle 
        %th.text-end
          Total Due
        %th.text-end
          Total Paid
        %th.text-end
          Total Balance
    %tbody
      - @verified_loans.each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            - if loan.is_remote?
              .bi.bi-globe
            #{loan.loan_product}
          %td.text-center
            #{loan.cycle}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}
- else
  %p
    No verified loans found.

%hr

%h6
  In Process
  %small.text-muted
    Online
- if @in_process_loans.any?
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-center
          Cycle 
        %th.text-end
          Total Due
        %th.text-end
          Total Paid
        %th.text-end
          Total Balance
    %tbody
      - @in_process_loans.each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            - if loan.is_remote?
              .bi.bi-globe
            #{loan.loan_product}
          %td.text-center
            #{loan.cycle}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}
- else
  %p
    No loans in process found.

%hr
%h6
  Pending Loans

- if @pending_loans.any?
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-center
          Cycle 
        %th.text-end
          Total Due
        %th.text-end
          Total Paid
        %th.text-end
          Total Balance
    %tbody
      - @pending_loans.each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            - if loan.is_remote?
              .bi.bi-globe
            #{loan.loan_product}
          %td.text-center
            #{loan.cycle}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}
- else
  %p
    No pending loans found.

%hr
%h6
  Accrued Interest
%table.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th PN Number
      %th Loan Product
      %th Total Due
      %th Total Paid
      %th Balance
      %th Status
      %th Action
  %tbody        
    - if @active_loans.any?
      - @active_loans.each do |loan|
        - if loan.data["accrued_interest"].present?
          %tr
            %td
              #{loan.pn_number}
            %td
              #{loan.loan_product}
            %td
              #{loan.data["accrued_interest"]["total_accrued_interest"]}
            %td
              #{loan.data["accrued_interest"]["total_accrued_interest_balance"]}
            %td
              #{loan.data.with_indifferent_access[:accrued_interest][:total_accrued_interest].to_f - loan.data.with_indifferent_access[:accrued_interest][:total_accrued_interest_balance].to_f}
            %td
              -if loan.data["accrued_interest"]["status"] == "remove"
                
                #{loan.data["accrued_interest"]["status"]}
              -else
                - if loan.data["accrued_interest"]["status"].present?
                  #{loan.data["accrued_interest"]["status"]}
                - else
                  Active
                

            - if current_user.roles.include?("SBK")
              %td
                -if loan.data["accrued_interest"]["status"] != "remove"
                  %button.btn.btn-sm.btn-danger.btn-erase{ data: { id: loan.id } }
                    .fa.fa-times
                    Delete

  
    - @paid_loans.each do |loan|
      - if loan.data["accrued_interest"].present?
        %tr
          %td
            #{loan.pn_number}
          %td
            #{loan.loan_product}
          %td
            #{loan.data["accrued_interest"]["total_accrued_interest"]}
          %td
            #{loan.data["accrued_interest"]["total_accrued_interest_balance"]}
          %td
            #{loan.data.with_indifferent_access[:accrued_interest][:total_accrued_interest].to_f - loan.data.with_indifferent_access[:accrued_interest][:total_accrued_interest_balance].to_f}
          %td
            -if loan.data["accrued_interest"]["status"] == "remove"
              #{loan.data["accrued_interest"]["status"]}
                
            -else
            
              - if loan.data["accrued_interest"]["status"].present?
                #{loan.data["accrued_interest"]["status"]}
              - else
                Active
            

          - if current_user.roles.include?("SBK")
            %td
              -if loan.data["accrued_interest"]["status"] != "remove"
                %button.btn.btn-sm.btn-danger.btn-erase{ data: { id: loan.id } }
                  .fa.fa-times
                  Delete


%hr
%h6
  Paid Loans
- if @paid_loans.any?
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-center
          Cycle 
        %th.text-end
          Total Due
        %th.text-end
          Total Paid
        %th.text-end
          Total Balance
    %tbody
      - @paid_loans.each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            #{loan.loan_product}
          %td.text-center
            #{loan.cycle}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}
- else
  %p
    No paid loans found.



%hr
%h6
  Write-off  Loans
- if @writeoff_loans .any?
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          PN Number
        %th
          Loan Product
        %th.text-center
          Cycle 
        %th.text-end
          Total Due
        %th.text-end
          Total Paid
        %th.text-end
          Total Balance
    %tbody
      - @writeoff_loans .each do |loan|
        %tr
          %td
            = link_to loan_path(loan) do
              %strong
                #{loan.pn_number}
          %td.text-muted
            #{loan.loan_product}
          %td.text-center
            #{loan.cycle}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_dues, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_paid, unit: "")}
          %td.text-end
            %strong
              #{number_to_currency(loan.total_balance, unit: "")}
- else
  %p
    No Write-off loans found.




%hr
%h6
  Loan Cycles
- if @loan_cycles.present?
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th
          Loan Product
        %th.text-center
          Cycle Count
    %tbody
      - @loan_cycles.each do |o|
        %tr
          %td
            #{LoanProduct.find(o[:loan_product_id]).name}
          %td.text-center
            #{o[:cycle]}

- else
  %p
    No member loan cycle data found.
