.card
  .card-body#semi_member_details
    %center
      = image_tag "image.jpg"
      %h2
        #{@member.full_name}
      %span.text-muted
        #{@member.identification_number}
    %ul.list-group.list-group-unbordered
      %li.list-group-item
        Branch
        .value.text-muted
          %b
            #{@member.branch.name.upcase}
            
      %li.list-group-item
        Center
        .value.text-muted
          %b
            #{@member.center.name.upcase}

      %li.list-group-item
        Status
        .value.text-muted
          %b
            #{@member.status.upcase}

      %li.list-group-item
        Insurance Status
        .value.text-muted
          %b
            #{@member.insurance_status.upcase} 
    = link_to member_form_path(id: @member.id), class: 'btn btn-secondary btn-block', style: "margin-top: 10px;" do
      %i.fa.fa-edit
      Edit Record

    %hr
    %h6
      Access Token
    %div
      - if @member.access_token.present?
        %code
          #{@member.access_token}
      - else
        %small
          No access token
    %br
    #btn-generate-access-token.btn.btn-info.btn-block
      .fa.fa-sync
      Generate Access Token
    %hr
    %h6
      Signature
    %div
      #btn-generate-signature.btn.btn-success.btn-block
        .fa.fa-pencil-alt
        Generate Signature

      - if @member.signature_data.present?
        .card
          .card-body
            %center
              %img{ src: @member.signature_data, width: "100", id: "signature-display" }
