.card
  .card-body#semi_member_details
    %center
      = image_tag "image.jpg"
      %h2
        #{@member.full_name}
      %span.text-muted
        #{@member.identification_number}
    %ul.list-group.list-group-unbordered
      %li.list-group-item
        Branch
        .value.text-muted
          %b
            #{@member.branch.name.upcase}
            
      %li.list-group-item
        Center
        .value.text-muted
          %b
            #{@member.center.name.upcase}

      %li.list-group-item
        Status
        .value.text-muted
          %b
            #{@member.status.upcase}

      - if @member.resigned?
        %li.list-group-item
          Date Resigned
          .value.text-muted
            %b
              #{@member.date_resigned.strftime("%b %d, %Y")}

      %li.list-group-item
        Insurance Status
        .value.text-muted
          %b
            #{@member.insurance_status.upcase} 
    - if @member.modifiable
      = link_to member_form_path(id: @member.id), class: 'btn btn-secondary btn-block', style: "margin-top: 10px;" do
        %i.fa.fa-edit
        Edit Record
    - else
      #btn-unlock.btn.btn-warning.btn-block{ style: "margin-top: 10px" }
        .fa.fa-unlock
        Unlock to Modify
    - if @member.resigned?
      = link_to "#", id: "btn-restore", class: "btn btn-danger btn-block" do
        .fa.fa-sync
        Balik Kasapi

    %hr
    %h6
      Access Token
    %div
      - if @member.access_token.present?
        %code
          #{@member.access_token}
      - else
        %small
          No access token
    %br
    #btn-generate-access-token.btn.btn-info.btn-block
      .fa.fa-sync
      Generate Access Token
    %hr
    %h6
      Signature
    %div
      #btn-generate-signature.btn.btn-success.btn-block
        .fa.fa-pencil-alt
        Generate Signature

      - if @member.signature_data.present?
        .card
          .card-body
            %center
              %img{ src: @member.signature_data, width: "100", id: "signature-display" }
    - if @member.active?
      %hr
      %h6
        Resignation
      %div
        = link_to member_form_resignation_path(@member), class: 'btn btn-danger btn-block' do
          .fa.fa-times
          Resign Member
    - if @missing_accounts.size > 0
      %hr
      %h6
        Generate Missing Accounts
      #btn-generate-missing-accounts.btn.btn-warning.btn-block
        .fa.fa-sync
        Generate Missing Accounts
      .message
