%ul.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a.nav-link.active.show{"aria-controls" => "profile", "aria-selected" => "true", "data-toggle" => "tab", :href => "#home", :role => "tab"} 
      Profile
  %li.nav-item
    %a.nav-link{"aria-controls" => "loans", "aria-selected" => "false", "data-toggle" => "tab", :href => "#loans", :role => "tab"} 
      Loans
  %li.nav-item
    %a.nav-link{"aria-controls" => "savings_accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#savings_accounts", :role => "tab"} 
      Savings
  %li.nav-item
    %a.nav-link{"aria-controls" => "insurance_accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#insurance_accounts", :role => "tab"}
      Insurance
  %li.nav-item
    %a.nav-link{"aria-controls" => "equity_accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#equity_accounts", :role => "tab"}
      Equity
  %li.nav-item
    %a.nav-link{"aria-controls" => "survey_answers", "aria-selected" => "false", "data-toggle" => "tab", :href => "#survey_answers", :role => "tab"}
      Surveys
  %li.nav-item
    %a.nav-link{"aria-controls" => "member_shares", "aria-selected" => "false", "data-toggle" => "tab", :href => "#member_shares", :role => "tab"}
      Shares
  %li.nav-item
    %a.nav-link{"aria-controls" => "membership_payments", "aria-selected" => "false", "data-toggle" => "tab", :href => "#membership_payments", :role => "tab"}
      Membership Payments
  %li.nav-item
    %a.nav-link{"aria-controls" => "activity_logs", "aria-selected" => "false", "data-toggle" => "tab", :href => "#activity_logs", :role => "tab"}
      Activity Logs
.tab-content
  #home.tab-pane.active.show{:role => "tabpanel"}
    = render partial: "profile_details"
  #loans.tab-pane{:role => "tabpanel"}
    = render partial: "loans"
  #savings_accounts.tab-pane{:role => "tabpanel"}
    = render partial: "savings_accounts"
  #insurance_accounts.tab-pane{:role => "tabpanel"}
    = render partial: "insurance_accounts"
  #equity_accounts.tab-pane{:role => "tabpanel"}
    = render partial: "equity_accounts"
  #survey_answers.tab-pane{:role => "tabpanel"}
    = render partial: "members/survey_answers", locals: { survey_answers: @survey_answers }
  #member_shares.tab-pane{:role => "tabpanel"}
    = render partial: "members/member_shares", locals: { member_shares: @member_shares }
  #membership_payments.tab-pane{:role => "tabpanel"}
    = render partial: "members/membership_payments", locals: { membership_payments: @membership_payments }
  #activity_logs.tab-pane{:role => "tabpanel"}
    = render partial: "shared/activity_logs", locals: { activity_logs: @activity_logs }
