.card
  .card-body#semi_member_details
    %center
      = image_tag "#{@member.profile_picture_url}"
      %center
        = link_to "#", id: "btn-upload-profile-picture" do
          .fa.fa-upload
        - if @member.profile_picture.attached?
          |
          = link_to "#", id: "btn-delete-profile-picture" do
            .fa.fa-times
      %h2
        #{@member.full_name}
      %span.text-muted
        #{@member.identification_number}
    %ul.list-group.list-group-unbordered
      %li.list-group-item
        Branch
        .value.text-muted
          %b
            #{@member.branch.name.upcase}
            
      %li.list-group-item
        Center
        .value.text-muted
          %b
            #{@member.center.name.upcase}

      %li.list-group-item
        Status
        .value.text-muted
          %b
            #{@member.status.upcase}

      %li.list-group-item
        Date of Membership
        .value.text-muted
          %b
            - if @member.date_of_membership.present?
              #{@member.date_of_membership}
            - else
              N / A

      - if @member.resigned?
        %li.list-group-item
          Date Resigned
          .value.text-muted
            %b
              #{@member.date_resigned.try(:strftime,"%b %d, %Y")}

      - if @member.previous_date_resigned.present?
        %li.list-group-item
          Previous Date Resigned
          .value.text-muted
            %b
              #{@member.previous_date_resigned.strftime("%b %d, %Y")}

      %li.list-group-item
        Insurance Status
        .value.text-muted
          %b
            #{@member.insurance_status.upcase} 

      %li.list-group-item
        Member Type
        .value.text-muted
          %b
            = link_to "#", id: "btn-change-member-type" do
              #{@member.member_type.upcase}

      %li.list-group-item
        Recognition Date
        .value.text-muted
          %b
            = link_to "#", id: "btn-change-recognition-date" do
              - if @member.recognition_date.present?
                #{@member.recognition_date.strftime("%b %d, %Y")}
              - else
                N / A
      - if @member.recognition_date.present?
        %li.list-group-item
          Lenght of Stay (MBA)
          .value.text-muted
            %b
              #{@member.length_of_stay}
      / %li.list-group-item
      /   Insurance Active
      /   .value.text-muted
      /     %b
      /       %label.switch
      /         %input{:type => "checkbox"}/
      /         %span.slider.round
    - if @member.modifiable
      = link_to member_form_path(id: @member.id), class: 'btn btn-secondary btn-block', style: "margin-top: 10px;" do
        %i.fa.fa-edit
        Edit Record
    - else
      #btn-unlock.btn.btn-warning.btn-block{ style: "margin-top: 10px" }
        .fa.fa-unlock
        Unlock to Modify
    - if @member.resigned?
      = link_to "#", id: "btn-restore", class: "btn btn-danger btn-block" do
        .fa.fa-sync
        Balik Kasapi

    %hr
    %h6
      Access Token
    %div
      - if @member.access_token.present?
        %code
          #{@member.access_token}
      - else
        %small
          No access token
      #btn-generate-access-token.btn.btn-info.btn-block
        .fa.fa-sync
        Generate Access Token
    %br
    %hr
    %h6
      Register My KOINS
    %br
    #btn-register.btn.btn-info.btn-block
      .fa.fa-sync
      Register Now
    %hr
    %h6
      Signature
    %div
      - if @member.has_signature?
        %center
          %hr
          = image_tag "#{@member.signature_url}"
          %hr
      - else
        %p
          No signature
      #btn-upload-signature.btn.btn-success.btn-block
        .fa.fa-upload
        Upload Signature
      - if @member.signature_file.attached?
        = link_to "#", id: "btn-delete-signature", class: "btn btn-danger btn-block" do
          .fa.fa-times
          Delete Signature
    - if Settings.activate_microinsurance and @member.active? 
      %hr
      %h6
        Resign from Insurance
      %div
        #btn-resign-from-insurance.btn.btn-danger.btn-block
          .fa.fa-times
          Resign from Insurance
    - else 
      %hr
      %h6
        Resignation
      %div
        = link_to member_form_resignation_path(@member), class: 'btn btn-danger btn-block' do
          .fa.fa-times
          Resign Member
    - if @missing_accounts.size > 0
      %hr
      %h6
        Generate Missing Accounts
      #btn-generate-missing-accounts.btn.btn-warning.btn-block
        .fa.fa-sync
        Generate Missing Accounts
      .message
    %hr
    %h6
      BLIP Form
    %div
      #btn.btn-warning.btn-block
        = link_to member_blip_form_pdf_path(@member), target: "_blank", class: "btn btn-default btn-block" do
          .fa.fa-download
          Generate BLIP Form
