= link_to new_member_member_share_path(@member), class: "btn btn-primary btn-sm" do
  .fa.fa-plus
  New Certificate
%hr
- if member_shares.size == 0
  %p
    No shares for this member
- else
  %table.table.table-bordered.table-sm.table-hover
    %thead
      %tr
        %th
          Certificate Number
        %th
          Date Of Issue
        %th
          Number Of Shares
        %th
          Shares For
        %th.text-center
          Is Void
        - if current_user.roles.include?("BK") || current_user.roles.include?("SBK") || current_user.roles.include?("MIS")
          %th.text-center
            Actions

    %tbody
      - member_shares.each do |o|
        %tr
          %td
            = link_to member_member_share_path(@member, o) do
              #{o.certificate_number}
          %td
            - if o.date_of_issue
              #{o.date_of_issue.strftime("%B %d, %Y")}
          %td
            #{o.number_of_shares}
          %td
            #{o.try(:certificate_for)}
          %td.text-center
            - if o.is_void
              .badge.bg-danger
                .fa.fa-check
          - if current_user.roles.include?("BK") || current_user.roles.include?("SBK") || current_user.roles.include?("MIS")
            %td
              - if o.is_void.nil?
                = link_to member_member_share_path(@member , o), method: :delete, data: { confirm: 'Are you sure you want to void this share?' }, class: 'btn btn-sm btn-danger' do
                  .fa.fa-times
                  void share
