:css 
  .table th, .table td {
    border: none!important;
    padding: 8px;
  }


%h3.text-muted
  Basic Information
%table.table.table-responsive#profile-table
  %tbody
    %tr
      %th{:width => "300px;"} Pangalan
      %td= @member.full_name
    %tr
      %th Mother Maiden Name
      %td= @member.mother_maiden_name
    %tr
      %th Identification Number
      %td= @member.identification_number
    %tr
      %th Kasarian
      %td= @member.gender.upcase
    %tr
      %th Edad
      %td
        #{@member.age} (#{@member.date_of_birth.strftime("%B %d, %Y").try(:upcase)})
    %tr
      %th Address
      %td= @addressVal.join(', ')
 
        
      
%h3.text-muted
  Other Information

%table.table.table-responsive#profile-table
  %tbody
    %tr
      %th{:width => "300px;"} Numero ng Mobile
      %td= @member.mobile_number.try(:upcase)
    %tr
      %th Numero ng Telepono
      %td= @member.home_number.try(:upcase)
    %tr
      %th Katayuang Sibil
      %td= @member.civil_status.try(:upcase)
    %tr
      %th Relihiyon
      %td= @member.religion
    %tr
      %th Kapanganakan
      %td= @member.date_of_birth.strftime("%B %d, %Y").try(:upcase)
    %tr
      %th Lugar ng Kapanganakan
      %td= @member.place_of_birth.try(:upcase)
    %tr
      %th PHILHEALTH #:
      %td= @member.fetch_government_id("phil_health_number")
    %tr
      %th PAG-IBIG #:
      %td= @member.fetch_government_id("pag_ibig_number")
    %tr
      %th SSS #:
      %td= @member.fetch_government_id("sss_number")
    %tr
      %th TIN #:
      %td= @member.fetch_government_id("tin_number")
    %tr
      %th Asawa / Kinakasama:
      %td #{@member.spouse}
    %tr
      %th Uri ng Paninirahan
      %td #{@member.housing_type}
    %tr
      %th Tagal na sa Tirahan
      %td
    %tr
      %th Ipinakitang Katibayan
      %td
    %tr
      %th Bilang ng Anak
      %td
    %tr
      %th Ilan ang Nag-aaral (Elementary)
      %td
    %tr
      %th Ilan ang Nag-aaral (High School)
      %td
    %tr
      %th Ilan ang Nag-aaral (College)
      %td      
    %tr
      %th KDCI Member Since:
      %td
    %tr
      %th Is Reinstated:
      - if @member.is_reinstated?  
        %td YES
      - else
        %td NO
    - if @member.is_reinstated?
      %tr
        %th Reinstatement Date:
        %td #{@member.data.with_indifferent_access[:reinstatement][:reinstatement_date].try(:to_date).strftime("%B %d, %Y").try(:upcase)}
      %tr
        %th Old Recognition Date:
        %td #{@member.data.with_indifferent_access[:reinstatement][:old_recognition_date].try(:to_date).strftime("%B %d, %Y").try(:upcase)}

    %tr
      %th Certificate No.:
      %td
    %tr
      %th Old Certificate No.:
      %td

%h3.text-muted
  Legal Dependents
= render partial: "show_legal_dependents"

%h3.text-muted
  Beneficiaries
= render partial: "show_beneficiaries"

%h3.text-muted
  Resignation Records
= render partial: "show_resignation_records"
