%ol.breadcrumb
  %li.breadcrumb-item
    = link_to members_path do
      .fa.fa-users
      Members
  %li.breadcrumb-item
    .fa.fa-user
    #{@member.full_name} 
    .badge.badge-info{:style => "font-size: 15px;"}
      #{@member.status}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "#", class: "btn", id: "btn-create-survey" do
        .fa.fa-plus
        New Survey
      - if @member.active?
        = link_to loan_application_form_path(member_id: @member.id), class: "btn" do
          .fa.fa-plus
          New Loan
