%ol.breadcrumb
  %li.breadcrumb-item
    = link_to members_path do
      .fa.fa-users
      Members
  %li.breadcrumb-item
    = link_to member_path(@member) do
      .fa.fa-user
      #{@member.full_name}
  %li.breadcrumb-item
    .fa.fa-file
    #{@survey_answer.survey.name}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to member_survey_answer_form_path(@member, @survey_answer), class: "btn" do
        .fa.fa-pencil-alt
        Edit
      = link_to "#", class: "btn", id: "btn-delete-survey-answer" do
        .fa.fa-times
        Delete
