.row
  .col
    .card
      .card-body
        %h5
          Member Details 
        %table.table.table-sm.table-bordered.table-hover
          %tbody
            %tr
              %th Member:
              %td #{Member.find(@data[:member_id]).full_name}
            %tr
              %th Branch/Center
              %td #{Member.find(@data[:member_id]).branch.name} / #{Member.find(@data[:member_id]).center.name}
            %tr
              %th Particular
              %td 
                = text_area_tag :particular, "", class: "form-control", id: "particular"
            %tr
              %th OR
              %td 
                = text_field_tag :or_number, "", class: "form-control", id: "or_number"
            %tr
              %th SI
              %td 
                = text_field_tag :si_number, "", class: "form-control", id: "si_number" 
            %tr
              %th AR
              %td 
                = text_field_tag :ar_number, "", class: "form-control", id: "ar_number" 
            %tr
              %th Book
              %td 
                = select_tag :book_type, options_for_select(["JVB","CRB"], "#{@data[:meta][:book]}"), class: "form-control select-select2", id: "book_type" , prompt: "-- SELECT --"

        %table.table.table-sm.table-bordered.table-hover
          %thead
            %tr
              %th PN Number
              %th Loan Product
              %th Total Principal Balance
              %th Total Interest Balance
          %tbody
            - @data[:records].each do |loan|
              %tr
                %td
                  = link_to loan_path(Loan.find(loan[:loan_id])) do
                    #{Loan.find(loan[:loan_id]).pn_number}
                %td #{Loan.find(loan[:loan_id]).loan_product.name}
                %td #{loan[:total_principal_balance]}
                %td #{loan[:total_interest_balance]}

= render partial: "accounting_entry_display", locals: { accounting_entry: @accounting_entry }
= render partial: "adjustments/make_payments/modals/approve"
= render partial: "adjustments/make_payments/modals/delete"
= render partial: "members/modals/save_form_make_payments"
