= title
= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "index_filter"
          - if @members.size > 0
            = render partial: "index_list", locals: { members: @members }
            = paginate @members
          - else
            %p
              No members found

= render partial: "templates/center_options"

= javascript_include_tag "members/Index"

:javascript
  $(document).ready(function() {
    Index.init();
  });
