<%= title @member.full_name %>

<div class="row">
  <div class="col-md-4 col-xs-12">
    <%= render partial: "member_semi_details" %>
  </div>
  <div class="col-md-8 col-xs-12">
    <div class="card">
      <div class="card-body">
        <%= render partial: "member_details" %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "members/modals/generate_access_token" %>
<%= render partial: "members/modals/signature" %>
<%= render partial: "members/modals/new_loan" %>
<%= render partial: "members/modals/create_survey" %>
<%= render partial: "members/modals/delete" %>
<%= render partial: "members/modals/unlock" %>
<%= render partial: "members/modals/restore" %>
<%= render partial: "members/modals/restructure" %>
<%= render partial: "members/modals/recompute_restructure" %>
<%= render partial: "members/modals/change_member_type" %>
<%= render partial: "members/modals/change_recognition_date" %>
<%= render partial: "members/modals/resign_from_insurance" %>
<%= render partial: "members/modals/upload_profile_picture" %>
<%= render partial: "members/modals/upload_signature" %>
<%= render partial: "members/modals/delete_profile_picture" %>
<%= render partial: "members/modals/delete_signature" %>
<%= render partial: "members/modals/register" %>
<%= render partial: "templates/error_list" %>
<%= render partial: "members/modals/erase" %>
<%= render partial: "members/modals/claims_copy" %>
<%= render partial: "members/modals/make_payment_type" %>
