#member-show-page
  = render partial: "show_header"

  .container-fluid
    = render partial: "totals"
    .row{:style => "margin-top: 20px;"}
      .col-md-4
        = render partial: "member_semi_details"
      .col-md-8
        = render partial: "member_details"

= stylesheet_link_tag "member"
