#member-show-page
  = render partial: "show_header"

  .container-fluid
    = render partial: "totals"
    .row{:style => "margin-top: 20px;"}
      .col-md-4
        = render partial: "member_semi_details"
      .col-md-8
        = render partial: "member_details"

= render partial: "members/modals/generate_access_token"

= javascript_include_tag "members/Show.js"

= stylesheet_link_tag "member"

#parameters{ data: { member_id: @member.id } }

:javascript
  $(document).ready(function() {
    var $parameters       = $("#parameters");
    var memberId          = $parameters.data("member-id");
    var authenticityToken = $('meta[name="csrf-token"]').attr( 'content' );

    Show.init(memberId, authenticityToken);
  });
