.row
  .col
    .card
      .card-body
        %h2
          #{@survey_answer.survey}
        %hr
        - @data[:answers].each do |o|
          %h4
            #{o[:survey_question][:content]}: #{o[:answer]} - #{o[:score]}
          - o[:survey_question][:data][:options].each do |option|
            %div
              - if option[:content] == o[:answer]
                .badge.bg-success
                  .bi.bi-check
                #{option[:content]}
              - else
                .badge.bg-danger
                  .bi.bi-x
                #{option[:content]}
          %hr

= render partial: "members/modals/delete_survey_answer"
= render partial: "templates/error_list"
