%ol.breadcrumb
  %li.breadcrumb-item
    = link_to equity_accounts_path do
      .fa.fa-piggy-bank
      Savings
  %li.breadcrumb-item
    = link_to member_path(@equity_account.member) do
      .fa.fa-user
      #{@equity_account.member.full_name}
  %li.breadcrumb-item
    #{@equity_account.account_subtype}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      .btn
        %strong
          Balance:
        #{number_to_currency(@equity_account.balance, unit: "")}
